openapi: 3.0.3
info:
  title: AxonFlow Agent API
  description: |
    REST API for the AxonFlow Agent service - Authentication, Authorization, and Static Policy Enforcement Gateway.

    The Agent serves as the entry point for all client requests, providing:
    - **Proxy Mode**: Full request interception and processing through the Orchestrator
    - **Gateway Mode**: Pre-check and audit endpoints for SDK-managed LLM calls
    - **MCP (Model Context Protocol)**: Data connector queries and commands
    - **Authentication**: License and token validation
    - **Static Policy Enforcement**: Fast regex-based content filtering

    ## Single Entry Point

    The Agent is the single entry point for all client traffic (ADR-026):
    clients never call the Orchestrator directly — it is an internal service
    and must not be exposed. **Every `/api/v1/*` endpoint is reachable
    through the Agent.** This spec documents the endpoints the Agent serves
    natively; endpoints the Agent transparently proxies to the Orchestrator
    (audit, decisions, overrides, plans/workflows, cost/budgets/usage,
    connectors, LLM-provider management, evidence, and the
    regulatory-compliance families — EU AI Act, SEBI, RBI, OJK/BI/UU-PDP,
    MAS FEAT) are documented in their canonical specs: orchestrator-api.yaml
    for most families, masfeat-api.yaml for MAS FEAT, and policy-api.yaml
    for dynamic policies. They are still called via the Agent host and port.
    The EU AI Act family additionally keeps pointer entries in this spec, and
    a few agent-native subroutes under otherwise-proxied prefixes (audit
    verification, connector cache refresh) are documented here as well.

    ## Authentication

    All endpoints require authentication via:
    - `Authorization: Basic base64(clientId:clientSecret)`: OAuth2-style client credentials (recommended)
    - `user_token`: JWT token for user identification (in request body)

    **Note:** `clientSecret` is optional for community/self-hosted deployments. `clientId` is recommended for request identification.

    ## Deployment Modes

    - **SaaS**: Hosted by AxonFlow, multi-tenant (`DEPLOYMENT_MODE=saas`)
    - **Enterprise**: Customer-deployed (`DEPLOYMENT_MODE=enterprise`)
    - **Community**: Local development (`DEPLOYMENT_MODE=community`) - bypasses license validation

  version: 2.1.0
  contact:
    name: AxonFlow Support
    url: https://getaxonflow.com/support
  license:
    name: Business Source License 1.1
    url: https://github.com/getaxonflow/axonflow/blob/main/LICENSE

servers:
  - url: https://agent.getaxonflow.com
    description: Production (SaaS)
  - url: https://axonflow.example.com
    description: Self-hosted deployment (agent single entry point, ADR-026)
  - url: http://localhost:8080
    description: Local Development

tags:
  - name: Health
    description: Service health and readiness checks
  - name: Proxy Mode
    description: Full request interception and processing
  - name: Gateway Mode
    description: Pre-check and audit for SDK-managed LLM calls
  - name: Decision Mode
    description: |
      Synchronous policy decision endpoint (ADR-056). Called by an
      infrastructure gateway acting as a Policy Enforcement Point (PEP);
      AxonFlow returns a verdict (`allow` / `deny` / `needs_approval`) and
      the PEP enforces it. Same shared-policy engine as Gateway Mode
      pre-check; difference is the caller.
  - name: MCP Connectors
    description: Model Context Protocol data connector operations
  - name: Metrics
    description: Performance monitoring and observability
  - name: HITL
    description: |
      Human-in-the-Loop decision queue (EU AI Act Article 14).
      Route high-risk AI decisions for human review before execution.
  - name: EU AI Act (Proxied)
    description: |
      EU AI Act compliance module (conformity assessments, accuracy
      monitoring, evidence exports). Served by the orchestrator and PROXIED
      through the agent (`/api/v1/euaiact/*`) per the single-entry-point
      architecture — clients call the agent, never the orchestrator.
      Canonical operation schemas live in orchestrator-api.yaml. Enterprise only.
  - name: Circuit Breaker
    description: |
      Emergency circuit breaker for AI operations (EU AI Act Article 14).
      Instantly halt AI operations with two-person deactivation requirement.
  - name: OpenAI Compatible
    description: |
      OpenAI-compatible gateway endpoint (Issue #2351). Accepts standard
      OpenAI Chat Completions requests, runs AxonFlow policy checks, forwards
      to the upstream provider, records audit, and returns an OpenAI-compatible
      response. Customers change only `baseURL` in their OpenAI SDK setup.
  - name: Static Policies
    description: |
      Static policy management (ADR-018).
      Read-only access to system-managed policies for SQL injection detection,
      PII detection, and other pattern-based enforcement rules.
  - name: Audit Verification
    description: |
      Non-repudiation verification of the signed decision chain (#2722).
      Read-only endpoints that re-verify per-record Ed25519 signatures and
      the prev_hash linkage of a tenant's decision records, and publish the
      current public signing key for offline verification. These are not
      Policy Enforcement Points (no decision-engine call); they are org-scoped
      via the authenticated request context and read under RLS, so a caller can
      only verify chains/records belonging to its own organization. Available in
      any deployment mode once a usage database is configured; signatures verify
      only when an `AXONFLOW_AUDIT_SIGNING_KEY` is set (otherwise records are
      hash-chained but reported as unsigned).
  - name: MCP Server
    description: |
      Streamable-HTTP MCP server (spec 2025-06-18) exposing AxonFlow
      governance as MCP tools (check_policy, check_output, audit_tool_call,
      list_policies, get_policy_stats, explain_decision + Pro tools).
      Consumed by the Claude Code / Cursor / Codex plugins and any MCP
      client. Authentication is HTTP Basic (org:license-key) — NOT OAuth;
      the `/.well-known/oauth-*` discovery paths deliberately return an
      advisory 404 saying so.
  - name: OTLP Ingest
    description: |
      OpenTelemetry OTLP/HTTP ingest for Claude Code (cowork) telemetry
      (#2832). **Enterprise only** — community builds mount the routes but
      return 501. Org/tenant identity always comes from the authenticated
      license, never from OTLP resource attributes.

paths:
  /health:
    get:
      tags:
        - Health
      summary: Health check
      description: |
        Returns service health status. During startup, returns `status: starting`.
        Once fully initialized, returns `status: healthy`.

        This endpoint responds immediately even during initialization, allowing
        ECS/ALB health checks to pass while the service starts up.
      operationId: healthCheck
      responses:
        '200':
          description: Service health status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
              examples:
                healthy:
                  summary: Healthy service
                  value:
                    status: healthy
                    service: axonflow-agent
                    timestamp: "2025-01-15T10:30:00Z"
                    version: "1.0.0"
                starting:
                  summary: Service starting
                  value:
                    status: starting
                    service: axonflow-agent
                    timestamp: "2025-01-15T10:30:00Z"
                    version: "1.0.0"

  /metrics:
    get:
      tags:
        - Metrics
      summary: Get performance metrics
      description: |
        Returns real-time performance metrics including:
        - Request counts (total, success, failed, blocked)
        - Latency percentiles (P50, P95, P99)
        - Per-stage timing (auth, policy, network)
        - Request type breakdown
        - Connector metrics
      operationId: getMetrics
      responses:
        '200':
          description: Performance metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricsResponse'

  /prometheus:
    get:
      tags:
        - Metrics
      summary: Prometheus metrics endpoint
      description: Returns metrics in Prometheus exposition format for scraping
      operationId: getPrometheusMetrics
      responses:
        '200':
          description: Prometheus metrics
          content:
            text/plain:
              schema:
                type: string
                example: |
                  # HELP axonflow_agent_requests_total Total requests
                  # TYPE axonflow_agent_requests_total counter
                  axonflow_agent_requests_total{status="success"} 1234

  /api/request:
    post:
      tags:
        - Proxy Mode
      summary: Process client request
      description: |
        Main entry point for Proxy Mode. The Agent:
        1. Validates client license key
        2. Validates user JWT token
        3. Verifies tenant isolation
        4. Evaluates static policies (PII detection, etc.)
        5. Forwards to Orchestrator if allowed
        6. Returns response with policy metadata

        **Use this endpoint when you want AxonFlow to intercept and process all LLM requests.**
      operationId: processRequest
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
        - $ref: '#/components/parameters/ClientSecret'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientRequest'
            examples:
              sqlQuery:
                summary: SQL query request
                value:
                  query: "Show sales data for last quarter"
                  user_token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                  client_id: "travel-app-prod"
                  request_type: "sql"
                  context:
                    connector: "postgres"
              llmChat:
                summary: LLM chat request
                value:
                  query: "Summarize the customer feedback"
                  user_token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                  client_id: "support-bot"
                  request_type: "llm_chat"
                  context:
                    model_preference: "gpt-4"
              multiAgentPlan:
                summary: Multi-agent planning request
                value:
                  query: "Find flights from NYC to LAX and book a hotel"
                  user_token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                  client_id: "travel-planner"
                  request_type: "multi-agent-plan"
                  context:
                    domain: "travel"
                    execution_mode: "parallel"
      responses:
        '200':
          description: Request processed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientResponse'
              example:
                success: true
                data:
                  response: "Here is the summary of customer feedback..."
                result: "Flight options found: UA123, AA456, DL789"
                plan_id: "plan_1234567890_abc123"
                metadata:
                  tasks_executed: 3
                  execution_time_ms: 2500
                policy_info:
                  policies_evaluated:
                    - "pii-detection"
                    - "rate-limit"
                  static_checks:
                    - "ssn_pattern"
                    - "credit_card"
                  processing_time: "45.2ms"
                  tenant_id: "tenant-123"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Request blocked by policy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientResponse'
              example:
                success: false
                blocked: true
                block_reason: "Query contains PII (SSN detected)"
                policy_info:
                  policies_evaluated:
                    - "pii-ssn"
                  static_checks:
                    - "ssn_pattern"
                  processing_time: "2.1ms"
                  tenant_id: "tenant-123"
        '500':
          $ref: '#/components/responses/InternalError'

  /api/policy/pre-check:
    post:
      tags:
        - Gateway Mode
      summary: Pre-check request before LLM call
      description: |
        Gateway Mode Step 1: Call this endpoint before making your own LLM API call.

        The Agent validates the request against policies and returns:
        - `approved: true` if the request is allowed
        - `context_id` to link with the subsequent audit call
        - Optional `approved_data` from MCP connectors
        - Rate limit information

        **`approved_data` is only prefetched for clean approvals** (#2868):
        when the request is blocked, requires HITL approval, or requires
        redaction, connector prefetch is skipped and `approved_data` is
        never populated — governed data is not fetched for a request that
        may not proceed.

        **Context expires after 5 minutes.**

        ## Example Flow
        ```
        1. SDK calls pre-check → gets context_id, approved=true
        2. SDK makes direct LLM call (OpenAI, Anthropic, etc.)
        3. SDK calls audit with context_id and response metadata
        ```
      operationId: gatewayPreCheck
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreCheckRequest'
            examples:
              basic:
                summary: Basic pre-check
                value:
                  query: "What is the customer's order status?"
                  user_token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                  client_id: "customer-portal"
              withDataSources:
                summary: Pre-check with data sources
                value:
                  query: "Find flights from NYC to LAX next week"
                  user_token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                  client_id: "travel-app"
                  data_sources:
                    - "amadeus"
                  context:
                    departure_date: "2025-01-20"
                    return_date: "2025-01-25"
      responses:
        '200':
          description: Pre-check result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreCheckResponse'
              examples:
                approved:
                  summary: Request approved
                  value:
                    context_id: "ctx_abc123def456"
                    approved: true
                    policies:
                      - "pii-detection"
                      - "rate-limit"
                    rate_limit:
                      limit: 1000
                      remaining: 995
                      reset_at: "2025-01-15T11:00:00Z"
                    expires_at: "2025-01-15T10:35:00Z"
                piiRedaction:
                  summary: PII detected - flagged for redaction (default)
                  description: Default behavior (PII_ACTION=redact). Request approved but PII will be redacted in response.
                  value:
                    context_id: "ctx_abc123def456"
                    approved: true
                    requires_redaction: true
                    policies:
                      - "pii-ssn"
                    expires_at: "2025-01-15T10:35:00Z"
                blocked:
                  summary: Request blocked (when PII_ACTION=block)
                  value:
                    context_id: "ctx_abc123def456"
                    approved: false
                    policies:
                      - "pii-credit-card"
                    block_reason: "Query contains credit card number"
                    expires_at: "2025-01-15T10:35:00Z"
                withData:
                  summary: Approved with data
                  value:
                    context_id: "ctx_abc123def456"
                    approved: true
                    approved_data:
                      amadeus:
                        rows:
                          - flight_number: "UA123"
                            departure: "2025-01-20T08:00:00Z"
                            price: 299.99
                        row_count: 5
                        duration_ms: 450
                    policies:
                      - "pii-detection"
                    expires_at: "2025-01-15T10:35:00Z"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          description: |
            Budget exceeded — a configured cost budget blocks this request
            (Enterprise cost controls).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          description: |
            Community SaaS tenants past the daily request cap (written by
            the auth middleware; shared rate-limit envelope).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitEnvelope'
        '503':
          description: |
            Circuit breaker is open — an emergency stop matching this
            request's scope is active.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/audit/llm-call:
    post:
      tags:
        - Gateway Mode
      summary: Audit LLM call after completion
      description: |
        Gateway Mode Step 2: Call this endpoint after your LLM API call completes.

        Records:
        - Token usage for billing and quotas
        - Latency metrics
        - Provider and model information
        - Estimated cost

        **Requires a valid context_id from pre-check (not expired).**
      operationId: auditLLMCall
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuditLLMCallRequest'
            example:
              context_id: "ctx_abc123def456"
              client_id: "travel-app"
              response_summary: "Found 5 flights matching criteria"
              provider: "openai"
              model: "gpt-4"
              token_usage:
                prompt_tokens: 150
                completion_tokens: 200
                total_tokens: 350
              latency_ms: 1250
              metadata:
                request_type: "travel_search"
                cache_hit: false
      responses:
        '200':
          description: Audit recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLLMCallResponse'
              example:
                success: true
                audit_id: "aud_xyz789"
        '400':
          description: Invalid or expired context
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: "Invalid or expired context"
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/decide:
    post:
      tags:
        - Decision Mode
      summary: Policy decision for an infrastructure gateway (PEP)
      description: |
        Decision Mode endpoint (ADR-056 / epic #2426). The customer's
        infrastructure gateway (Policy Enforcement Point) calls this
        endpoint per request to get a verdict (`allow` / `deny` /
        `needs_approval`) and enforces the result. AxonFlow is consulted,
        never on the traffic path.

        The shared-policy engine behind this endpoint is the same engine
        that backs Gateway Mode's `POST /api/policy/pre-check`. The
        difference is the caller: Gateway Mode is called by application
        code; Decision Mode is called by an infrastructure gateway.

        **M1 scope: static policies only** (PII detection, SQL injection,
        dangerous patterns, RBI India PII, compliance categories) to keep
        the inline RPC budget in single-digit milliseconds. Dynamic/custom
        policy support is M2 scope per the epic.

        **OTel trace correlation:** the response carries a W3C-compatible
        32-hex `trace_id`. When the caller passes a `traceparent` header,
        its trace-id is reused so multi-gateway-layer decisions stitch
        into one end-to-end trace. Each decision also emits an OpenTelemetry
        span on the `axonflow.agent.decision` tracer.

        **Available at all tiers** (Community through Enterprise) — the
        policy engine is the same one Gateway Mode uses.
      operationId: decide
      parameters:
        - $ref: '#/components/parameters/AxonflowClient'
        - in: header
          name: traceparent
          description: |
            W3C trace-context header. When present and valid, the trace-id
            is reused in the response so multi-layer decisions correlate
            into one end-to-end trace.
          required: false
          schema:
            type: string
            example: "00-0af7651916cd43dd8448eb211c80319c-b7ad6b7169203331-01"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DecideRequest'
            examples:
              llmStage:
                summary: LLM-stage decision (most common)
                value:
                  stage: "llm"
                  caller_identity:
                    gateway_id: "llm-gateway-01"
                    tenant_id: "acme-prod"
                  target:
                    type: "llm"
                    model: "gpt-4o"
                    provider: "openai"
                  query: "What is the customer's order status?"
              toolStage:
                summary: Tool-stage decision (MCP gateway)
                value:
                  stage: "tool"
                  caller_identity:
                    gateway_id: "mcp-gateway-01"
                    tenant_id: "acme-prod"
                  target:
                    type: "tool"
                    tool: "postgres.query"
                  query: "SELECT name, email FROM customers LIMIT 10"
      responses:
        '200':
          description: Decision verdict (allow / deny / needs_approval)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecideResponse'
              examples:
                allow:
                  summary: Verdict allow
                  value:
                    verdict: "allow"
                    decision_id: "f81d4fae-7dec-11d0-a765-00a0c91e6bf6"
                    trace_id: "0af7651916cd43dd8448eb211c80319c"
                    stage: "llm"
                    reasons: []
                    obligations: []
                    evaluated_policies: []
                    expires_at: "2026-05-23T10:35:00Z"
                deny:
                  summary: Verdict deny (SQLi triggered)
                  value:
                    verdict: "deny"
                    decision_id: "a73e5b1c-2b48-4f2e-a3c4-2e8a3b9f8d1e"
                    trace_id: "0af7651916cd43dd8448eb211c80319c"
                    stage: "tool"
                    reasons: ["SQL injection pattern matched"]
                    obligations: []
                    evaluated_policies: ["sys_sqli_union"]
                    expires_at: "2026-05-23T10:35:00Z"
                allowWithRedaction:
                  summary: Verdict allow with redact obligation
                  value:
                    verdict: "allow"
                    decision_id: "c4e8f1a2-9d3b-4c7e-b8f1-7a2c3d4e5f6a"
                    trace_id: "0af7651916cd43dd8448eb211c80319c"
                    stage: "llm"
                    reasons: []
                    obligations:
                      - type: "redact_pii"
                        detail: "SSN detected in query"
                    evaluated_policies: ["sys_pii_ssn"]
                    expires_at: "2026-05-23T10:35:00Z"
        '400':
          description: Request malformed (invalid JSON or missing required fields).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecideErrorResponse'
        '401':
          description: |
            Authentication failed. In non-community mode the
            `Authorization` header is required and credentials must
            resolve to a valid client.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecideErrorResponse'
        '403':
          description: |
            Tenant assertion mismatch -- `caller_identity.tenant_id` or
            `caller_identity.org_id` in the body did not match the
            authenticated identity (non-community mode only).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecideErrorResponse'
        '429':
          description: |
            Community SaaS tenants past the daily request cap. Only
            emitted on the SaaS surface; self-hosted Community and
            Enterprise deployments do not return 429. The 429 is written
            by the auth middleware **before** the decide handler runs, so
            the body is the shared rate-limit envelope — NOT the
            DecideErrorResponse shape.
          headers:
            Retry-After:
              schema:
                type: integer
              description: Seconds until the daily quota window resets.
            X-Axonflow-Tier-Limit:
              schema:
                type: string
              description: The tier limit that was hit.
            X-Axonflow-Upgrade-URL:
              schema:
                type: string
              description: Where to compare/upgrade tiers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitEnvelope'
        '503':
          description: |
            Circuit breaker is open. The body carries
            `verdict: "deny"` as the fail-closed default; a fail-open
            PEP adapter should treat 5xx as "PDP degraded" and apply
            its configured posture per ADR-056 §Failure posture.
            A `Retry-After` header is included when the breaker has
            a scheduled expiration.
          headers:
            Retry-After:
              schema:
                type: integer
              description: Seconds until the breaker is scheduled to close.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecideErrorResponse'

  /v1/chat/completions:
    post:
      tags:
        - OpenAI Compatible
      summary: OpenAI-compatible chat completions with policy enforcement
      description: |
        Accepts a standard OpenAI Chat Completions request, runs AxonFlow
        policy checks via the shared policy engine, forwards to the upstream
        provider, records audit (tokens, cost, latency, policy decision),
        and returns an OpenAI-compatible response.

        The caller passes their upstream provider API key via the
        `X-Provider-Key` header. AxonFlow auth (Basic Auth or community
        mode) is handled by the same `apiAuthMiddleware` as all other
        agent endpoints.

        Streaming (`stream: true`) is not supported in this release and
        returns HTTP 400 with a clear error.
      operationId: chatCompletionsOpenAICompat
      parameters:
        - name: X-Provider-Key
          in: header
          required: true
          description: Upstream LLM provider API key (e.g. OpenAI API key)
          schema:
            type: string
        - name: traceparent
          in: header
          required: false
          description: W3C traceparent header for trace correlation
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionRequest'
            example:
              model: "gpt-4o"
              messages:
                - role: "user"
                  content: "What is 2+2?"
              temperature: 0.7
              max_tokens: 100
      responses:
        '200':
          description: Successful completion
          headers:
            X-AxonFlow-Decision-Id:
              description: UUID correlating this request in audit logs
              schema:
                type: string
                format: uuid
            X-AxonFlow-Trace-Id:
              description: W3C-compatible 32-hex trace ID for OTel correlation
              schema:
                type: string
                pattern: '^[0-9a-f]{32}$'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionResponse'
        '400':
          description: |
            Request validation error or policy denial. Policy denials
            use `type: "policy_violation"` and `code: "policy_denied"`.
            The OpenAI SDK parses this as `openai.BadRequestError`.
          headers:
            X-AxonFlow-Decision-Id:
              description: UUID correlating this request in audit logs
              schema:
                type: string
                format: uuid
            X-AxonFlow-Trace-Id:
              description: W3C-compatible 32-hex trace ID
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIErrorResponse'
              examples:
                policy_denied:
                  summary: Policy violation (PII detected)
                  value:
                    error:
                      message: "Request blocked by policy: PII detected"
                      type: "policy_violation"
                      code: "policy_denied"
                stream_not_supported:
                  summary: Streaming not supported
                  value:
                    error:
                      message: "Streaming is not supported in this release. Remove stream: true."
                      type: "invalid_request_error"
                      code: "stream_not_supported"
                missing_provider_key:
                  summary: Missing provider key
                  value:
                    error:
                      message: "X-Provider-Key header is required."
                      type: "invalid_request_error"
                      code: "missing_provider_key"
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/policies/test:
    post:
      tags:
        - Proxy Mode
      summary: Test policy evaluation
      description: |
        Test how policies would evaluate a query without making an actual request.
        Useful for debugging and policy development.
      operationId: testPolicies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - query
              properties:
                query:
                  type: string
                  description: Query to test
                user_email:
                  type: string
                  description: User email for context
                request_type:
                  type: string
                  description: Request type
            example:
              query: "Show me customer SSN 123-45-6789"
              user_email: "analyst@company.com"
              request_type: "sql"
      responses:
        '200':
          description: Policy test result
          content:
            application/json:
              schema:
                type: object
                properties:
                  blocked:
                    type: boolean
                  reason:
                    type: string
                  triggered_policies:
                    type: array
                    items:
                      type: string
                  checks_performed:
                    type: array
                    items:
                      type: string
                  processing_time_ms:
                    type: number
              example:
                blocked: true
                reason: "PII detected: SSN pattern found in query"
                triggered_policies:
                  - "pii-ssn"
                checks_performed:
                  - "ssn_pattern"
                  - "credit_card_pattern"
                  - "email_pattern"
                processing_time_ms: 0.8

  /api/clients:
    get:
      tags:
        - Proxy Mode
      summary: List registered clients
      description: Returns all registered client applications
      operationId: listClients
      responses:
        '200':
          description: List of clients
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Client'

    post:
      tags:
        - Proxy Mode
      summary: Register a new client
      description: Register a new client application
      operationId: createClient
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Client'
      responses:
        '201':
          description: Client created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
        '400':
          $ref: '#/components/responses/BadRequest'

  /mcp/connectors:
    get:
      tags:
        - MCP Connectors
      summary: List all MCP connectors
      description: |
        Returns all registered MCP connectors with their health status.

        Connectors provide access to external data sources:
        - PostgreSQL
        - Cassandra
        - Salesforce
        - Snowflake
        - Amadeus (travel API)
        - Slack
      operationId: listMCPConnectors
      responses:
        '200':
          description: List of connectors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorListResponse'
              example:
                connectors:
                  - name: "postgres_main"
                    type: "postgres"
                    version: "1.0.0"
                    healthy: true
                    latency_ms: 5
                    capabilities:
                      - "query"
                      - "execute"
                  - name: "amadeus"
                    type: "amadeus"
                    version: "1.0.0"
                    healthy: true
                    latency_ms: 120
                    capabilities:
                      - "search_flights"
                      - "search_hotels"
                count: 2
        '503':
          description: MCP registry not initialized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /mcp/connectors/{name}/health:
    get:
      tags:
        - MCP Connectors
      summary: Check connector health
      description: Returns health status for a specific connector
      operationId: getMCPConnectorHealth
      parameters:
        - name: name
          in: path
          required: true
          description: Connector name
          schema:
            type: string
          example: "postgres_main"
      responses:
        '200':
          description: Connector health status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorHealthResponse'
              example:
                healthy: true
                latency_ms: 5
                last_check: "2025-01-15T10:30:00Z"
        '404':
          description: Connector not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /mcp/resources/query:
    post:
      tags:
        - MCP Connectors
      summary: Execute MCP query (read-only)
      description: |
        Execute a read-only query via an MCP connector.

        This follows the MCP Resource pattern for data retrieval.
        For write operations, use `/mcp/tools/execute`.

        ## Audit Logging

        All MCP queries are automatically logged to the `mcp_query_audits` table with:
        - **Request phase**: SQLi detection results, PII blocking decisions
        - **Response phase**: PII redaction details, redacted field paths
        - **Exfiltration checks**: Row counts, volume limit violations
        - **Result**: Success/failure, error messages, duration

        Each audit entry includes `audit_id` for correlation with SDK `PolicyInfo`.
        Statement content is stored as SHA256 hash for privacy.
      operationId: mcpQuery
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MCPQueryRequest'
            examples:
              sqlQuery:
                summary: SQL query
                value:
                  client_id: "analytics-app"
                  user_token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                  connector: "postgres_main"
                  statement: "SELECT * FROM orders WHERE status = $1"
                  parameters:
                    "1": "completed"
                  limit: 100
                  timeout: "10s"
              amadeusSearch:
                summary: Flight search
                value:
                  client_id: "travel-app"
                  user_token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                  connector: "amadeus"
                  operation: "search_flights"
                  parameters:
                    origin: "NYC"
                    destination: "LAX"
                    departure_date: "2025-01-20"
                  timeout: "15s"
      responses:
        '200':
          description: Query executed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MCPQueryResponse'
              example:
                success: true
                connector: "amadeus"
                data:
                  - flight_number: "UA123"
                    departure: "2025-01-20T08:00:00Z"
                    arrival: "2025-01-20T11:00:00Z"
                    price: 299.99
                row_count: 5
                duration_ms: 450
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Connector not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalError'

  /mcp/tools/execute:
    post:
      tags:
        - MCP Connectors
      summary: Execute MCP command (write)
      description: |
        Execute a write command via an MCP connector.

        This follows the MCP Tool pattern for data modification.
        For read operations, use `/mcp/resources/query`.

        ## Audit Logging

        All MCP execute operations are automatically logged to the `mcp_query_audits` table with:
        - **Request phase**: SQLi detection results, dangerous operation blocking
        - **Result**: Rows affected, success/failure, error messages, duration

        Each audit entry includes `audit_id` for correlation. Operation type (INSERT, UPDATE, DELETE)
        is stored in the `operation` field.
      operationId: mcpExecute
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MCPExecuteRequest'
            example:
              client_id: "order-service"
              user_token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
              connector: "postgres_main"
              action: "UPDATE"
              statement: "UPDATE orders SET status = $1 WHERE id = $2"
              parameters:
                "1": "shipped"
                "2": "ord-12345"
              timeout: "5s"
      responses:
        '200':
          description: Command executed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MCPExecuteResponse'
              example:
                success: true
                connector: "postgres_main"
                rows_affected: 1
                duration_ms: 15
                message: "Update successful"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v1/mcp/check-input:
    post:
      tags:
        - MCP Connectors
      summary: Validate MCP input against policies
      description: |
        Validate an MCP request (query or command) against configured policies **without executing it**.

        This endpoint enables external orchestrators (LangGraph, CrewAI, custom pipelines) to use
        AxonFlow as a policy gate while managing MCP connector execution themselves.

        ## Policy Evaluation

        The following policies are evaluated in order:
        1. **Dynamic policies** (if enabled): Rate limits, budgets, time-access, role-access via Orchestrator
        2. **Static policies**: SQL injection detection, dangerous query blocking, PII detection

        If any policy blocks the request, the response returns `allowed: false` with a `block_reason`.

        ## When to Use

        Use `check-input` + `check-output` when your orchestrator manages MCP execution natively.
        Use `/mcp/resources/query` or `/mcp/tools/execute` when you want AxonFlow to handle both
        policy enforcement and connector execution.

        ## Audit Logging

        All check-input evaluations are logged to the `mcp_query_audits` table with
        `operation: "check-input"` for compliance tracking. Audit entries include
        `parameters_hash` (SHA-256) and `parameter_count` for forensic analysis.
      operationId: mcpCheckInput
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MCPCheckInputRequest'
            examples:
              cleanQuery:
                summary: Clean SQL query (passes all policies)
                value:
                  client_id: "analytics-app"
                  user_token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                  tenant_id: "tenant-123"
                  connector_type: "postgres"
                  statement: "SELECT name, email FROM users WHERE id = $1"
                  parameters:
                    "1": "usr-001"
                  operation: "query"
              sqliAttempt:
                summary: SQL injection attempt (blocked)
                value:
                  client_id: "analytics-app"
                  user_token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                  tenant_id: "tenant-123"
                  connector_type: "postgres"
                  statement: "SELECT * FROM users; DROP TABLE users--"
      responses:
        '200':
          description: Input passed all policy checks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MCPCheckInputResponse'
              example:
                allowed: true
                policies_evaluated: 12
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Input blocked by policy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MCPCheckInputResponse'
              example:
                allowed: false
                block_reason: "SQL injection detected in statement"
                policies_evaluated: 3
                policy_info:
                  policies_evaluated: 3
                  blocked: true
                  block_reason: "SQL injection detected in statement"
        '415':
          description: |
            Unregistered `content_type` (ADR-056). The request named a
            content type that no registered detector handles. A canonical
            blocked audit row tagged `content_type_unsupported` is written
            before the error returns — the request is treated as blocked,
            not silently skipped.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Dynamic policy evaluator unavailable (only when graceful degradation is disabled)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/mcp/check-output:
    post:
      tags:
        - MCP Connectors
      summary: Validate MCP output against policies
      description: |
        Validate MCP response data against configured policies **without having executed the query
        through AxonFlow**.

        This endpoint enables external orchestrators to apply AxonFlow's output-side policy
        enforcement (PII redaction, exfiltration limits, SQLi response scanning) to data they
        fetched from MCP connectors independently.

        ## Policy Evaluation

        The following checks are applied in order:
        1. **SQLi response scanning**: Detects SQL injection artifacts in response data
        2. **Static response policies**: PII detection and redaction (SSN, credit card, Aadhaar, etc.)
        3. **Exfiltration limits** (query-style only): Row count and byte size limits

        If PII is detected, the response includes `redacted_data` with masked values.
        If exfiltration limits are exceeded, the response returns `allowed: false`.

        ## Query vs Execute Responses

        - **Query responses** (`response_data`): Full policy evaluation including exfiltration checks
        - **Execute responses** (`message`): SQLi scanning and PII checks only (no exfiltration limits)

        ## Audit Logging

        All check-output evaluations are logged to the `mcp_query_audits` table with
        `operation: "check-output"` for compliance tracking.
      operationId: mcpCheckOutput
      parameters:
        - $ref: '#/components/parameters/AxonflowClient'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MCPCheckOutputRequest'
            examples:
              cleanData:
                summary: Clean query response (passes all policies)
                value:
                  client_id: "analytics-app"
                  user_token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                  tenant_id: "tenant-123"
                  connector_type: "postgres"
                  response_data:
                    - id: 1
                      name: "Alice Johnson"
                      department: "Engineering"
                  row_count: 1
              piiData:
                summary: Response containing PII (redacted)
                value:
                  client_id: "analytics-app"
                  user_token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                  tenant_id: "tenant-123"
                  connector_type: "postgres"
                  response_data:
                    - id: 1
                      name: "Alice Johnson"
                      ssn: "123-45-6789"
                  row_count: 1
              executeResponse:
                summary: Execute-style response (message only)
                value:
                  client_id: "analytics-app"
                  user_token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                  tenant_id: "tenant-123"
                  connector_type: "postgres"
                  message: "3 rows updated"
                  metadata:
                    query: "UPDATE users SET status = 'active' WHERE region = 'us'"
      responses:
        '200':
          description: Output passed all policy checks (may include redacted data)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MCPCheckOutputResponse'
              examples:
                clean:
                  summary: No issues found
                  value:
                    allowed: true
                    policies_evaluated: 8
                redacted:
                  summary: PII detected and redacted
                  value:
                    allowed: true
                    redacted_data:
                      - id: 1
                        name: "Alice Johnson"
                        ssn: "XXX-XX-6789"
                    policies_evaluated: 8
                    policy_info:
                      policies_evaluated: 8
                      blocked: false
                      redactions_applied: 1
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Output blocked by policy (exfiltration limit exceeded or SQLi detected)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MCPCheckOutputResponse'
              example:
                allowed: false
                block_reason: "Exfiltration limit exceeded: row_count 15000 > limit 10000"
                policies_evaluated: 3
                exfiltration_info:
                  exceeded: true
                  limit_type: rows
                  rows_returned: 15000
                  row_limit: 10000
                  bytes_returned: 5242880
                  byte_limit: 10485760

  /mcp/health:
    get:
      tags:
        - MCP Connectors
      summary: Overall MCP health
      description: Returns aggregate health status for all MCP connectors
      operationId: getMCPHealth
      responses:
        '200':
          description: MCP system health
          content:
            application/json:
              schema:
                type: object
                properties:
                  healthy:
                    type: boolean
                    description: True if all connectors are healthy
                  total_connectors:
                    type: integer
                  healthy_count:
                    type: integer
                  unhealthy_count:
                    type: integer
                  timestamp:
                    type: string
                    format: date-time
              example:
                healthy: true
                total_connectors: 3
                healthy_count: 3
                unhealthy_count: 0
                timestamp: "2025-01-15T10:30:00Z"

  # ==========================================================================
  # MCP Server (Streamable HTTP, spec 2025-06-18)
  # ==========================================================================

  /api/v1/mcp-server:
    post:
      tags:
        - MCP Server
      summary: MCP JSON-RPC endpoint
      description: |
        Single Streamable-HTTP endpoint for the built-in MCP server. Accepts
        MCP JSON-RPC 2.0 messages (`initialize`, `tools/list`, `tools/call`,
        …) and returns JSON-RPC responses. Governance tools exposed:
        `check_policy`, `check_output`, `audit_tool_call`, `list_policies`,
        `get_policy_stats`, `explain_decision`, plus Pro-tier tools.

        Authentication: HTTP Basic `org:license-key` on every request.
        Tier rate limits (Community SaaS) are reported **inside** the
        JSON-RPC result (`result.content[0].text`), not as an HTTP 429.

        The JSON-RPC `check_output` tool result DOES include
        `redacted_message` — unlike the standalone REST
        `/api/v1/mcp/check-output` endpoint (#2870).
      operationId: mcpServerJSONRPC
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: MCP JSON-RPC 2.0 message
              properties:
                jsonrpc:
                  type: string
                  enum: ["2.0"]
                id:
                  description: Request ID (absent for notifications)
                method:
                  type: string
                  example: "tools/call"
                params:
                  type: object
                  additionalProperties: true
      responses:
        '200':
          description: JSON-RPC response (errors are carried in the JSON-RPC error member)
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
    get:
      tags:
        - MCP Server
      summary: Not supported (405)
      description: |
        The MCP server does not offer a server-initiated SSE stream; GET
        always returns 405 Method Not Allowed.
      operationId: mcpServerGet
      responses:
        '405':
          description: Method not allowed
    delete:
      tags:
        - MCP Server
      summary: Terminate MCP session
      description: Terminates the MCP session identified by the `Mcp-Session-Id` header.
      operationId: mcpServerDelete
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
        - name: Mcp-Session-Id
          in: header
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Session terminated
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ==========================================================================
  # OTLP Ingest (Enterprise; community returns 501)
  # ==========================================================================

  /v1/metrics:
    post:
      tags:
        - OTLP Ingest
      summary: OTLP metrics ingest
      description: |
        OTLP/HTTP `ExportMetricsServiceRequest` ingest for Claude Code
        telemetry. Content types: `application/x-protobuf` (default when
        the header is empty), `application/protobuf`, or `application/json`;
        anything else returns **415**. Success returns 200 with an OTLP
        `ExportMetricsServiceResponse` in the request's content type.

        **Enterprise only** — community builds return **501** with
        `{"error": {"code", "message"}}`. Org/tenant comes from the
        authenticated license (Basic auth), never from OTLP resource
        attributes.
      operationId: otlpIngestMetrics
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
      requestBody:
        required: true
        content:
          application/x-protobuf:
            schema:
              type: string
              format: binary
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: OTLP export response (matching request content type)
        '400':
          description: Malformed OTLP payload
        '401':
          $ref: '#/components/responses/Unauthorized'
        '415':
          description: Unsupported Content-Type
        '501':
          description: Community build — OTLP ingest is an Enterprise feature
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'

  /v1/logs:
    post:
      tags:
        - OTLP Ingest
      summary: OTLP logs ingest
      description: |
        OTLP/HTTP `ExportLogsServiceRequest` ingest for Claude Code
        telemetry. Same content-type, auth, edition, and error semantics as
        `POST /v1/metrics`.
      operationId: otlpIngestLogs
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
      requestBody:
        required: true
        content:
          application/x-protobuf:
            schema:
              type: string
              format: binary
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: OTLP export response (matching request content type)
        '400':
          description: Malformed OTLP payload
        '401':
          $ref: '#/components/responses/Unauthorized'
        '415':
          description: Unsupported Content-Type
        '501':
          description: Community build — OTLP ingest is an Enterprise feature
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'

  # ==========================================================================
  # Connector Cache Management (ADR-007)
  # ==========================================================================

  /api/v1/connectors/refresh:
    post:
      tags:
        - MCP Connectors
      summary: Refresh all connector caches
      description: |
        Invalidates and refreshes all cached connector instances across all tenants.
        Use this after bulk configuration changes or deployments.

        **Performance Impact:** This operation clears all cached connectors.
        The next request for each connector will incur factory creation overhead.

        ⚠️ **Ops/internal endpoint — currently unauthenticated** (#2883):
        the connector refresh + cache-stats routes are registered without
        the auth middleware. Deploy them behind network-level controls
        until #2883 lands.
      operationId: refreshAllConnectors
      responses:
        '200':
          description: All connectors refreshed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorRefreshResponse'
              example:
                success: true
                message: "All connector caches refreshed"
                scope: "all"
                duration: "12.345ms"
                stats:
                  cached_connectors: 0
                  hits: 12345
                  misses: 234
                  evictions: 15
                  hit_rate_percent: 98.1
        '503':
          description: Registry not initialized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: "TenantConnectorRegistry not initialized"

  /api/v1/connectors/refresh/{tenant_id}:
    post:
      tags:
        - MCP Connectors
      summary: Refresh tenant connector caches
      description: |
        Invalidates and refreshes all cached connector instances for a specific tenant.
        Use this after updating a tenant's connector configuration.
      operationId: refreshTenantConnectors
      parameters:
        - name: tenant_id
          in: path
          required: true
          description: The tenant ID whose connectors should be refreshed
          schema:
            type: string
          example: "tenant-123"
      responses:
        '200':
          description: Tenant connectors refreshed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorRefreshResponse'
              example:
                success: true
                message: "Tenant connector caches refreshed"
                scope: "tenant"
                tenant_id: "tenant-123"
                duration: "2.456ms"
                stats:
                  cached_connectors: 12
                  evictions: 3
        '400':
          description: Missing tenant_id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Registry not initialized

  /api/v1/connectors/refresh/{tenant_id}/{connector_name}:
    post:
      tags:
        - MCP Connectors
      summary: Refresh specific connector cache
      description: |
        Invalidates and refreshes a specific connector instance for a tenant.
        Use this after updating a single connector's credentials or configuration.
      operationId: refreshConnector
      parameters:
        - name: tenant_id
          in: path
          required: true
          description: The tenant ID
          schema:
            type: string
          example: "tenant-123"
        - name: connector_name
          in: path
          required: true
          description: The connector name to refresh
          schema:
            type: string
          example: "customer-db"
      responses:
        '200':
          description: Connector refreshed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorRefreshResponse'
              example:
                success: true
                message: "Connector cache refreshed"
                scope: "connector"
                tenant_id: "tenant-123"
                connector: "customer-db"
                duration: "0.789ms"
        '400':
          description: Missing required parameters
        '503':
          description: Registry not initialized

  /api/v1/connectors/cache/stats:
    get:
      tags:
        - MCP Connectors
      summary: Get connector cache statistics
      description: |
        Returns cache performance statistics including hit rate, miss count,
        evictions, and factory operation counts. Useful for monitoring cache health.
      operationId: getConnectorCacheStats
      responses:
        '200':
          description: Cache statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorCacheStats'
              example:
                cached_connectors: 15
                hits: 12345
                misses: 234
                evictions: 12
                factory_creations: 246
                factory_failures: 0
                connection_errors: 2
                hit_rate_percent: 98.1
                last_eviction: "2025-12-09T10:30:00Z"
                last_factory_create: "2025-12-09T14:20:00Z"
                registry_enabled: true
                timestamp: "2025-12-09T14:25:00Z"
        '503':
          description: Registry not initialized

  # ==========================================================================
  # HITL - Human-in-the-Loop (EU AI Act Article 14)
  # ==========================================================================

  /api/v1/hitl/queue:
    post:
      tags:
        - HITL
      summary: Create HITL approval request
      description: |
        Route a high-risk AI decision for human review.
        EU AI Act Article 14 requires human oversight for high-risk AI systems.

        Requires both `X-Org-ID` and `X-Tenant-ID` headers (stamped by the
        auth middleware) — **400** when either is missing.

        **Enterprise only** — community builds expose only
        `GET /api/v1/hitl/status`.
      operationId: createHITLDecision
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HITLCreateRequest'
      responses:
        '201':
          description: Approval request created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/HITLApprovalRequest'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: |
            HITL approvals are disabled for the deployment's license tier
            (e.g. an Enterprise build running a Community-tier license).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: |
            Community SaaS pending-approvals cap reached for the tenant.
            Not returned on self-hosted or Enterprise deployments.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    get:
      tags:
        - HITL
      summary: List HITL approval requests
      description: |
        Retrieve approval requests, filtered and paginated. Tenant scoping
        comes from the authenticated request context (RLS), not a query
        parameter.
      operationId: listHITLDecisions
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
        - name: status
          in: query
          description: Comma-separated status filter (e.g. `pending` or `pending,approved`)
          schema:
            type: string
            example: "pending"
        - name: severity
          in: query
          description: Comma-separated severity filter
          schema:
            type: string
            example: "high,critical"
        - name: policy_id
          in: query
          schema:
            type: string
        - name: client_id
          in: query
          schema:
            type: string
        - name: user_id
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
        - name: order_by
          in: query
          schema:
            type: string
        - name: order_dir
          in: query
          schema:
            type: string
            enum: [asc, desc]
      responses:
        '200':
          description: List of approval requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/HITLApprovalRequest'
                  meta:
                    type: object
                    properties:
                      total:
                        type: integer
                        format: int64
                      limit:
                        type: integer
                      offset:
                        type: integer

  /api/v1/hitl/queue/{id}:
    get:
      tags:
        - HITL
      summary: Get HITL approval request
      operationId: getHITLDecision
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
        - name: id
          in: path
          required: true
          description: The request UUID (`request_id`)
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Approval request details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/HITLApprovalRequest'
        '400':
          description: Invalid request ID (not a UUID)
        '404':
          description: Request not found

  /api/v1/hitl/queue/{id}/approve:
    post:
      tags:
        - HITL
      summary: Approve HITL request
      description: Approve a pending request to allow AI execution
      operationId: approveHITLDecision
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HITLReviewInput'
      responses:
        '200':
          description: Request approved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      status:
                        type: string
                        example: "approved"
        '400':
          description: Invalid request ID or JSON body
        '404':
          description: Request not found
        '409':
          description: Conflict — request is not pending (already reviewed or expired)

  /api/v1/hitl/queue/{id}/reject:
    post:
      tags:
        - HITL
      summary: Reject HITL request
      description: Reject a pending request to block AI execution
      operationId: rejectHITLDecision
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HITLReviewInput'
      responses:
        '200':
          description: Request rejected
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      status:
                        type: string
                        example: "rejected"
        '400':
          description: Invalid request ID or JSON body
        '404':
          description: Request not found
        '409':
          description: Conflict — request is not pending

  /api/v1/hitl/queue/{id}/override:
    post:
      tags:
        - HITL
      summary: Override HITL request
      description: |
        Record an authorized override of a pending request — the caller takes
        responsibility for letting the action proceed outside the normal
        approve/reject flow. Requires a justification for the audit trail.
      operationId: overrideHITLDecision
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                justification:
                  type: string
                  description: Required by the service — missing justification returns 400
                authorized_by_id:
                  type: string
                authorized_by_email:
                  type: string
                authorized_by_role:
                  type: string
      responses:
        '200':
          description: Request overridden
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      status:
                        type: string
                        example: "overridden"
        '400':
          description: Invalid request ID/JSON, or missing justification
        '404':
          description: Request not found
        '409':
          description: Conflict — another reviewer decided this request first (lost race)

  /api/v1/hitl/queue/{id}/history:
    get:
      tags:
        - HITL
      summary: Get HITL request audit history
      description: Immutable audit-trail entries for a request (create/approve/reject/override/expire actions).
      operationId: getHITLDecisionHistory
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: History entries
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/HITLHistoryEntry'
        '400':
          description: Invalid request ID

  /api/v1/hitl/stats:
    get:
      tags:
        - HITL
      summary: Pending-queue statistics
      description: |
        Dashboard summary of the pending queue for the caller's org.
        Requires the `X-Org-ID` header (400 when missing).
      operationId: getHITLStats
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
      responses:
        '200':
          description: Pending statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      total_pending:
                        type: integer
                        format: int64
                      high_priority:
                        type: integer
                        format: int64
                      critical_priority:
                        type: integer
                        format: int64
                      oldest_pending_hours:
                        type: number
        '400':
          description: Missing X-Org-ID header

  /api/v1/hitl/status:
    get:
      tags:
        - HITL
      summary: HITL feature status
      description: |
        Reports whether HITL is enabled and which features are available.
        This is the **only** HITL endpoint present in community builds
        (returns `enabled: false`, `mode: "community"`); Enterprise builds
        return `enabled: true`, `mode: "enterprise"` plus a feature map
        (queue, approve_reject, override, expiration, audit_history,
        pending_summary, notify_url, idempotency_key).
      operationId: getHITLStatus
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
      responses:
        '200':
          description: Feature status
          content:
            application/json:
              schema:
                type: object
                properties:
                  enabled:
                    type: boolean
                  mode:
                    type: string
                    enum: [community, enterprise]
                  features:
                    type: object
                    additionalProperties:
                      type: boolean

  /api/v1/hitl/expire:
    post:
      tags:
        - HITL
      summary: Expire stale pending requests
      description: |
        Sweeps pending requests past their `expires_at` into the `expired`
        state and returns the count. Intended for schedulers/ops automation;
        the platform also expires lazily.
      operationId: expireHITLDecisions
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
      responses:
        '200':
          description: Sweep result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      expired_count:
                        type: integer

  # ==========================================================================
  # Circuit Breaker (EU AI Act Article 14)
  # ==========================================================================

  /api/v1/circuit-breaker/trip:
    post:
      tags:
        - Circuit Breaker
      summary: Trip circuit breaker (emergency stop)
      description: |
        Immediately halt matching AI operations for the organization
        (EU AI Act Article 14). Also exposed as the alias
        `POST /api/v1/emergency-stop`.

        Identity comes from headers stamped by the auth middleware:
        `X-Org-ID` (falls back to `X-Tenant-ID`) selects the org;
        `X-User-ID` is **required** for the Article 14 audit trail
        (400 when missing). `X-User-Email` is recorded when present.

        **Enterprise only** — community builds register no circuit-breaker
        routes (404).
      operationId: tripCircuitBreaker
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CircuitBreakerTripRequest'
      responses:
        '201':
          description: Circuit tripped — matching requests are now blocked
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      circuit_id:
                        type: string
                      state:
                        type: string
                      scope:
                        type: string
                      scope_id:
                        type: string
                      tripped_at:
                        type: string
                        format: date-time
                      expires_at:
                        type: string
                        format: date-time
                      message:
                        type: string
        '400':
          description: Missing X-Org-ID/X-User-ID header, invalid JSON, invalid scope, or missing scope_id for a non-global scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/circuit-breaker/reset:
    post:
      tags:
        - Circuit Breaker
      summary: Reset circuit breaker (release emergency stop)
      description: |
        Release an emergency stop and resume normal operations. Also exposed
        as the alias `POST /api/v1/emergency-stop/release`. Requires
        `X-Org-ID` (or `X-Tenant-ID`) and `X-User-ID` headers (400 when
        missing). **Enterprise only.**
      operationId: resetCircuitBreaker
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CircuitBreakerResetRequest'
      responses:
        '200':
          description: Circuit reset — normal operations resumed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      scope:
                        type: string
                      scope_id:
                        type: string
                      state:
                        type: string
                        example: "closed"
                      message:
                        type: string
        '400':
          description: Missing X-Org-ID/X-User-ID header or invalid JSON
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/circuit-breaker/check:
    post:
      tags:
        - Circuit Breaker
      summary: Check whether a request would be allowed
      description: |
        Evaluates the caller's scope hierarchy (global → tenant → client →
        policy) and reports whether an open circuit would block the request.
        Read-only; does not mutate circuit state. **Enterprise only.**
      operationId: checkCircuitBreaker
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tenant_id:
                  type: string
                client_id:
                  type: string
                policy_id:
                  type: string
      responses:
        '200':
          description: Check result (allowed, or blocked with the tripping circuit's details)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      allowed:
                        type: boolean
                      circuit_id:
                        type: string
                        description: Present only when blocked
                      scope:
                        type: string
                      scope_id:
                        type: string
                      reason:
                        type: string
                      tripped_by:
                        type: string
                      tripped_at:
                        type: string
                        format: date-time
                      expires_at:
                        type: string
                        format: date-time
                      comment:
                        type: string
        '400':
          description: Missing X-Org-ID header or invalid JSON
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/emergency-stop:
    post:
      tags:
        - Circuit Breaker
      summary: Emergency stop (alias of circuit-breaker trip)
      description: |
        Clearer Article 14 naming for `POST /api/v1/circuit-breaker/trip` —
        identical handler, request body, and responses. **Enterprise only.**
      operationId: emergencyStop
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CircuitBreakerTripRequest'
      responses:
        '201':
          description: Emergency stop activated (see the trip endpoint for the body shape)
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/v1/emergency-stop/release:
    post:
      tags:
        - Circuit Breaker
      summary: Release emergency stop (alias of circuit-breaker reset)
      description: |
        Clearer Article 14 naming for `POST /api/v1/circuit-breaker/reset` —
        identical handler, request body, and responses. **Enterprise only.**
      operationId: emergencyStopRelease
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CircuitBreakerResetRequest'
      responses:
        '200':
          description: Emergency stop released (see the reset endpoint for the body shape)
        '400':
          $ref: '#/components/responses/BadRequest'

  # ---------------------------------------------------------------------------
  # EU AI Act compliance module — PROXIED through the agent (single entry point).
  # The agent forwards /api/v1/euaiact/* to the orchestrator (proxy.go
  # PathPrefix("/api/v1/euaiact")); clients never call the orchestrator
  # directly. Path shapes mirror the canonical operation docs in
  # orchestrator-api.yaml — full request/response schemas live there.
  # Restored per the single-entry-point ruling (#2881 follow-up): proxied =
  # served. **Enterprise only.**
  # ---------------------------------------------------------------------------
  /api/v1/euaiact/export:
    get:
      tags: [EU AI Act (Proxied)]
      summary: List compliance evidence exports (proxied to orchestrator)
      description: Agent-proxied. Canonical contract in orchestrator-api.yaml `GET /api/v1/euaiact/export`.
      operationId: euaiactListExportsViaAgent
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
      responses:
        '200':
          description: Export request list (see orchestrator-api.yaml for the schema)
    post:
      tags: [EU AI Act (Proxied)]
      summary: Create a compliance evidence export (proxied to orchestrator)
      description: Agent-proxied. Canonical contract in orchestrator-api.yaml `POST /api/v1/euaiact/export`.
      operationId: euaiactCreateExportViaAgent
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
      responses:
        '201':
          description: Export request created (see orchestrator-api.yaml for the schema)

  /api/v1/euaiact/export/{export_id}:
    get:
      tags: [EU AI Act (Proxied)]
      summary: Get an export request (proxied to orchestrator)
      description: Agent-proxied. Canonical contract in orchestrator-api.yaml.
      operationId: euaiactGetExportViaAgent
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
        - name: export_id
          in: path
          required: true
          description: Export request identifier
          schema:
            type: string
      responses:
        '200':
          description: Export request status (see orchestrator-api.yaml for the schema)

  /api/v1/euaiact/export/{export_id}/download:
    get:
      tags: [EU AI Act (Proxied)]
      summary: Download a completed export (proxied to orchestrator)
      description: Agent-proxied. Canonical contract in orchestrator-api.yaml.
      operationId: euaiactDownloadExportViaAgent
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
        - name: export_id
          in: path
          required: true
          description: Export request identifier
          schema:
            type: string
      responses:
        '200':
          description: Evidence bundle download (see orchestrator-api.yaml for content types)

  /api/v1/euaiact/conformity:
    get:
      tags: [EU AI Act (Proxied)]
      summary: List conformity assessments (proxied to orchestrator)
      description: Agent-proxied. Canonical contract in orchestrator-api.yaml `GET /api/v1/euaiact/conformity`.
      operationId: euaiactListConformityViaAgent
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
      responses:
        '200':
          description: Assessment list (see orchestrator-api.yaml for the schema)
    post:
      tags: [EU AI Act (Proxied)]
      summary: Create a conformity assessment (proxied to orchestrator)
      description: Agent-proxied. Canonical contract in orchestrator-api.yaml `POST /api/v1/euaiact/conformity`.
      operationId: euaiactCreateConformityViaAgent
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
      responses:
        '201':
          description: Assessment created (see orchestrator-api.yaml for the schema)

  /api/v1/euaiact/conformity/{assessment_id}:
    get:
      tags: [EU AI Act (Proxied)]
      summary: Get a conformity assessment (proxied to orchestrator)
      description: Agent-proxied. Canonical contract in orchestrator-api.yaml.
      operationId: euaiactGetConformityViaAgent
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
        - name: assessment_id
          in: path
          required: true
          description: Conformity assessment identifier
          schema:
            type: string
      responses:
        '200':
          description: Assessment detail (see orchestrator-api.yaml for the schema)
    put:
      tags: [EU AI Act (Proxied)]
      summary: Update a conformity assessment (proxied to orchestrator)
      description: Agent-proxied. Canonical contract in orchestrator-api.yaml.
      operationId: euaiactUpdateConformityViaAgent
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
        - name: assessment_id
          in: path
          required: true
          description: Conformity assessment identifier
          schema:
            type: string
      responses:
        '200':
          description: Assessment updated (see orchestrator-api.yaml for the schema)

  /api/v1/euaiact/conformity/{assessment_id}/submit:
    post:
      tags: [EU AI Act (Proxied)]
      summary: Submit an assessment for review (proxied to orchestrator)
      description: Agent-proxied. Canonical contract in orchestrator-api.yaml.
      operationId: euaiactSubmitConformityViaAgent
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
        - name: assessment_id
          in: path
          required: true
          description: Conformity assessment identifier
          schema:
            type: string
      responses:
        '200':
          description: Assessment submitted (see orchestrator-api.yaml for the schema)

  /api/v1/euaiact/conformity/{assessment_id}/approve:
    post:
      tags: [EU AI Act (Proxied)]
      summary: Approve an assessment (proxied to orchestrator)
      description: Agent-proxied. Canonical contract in orchestrator-api.yaml.
      operationId: euaiactApproveConformityViaAgent
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
        - name: assessment_id
          in: path
          required: true
          description: Conformity assessment identifier
          schema:
            type: string
      responses:
        '200':
          description: Assessment approved (see orchestrator-api.yaml for the schema)

  /api/v1/euaiact/conformity/{assessment_id}/reject:
    post:
      tags: [EU AI Act (Proxied)]
      summary: Reject an assessment (proxied to orchestrator)
      description: Agent-proxied. Canonical contract in orchestrator-api.yaml.
      operationId: euaiactRejectConformityViaAgent
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
        - name: assessment_id
          in: path
          required: true
          description: Conformity assessment identifier
          schema:
            type: string
      responses:
        '200':
          description: Assessment rejected (see orchestrator-api.yaml for the schema)

  /api/v1/euaiact/accuracy:
    get:
      tags: [EU AI Act (Proxied)]
      summary: Accuracy summary (proxied to orchestrator)
      description: Agent-proxied. Canonical contract in orchestrator-api.yaml `GET /api/v1/euaiact/accuracy`.
      operationId: euaiactAccuracySummaryViaAgent
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
      responses:
        '200':
          description: Per-model accuracy summary (see orchestrator-api.yaml for the schema)

  /api/v1/euaiact/accuracy/record:
    post:
      tags: [EU AI Act (Proxied)]
      summary: Record an accuracy metric (proxied to orchestrator)
      description: Agent-proxied. Canonical contract in orchestrator-api.yaml.
      operationId: euaiactRecordAccuracyViaAgent
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
      responses:
        '201':
          description: Metric recorded (see orchestrator-api.yaml for the schema)

  /api/v1/euaiact/accuracy/bias:
    post:
      tags: [EU AI Act (Proxied)]
      summary: Record a bias measurement (proxied to orchestrator)
      description: Agent-proxied. Canonical contract in orchestrator-api.yaml.
      operationId: euaiactRecordBiasViaAgent
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
      responses:
        '201':
          description: Bias measurement recorded (see orchestrator-api.yaml for the schema)

  /api/v1/euaiact/accuracy/history:
    get:
      tags: [EU AI Act (Proxied)]
      summary: Accuracy metric history (proxied to orchestrator)
      description: Agent-proxied. Canonical contract in orchestrator-api.yaml.
      operationId: euaiactAccuracyHistoryViaAgent
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
      responses:
        '200':
          description: Metric history (see orchestrator-api.yaml for the schema)

  /api/v1/euaiact/accuracy/alerts:
    get:
      tags: [EU AI Act (Proxied)]
      summary: List accuracy alerts (proxied to orchestrator)
      description: Agent-proxied. Canonical contract in orchestrator-api.yaml.
      operationId: euaiactListAlertsViaAgent
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
      responses:
        '200':
          description: Alert list (see orchestrator-api.yaml for the schema)

  /api/v1/circuit-breaker/status:
    get:
      tags:
        - Circuit Breaker
      summary: Get circuit breaker status
      description: |
        Returns all active (open) circuits for the organization.
        Uses X-Org-ID header for org identification.
      operationId: getCircuitBreakerStatus
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
      responses:
        '200':
          description: Active circuit breaker circuits
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      active_circuits:
                        type: array
                        items:
                          $ref: '#/components/schemas/CircuitBreaker'
                      count:
                        type: integer
                      emergency_stop_active:
                        type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/v1/circuit-breaker/history:
    get:
      tags:
        - Circuit Breaker
      summary: Get circuit breaker history
      description: |
        Returns circuit breaker trip/reset history for audit trail.
        Ordered by creation time descending.
      operationId: getCircuitBreakerHistory
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
      responses:
        '200':
          description: Circuit breaker history
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      history:
                        type: array
                        items:
                          $ref: '#/components/schemas/CircuitBreaker'
                      count:
                        type: integer
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/v1/circuit-breaker/config:
    get:
      tags:
        - Circuit Breaker
      summary: Get circuit breaker config
      description: |
        Returns effective circuit breaker configuration. If tenant_id is provided,
        returns tenant-specific overrides merged with global defaults. Otherwise
        returns global defaults.
      operationId: getCircuitBreakerConfig
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
        - name: tenant_id
          in: query
          schema:
            type: string
          description: Optional tenant ID for tenant-specific config
      responses:
        '200':
          description: Effective circuit breaker configuration
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/CircuitBreakerConfigResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
    put:
      tags:
        - Circuit Breaker
      summary: Update per-tenant circuit breaker config
      description: |
        Creates or updates per-tenant circuit breaker threshold overrides.
        Null fields fall back to global defaults.
      operationId: updateCircuitBreakerConfig
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CircuitBreakerConfigUpdate'
      responses:
        '200':
          description: Config updated
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/v1/circuit-breaker/notifications:
    get:
      tags:
        - Circuit Breaker
      summary: List notification configs
      description: Returns all circuit breaker notification configs for the organization.
      operationId: listCircuitBreakerNotifications
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
      responses:
        '200':
          description: Notification configs
          content:
[...]
