openapi: 3.0.3
info:
  title: AxonFlow Agent API
  description: |
    REST API for the AxonFlow Agent service - Authentication, Authorization, and Static Policy Enforcement Gateway.

    The Agent serves as the entry point for all client requests, providing:
    - **Proxy Mode**: Full request interception and processing through the Orchestrator
    - **Gateway Mode**: Pre-check and audit endpoints for SDK-managed LLM calls
    - **MCP (Model Context Protocol)**: Data connector queries and commands
    - **Authentication**: License and token validation
    - **Static Policy Enforcement**: Fast regex-based content filtering

    ## Authentication

    All endpoints require authentication via:
    - `Authorization: Basic base64(clientId:clientSecret)`: OAuth2-style client credentials (recommended)
    - `user_token`: JWT token for user identification (in request body)

    **Note:** `clientSecret` is optional for community/self-hosted deployments. `clientId` is recommended for request identification.

    ## Deployment Modes

    - **SaaS**: Hosted by AxonFlow, multi-tenant (`DEPLOYMENT_MODE=saas`)
    - **Enterprise**: Customer-deployed (`DEPLOYMENT_MODE=enterprise`)
    - **Community**: Local development (`DEPLOYMENT_MODE=community`) - bypasses license validation

  version: 2.0.0
  contact:
    name: AxonFlow Support
    url: https://getaxonflow.com/support
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0

servers:
  - url: https://agent.getaxonflow.com
    description: Production (SaaS)
  - url: https://agent-staging.getaxonflow.com
    description: Staging
  - url: http://localhost:8080
    description: Local Development

tags:
  - name: Health
    description: Service health and readiness checks
  - name: Proxy Mode
    description: Full request interception and processing
  - name: Gateway Mode
    description: Pre-check and audit for SDK-managed LLM calls
  - name: Decision Mode
    description: |
      Synchronous policy decision endpoint (ADR-056). Called by an
      infrastructure gateway acting as a Policy Enforcement Point (PEP);
      AxonFlow returns a verdict (`allow` / `deny` / `needs_approval`) and
      the PEP enforces it. Same shared-policy engine as Gateway Mode
      pre-check; difference is the caller.
  - name: MCP Connectors
    description: Model Context Protocol data connector operations
  - name: Metrics
    description: Performance monitoring and observability
  - name: HITL
    description: |
      Human-in-the-Loop decision queue (EU AI Act Article 14).
      Route high-risk AI decisions for human review before execution.
  - name: Circuit Breaker
    description: |
      Emergency circuit breaker for AI operations (EU AI Act Article 14).
      Instantly halt AI operations with two-person deactivation requirement.
  - name: Accuracy
    description: |
      Accuracy metrics and bias detection (EU AI Act Article 15).
      Track model accuracy, detect demographic bias, and manage alerts.
  - name: Conformity
    description: |
      Conformity assessment workflow (EU AI Act Article 43).
      Manage compliance assessments from draft through approval.
  - name: EU AI Act
    description: |
      EU AI Act compliance data export and reporting.
      Export compliance data in EU regulatory format.
  - name: OpenAI Compatible
    description: |
      OpenAI-compatible gateway endpoint (Issue #2351). Accepts standard
      OpenAI Chat Completions requests, runs AxonFlow policy checks, forwards
      to the upstream provider, records audit, and returns an OpenAI-compatible
      response. Customers change only `baseURL` in their OpenAI SDK setup.
  - name: Static Policies
    description: |
      Static policy management (ADR-018).
      Read-only access to system-managed policies for SQL injection detection,
      PII detection, and other pattern-based enforcement rules.
  - name: Audit Verification
    description: |
      Non-repudiation verification of the signed decision chain (#2722).
      Read-only endpoints that re-verify per-record Ed25519 signatures and
      the prev_hash linkage of a tenant's decision records, and publish the
      current public signing key for offline verification. These are not
      Policy Enforcement Points (no decision-engine call); they are org-scoped
      via the authenticated request context and read under RLS, so a caller can
      only verify chains/records belonging to its own organization. Available in
      any deployment mode once a usage database is configured; signatures verify
      only when an `AXONFLOW_AUDIT_SIGNING_KEY` is set (otherwise records are
      hash-chained but reported as unsigned).

paths:
  /health:
    get:
      tags:
        - Health
      summary: Health check
      description: |
        Returns service health status. During startup, returns `status: starting`.
        Once fully initialized, returns `status: healthy`.

        This endpoint responds immediately even during initialization, allowing
        ECS/ALB health checks to pass while the service starts up.
      operationId: healthCheck
      responses:
        '200':
          description: Service health status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
              examples:
                healthy:
                  summary: Healthy service
                  value:
                    status: healthy
                    service: axonflow-agent
                    timestamp: "2025-01-15T10:30:00Z"
                    version: "1.0.0"
                starting:
                  summary: Service starting
                  value:
                    status: starting
                    service: axonflow-agent
                    timestamp: "2025-01-15T10:30:00Z"
                    version: "1.0.0"

  /metrics:
    get:
      tags:
        - Metrics
      summary: Get performance metrics
      description: |
        Returns real-time performance metrics including:
        - Request counts (total, success, failed, blocked)
        - Latency percentiles (P50, P95, P99)
        - Per-stage timing (auth, policy, network)
        - Request type breakdown
        - Connector metrics
      operationId: getMetrics
      responses:
        '200':
          description: Performance metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricsResponse'

  /prometheus:
    get:
      tags:
        - Metrics
      summary: Prometheus metrics endpoint
      description: Returns metrics in Prometheus exposition format for scraping
      operationId: getPrometheusMetrics
      responses:
        '200':
          description: Prometheus metrics
          content:
            text/plain:
              schema:
                type: string
                example: |
                  # HELP axonflow_agent_requests_total Total requests
                  # TYPE axonflow_agent_requests_total counter
                  axonflow_agent_requests_total{status="success"} 1234

  /api/request:
    post:
      tags:
        - Proxy Mode
      summary: Process client request
      description: |
        Main entry point for Proxy Mode. The Agent:
        1. Validates client license key
        2. Validates user JWT token
        3. Verifies tenant isolation
        4. Evaluates static policies (PII detection, etc.)
        5. Forwards to Orchestrator if allowed
        6. Returns response with policy metadata

        **Use this endpoint when you want AxonFlow to intercept and process all LLM requests.**
      operationId: processRequest
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
        - $ref: '#/components/parameters/ClientSecret'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientRequest'
            examples:
              sqlQuery:
                summary: SQL query request
                value:
                  query: "Show sales data for last quarter"
                  user_token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                  client_id: "travel-app-prod"
                  request_type: "sql"
                  context:
                    connector: "postgres"
              llmChat:
                summary: LLM chat request
                value:
                  query: "Summarize the customer feedback"
                  user_token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                  client_id: "support-bot"
                  request_type: "llm_chat"
                  context:
                    model_preference: "gpt-4"
              multiAgentPlan:
                summary: Multi-agent planning request
                value:
                  query: "Find flights from NYC to LAX and book a hotel"
                  user_token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                  client_id: "travel-planner"
                  request_type: "multi-agent-plan"
                  context:
                    domain: "travel"
                    execution_mode: "parallel"
      responses:
        '200':
          description: Request processed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientResponse'
              example:
                success: true
                data:
                  response: "Here is the summary of customer feedback..."
                result: "Flight options found: UA123, AA456, DL789"
                plan_id: "plan_1234567890_abc123"
                metadata:
                  tasks_executed: 3
                  execution_time_ms: 2500
                policy_info:
                  policies_evaluated:
                    - "pii-detection"
                    - "rate-limit"
                  static_checks:
                    - "ssn_pattern"
                    - "credit_card"
                  processing_time: "45.2ms"
                  tenant_id: "tenant-123"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Request blocked by policy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientResponse'
              example:
                success: false
                blocked: true
                block_reason: "Query contains PII (SSN detected)"
                policy_info:
                  policies_evaluated:
                    - "pii-ssn"
                  static_checks:
                    - "ssn_pattern"
                  processing_time: "2.1ms"
                  tenant_id: "tenant-123"
        '500':
          $ref: '#/components/responses/InternalError'

  /api/policy/pre-check:
    post:
      tags:
        - Gateway Mode
      summary: Pre-check request before LLM call
      description: |
        Gateway Mode Step 1: Call this endpoint before making your own LLM API call.

        The Agent validates the request against policies and returns:
        - `approved: true` if the request is allowed
        - `context_id` to link with the subsequent audit call
        - Optional `approved_data` from MCP connectors
        - Rate limit information

        **Context expires after 5 minutes.**

        ## Example Flow
        ```
        1. SDK calls pre-check → gets context_id, approved=true
        2. SDK makes direct LLM call (OpenAI, Anthropic, etc.)
        3. SDK calls audit with context_id and response metadata
        ```
      operationId: gatewayPreCheck
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreCheckRequest'
            examples:
              basic:
                summary: Basic pre-check
                value:
                  query: "What is the customer's order status?"
                  user_token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                  client_id: "customer-portal"
              withDataSources:
                summary: Pre-check with data sources
                value:
                  query: "Find flights from NYC to LAX next week"
                  user_token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                  client_id: "travel-app"
                  data_sources:
                    - "amadeus"
                  context:
                    departure_date: "2025-01-20"
                    return_date: "2025-01-25"
      responses:
        '200':
          description: Pre-check result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreCheckResponse'
              examples:
                approved:
                  summary: Request approved
                  value:
                    context_id: "ctx_abc123def456"
                    approved: true
                    policies:
                      - "pii-detection"
                      - "rate-limit"
                    rate_limit:
                      limit: 1000
                      remaining: 995
                      reset_at: "2025-01-15T11:00:00Z"
                    expires_at: "2025-01-15T10:35:00Z"
                piiRedaction:
                  summary: PII detected - flagged for redaction (default)
                  description: Default behavior (PII_ACTION=redact). Request approved but PII will be redacted in response.
                  value:
                    context_id: "ctx_abc123def456"
                    approved: true
                    requires_redaction: true
                    policies:
                      - "pii-ssn"
                    expires_at: "2025-01-15T10:35:00Z"
                blocked:
                  summary: Request blocked (when PII_ACTION=block)
                  value:
                    context_id: "ctx_abc123def456"
                    approved: false
                    policies:
                      - "pii-credit-card"
                    block_reason: "Query contains credit card number"
                    expires_at: "2025-01-15T10:35:00Z"
                withData:
                  summary: Approved with data
                  value:
                    context_id: "ctx_abc123def456"
                    approved: true
                    approved_data:
                      amadeus:
                        rows:
                          - flight_number: "UA123"
                            departure: "2025-01-20T08:00:00Z"
                            price: 299.99
                        row_count: 5
                        duration_ms: 450
                    policies:
                      - "pii-detection"
                    expires_at: "2025-01-15T10:35:00Z"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/audit/llm-call:
    post:
      tags:
        - Gateway Mode
      summary: Audit LLM call after completion
      description: |
        Gateway Mode Step 2: Call this endpoint after your LLM API call completes.

        Records:
        - Token usage for billing and quotas
        - Latency metrics
        - Provider and model information
        - Estimated cost

        **Requires a valid context_id from pre-check (not expired).**
      operationId: auditLLMCall
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuditLLMCallRequest'
            example:
              context_id: "ctx_abc123def456"
              client_id: "travel-app"
              response_summary: "Found 5 flights matching criteria"
              provider: "openai"
              model: "gpt-4"
              token_usage:
                prompt_tokens: 150
                completion_tokens: 200
                total_tokens: 350
              latency_ms: 1250
              metadata:
                request_type: "travel_search"
                cache_hit: false
      responses:
        '200':
          description: Audit recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLLMCallResponse'
              example:
                success: true
                audit_id: "aud_xyz789"
        '400':
          description: Invalid or expired context
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: "Invalid or expired context"
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/decide:
    post:
      tags:
        - Decision Mode
      summary: Policy decision for an infrastructure gateway (PEP)
      description: |
        Decision Mode endpoint (ADR-056 / epic #2426). The customer's
        infrastructure gateway (Policy Enforcement Point) calls this
        endpoint per request to get a verdict (`allow` / `deny` /
        `needs_approval`) and enforces the result. AxonFlow is consulted,
        never on the traffic path.

        The shared-policy engine behind this endpoint is the same engine
        that backs Gateway Mode's `POST /api/policy/pre-check`. The
        difference is the caller: Gateway Mode is called by application
        code; Decision Mode is called by an infrastructure gateway.

        **M1 scope: static policies only** (PII detection, SQL injection,
        dangerous patterns, RBI India PII, compliance categories) to keep
        the inline RPC budget in single-digit milliseconds. Dynamic/custom
        policy support is M2 scope per the epic.

        **OTel trace correlation:** the response carries a W3C-compatible
        32-hex `trace_id`. When the caller passes a `traceparent` header,
        its trace-id is reused so multi-gateway-layer decisions stitch
        into one end-to-end trace. Each decision also emits an OpenTelemetry
        span on the `axonflow.agent.decision` tracer.

        **Available at all tiers** (Community through Enterprise) — the
        policy engine is the same one Gateway Mode uses.
      operationId: decide
      parameters:
        - in: header
          name: traceparent
          description: |
            W3C trace-context header. When present and valid, the trace-id
            is reused in the response so multi-layer decisions correlate
            into one end-to-end trace.
          required: false
          schema:
            type: string
            example: "00-0af7651916cd43dd8448eb211c80319c-b7ad6b7169203331-01"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DecideRequest'
            examples:
              llmStage:
                summary: LLM-stage decision (most common)
                value:
                  stage: "llm"
                  caller_identity:
                    gateway_id: "llm-gateway-01"
                    tenant_id: "acme-prod"
                  target:
                    type: "llm"
                    model: "gpt-4o"
                    provider: "openai"
                  query: "What is the customer's order status?"
              toolStage:
                summary: Tool-stage decision (MCP gateway)
                value:
                  stage: "tool"
                  caller_identity:
                    gateway_id: "mcp-gateway-01"
                    tenant_id: "acme-prod"
                  target:
                    type: "tool"
                    tool: "postgres.query"
                  query: "SELECT name, email FROM customers LIMIT 10"
      responses:
        '200':
          description: Decision verdict (allow / deny / needs_approval)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecideResponse'
              examples:
                allow:
                  summary: Verdict allow
                  value:
                    verdict: "allow"
                    decision_id: "f81d4fae-7dec-11d0-a765-00a0c91e6bf6"
                    trace_id: "0af7651916cd43dd8448eb211c80319c"
                    stage: "llm"
                    reasons: []
                    obligations: []
                    evaluated_policies: []
                    expires_at: "2026-05-23T10:35:00Z"
                deny:
                  summary: Verdict deny (SQLi triggered)
                  value:
                    verdict: "deny"
                    decision_id: "a73e5b1c-2b48-4f2e-a3c4-2e8a3b9f8d1e"
                    trace_id: "0af7651916cd43dd8448eb211c80319c"
                    stage: "tool"
                    reasons: ["SQL injection pattern matched"]
                    obligations: []
                    evaluated_policies: ["sys_sqli_union"]
                    expires_at: "2026-05-23T10:35:00Z"
                allowWithRedaction:
                  summary: Verdict allow with redact obligation
                  value:
                    verdict: "allow"
                    decision_id: "c4e8f1a2-9d3b-4c7e-b8f1-7a2c3d4e5f6a"
                    trace_id: "0af7651916cd43dd8448eb211c80319c"
                    stage: "llm"
                    reasons: []
                    obligations:
                      - type: "redact_pii"
                        detail: "SSN detected in query"
                    evaluated_policies: ["sys_pii_ssn"]
                    expires_at: "2026-05-23T10:35:00Z"
        '400':
          description: Request malformed (invalid JSON or missing required fields).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecideErrorResponse'
        '401':
          description: |
            Authentication failed. In non-community mode the
            `Authorization` header is required and credentials must
            resolve to a valid client.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecideErrorResponse'
        '403':
          description: |
            Tenant assertion mismatch -- `caller_identity.tenant_id` or
            `caller_identity.org_id` in the body did not match the
            authenticated identity (non-community mode only).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecideErrorResponse'
        '429':
          description: |
            Community SaaS tenants past the daily request cap. Only
            emitted on the SaaS surface; self-hosted Community and
            Enterprise deployments do not return 429.
          headers:
            Retry-After:
              schema:
                type: integer
              description: Seconds until the daily quota window resets.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecideErrorResponse'
        '503':
          description: |
            Circuit breaker is open. The body carries
            `verdict: "deny"` as the fail-closed default; a fail-open
            PEP adapter should treat 5xx as "PDP degraded" and apply
            its configured posture per ADR-056 §Failure posture.
            A `Retry-After` header is included when the breaker has
            a scheduled expiration.
          headers:
            Retry-After:
              schema:
                type: integer
              description: Seconds until the breaker is scheduled to close.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecideErrorResponse'

  /v1/chat/completions:
    post:
      tags:
        - OpenAI Compatible
      summary: OpenAI-compatible chat completions with policy enforcement
      description: |
        Accepts a standard OpenAI Chat Completions request, runs AxonFlow
        policy checks via the shared policy engine, forwards to the upstream
        provider, records audit (tokens, cost, latency, policy decision),
        and returns an OpenAI-compatible response.

        The caller passes their upstream provider API key via the
        `X-Provider-Key` header. AxonFlow auth (Basic Auth or community
        mode) is handled by the same `apiAuthMiddleware` as all other
        agent endpoints.

        Streaming (`stream: true`) is not supported in this release and
        returns HTTP 400 with a clear error.
      operationId: chatCompletionsOpenAICompat
      parameters:
        - name: X-Provider-Key
          in: header
          required: true
          description: Upstream LLM provider API key (e.g. OpenAI API key)
          schema:
            type: string
        - name: traceparent
          in: header
          required: false
          description: W3C traceparent header for trace correlation
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionRequest'
            example:
              model: "gpt-4o"
              messages:
                - role: "user"
                  content: "What is 2+2?"
              temperature: 0.7
              max_tokens: 100
      responses:
        '200':
          description: Successful completion
          headers:
            X-AxonFlow-Decision-Id:
              description: UUID correlating this request in audit logs
              schema:
                type: string
                format: uuid
            X-AxonFlow-Trace-Id:
              description: W3C-compatible 32-hex trace ID for OTel correlation
              schema:
                type: string
                pattern: '^[0-9a-f]{32}$'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionResponse'
        '400':
          description: |
            Request validation error or policy denial. Policy denials
            use `type: "policy_violation"` and `code: "policy_denied"`.
            The OpenAI SDK parses this as `openai.BadRequestError`.
          headers:
            X-AxonFlow-Decision-Id:
              description: UUID correlating this request in audit logs
              schema:
                type: string
                format: uuid
            X-AxonFlow-Trace-Id:
              description: W3C-compatible 32-hex trace ID
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIErrorResponse'
              examples:
                policy_denied:
                  summary: Policy violation (PII detected)
                  value:
                    error:
                      message: "Request blocked by policy: PII detected"
                      type: "policy_violation"
                      code: "policy_denied"
                stream_not_supported:
                  summary: Streaming not supported
                  value:
                    error:
                      message: "Streaming is not supported in this release. Remove stream: true."
                      type: "invalid_request_error"
                      code: "stream_not_supported"
                missing_provider_key:
                  summary: Missing provider key
                  value:
                    error:
                      message: "X-Provider-Key header is required."
                      type: "invalid_request_error"
                      code: "missing_provider_key"
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/policies/test:
    post:
      tags:
        - Proxy Mode
      summary: Test policy evaluation
      description: |
        Test how policies would evaluate a query without making an actual request.
        Useful for debugging and policy development.
      operationId: testPolicies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - query
              properties:
                query:
                  type: string
                  description: Query to test
                user_email:
                  type: string
                  description: User email for context
                request_type:
                  type: string
                  description: Request type
            example:
              query: "Show me customer SSN 123-45-6789"
              user_email: "analyst@company.com"
              request_type: "sql"
      responses:
        '200':
          description: Policy test result
          content:
            application/json:
              schema:
                type: object
                properties:
                  blocked:
                    type: boolean
                  reason:
                    type: string
                  triggered_policies:
                    type: array
                    items:
                      type: string
                  checks_performed:
                    type: array
                    items:
                      type: string
                  processing_time_ms:
                    type: number
              example:
                blocked: true
                reason: "PII detected: SSN pattern found in query"
                triggered_policies:
                  - "pii-ssn"
                checks_performed:
                  - "ssn_pattern"
                  - "credit_card_pattern"
                  - "email_pattern"
                processing_time_ms: 0.8

  /api/clients:
    get:
      tags:
        - Proxy Mode
      summary: List registered clients
      description: Returns all registered client applications
      operationId: listClients
      responses:
        '200':
          description: List of clients
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Client'

    post:
      tags:
        - Proxy Mode
      summary: Register a new client
      description: Register a new client application
      operationId: createClient
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Client'
      responses:
        '201':
          description: Client created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
        '400':
          $ref: '#/components/responses/BadRequest'

  /mcp/connectors:
    get:
      tags:
        - MCP Connectors
      summary: List all MCP connectors
      description: |
        Returns all registered MCP connectors with their health status.

        Connectors provide access to external data sources:
        - PostgreSQL
        - Cassandra
        - Salesforce
        - Snowflake
        - Amadeus (travel API)
        - Slack
      operationId: listMCPConnectors
      responses:
        '200':
          description: List of connectors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorListResponse'
              example:
                connectors:
                  - name: "postgres_main"
                    type: "postgres"
                    version: "1.0.0"
                    healthy: true
                    latency_ms: 5
                    capabilities:
                      - "query"
                      - "execute"
                  - name: "amadeus"
                    type: "amadeus"
                    version: "1.0.0"
                    healthy: true
                    latency_ms: 120
                    capabilities:
                      - "search_flights"
                      - "search_hotels"
                count: 2
        '503':
          description: MCP registry not initialized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /mcp/connectors/{name}/health:
    get:
      tags:
        - MCP Connectors
      summary: Check connector health
      description: Returns health status for a specific connector
      operationId: getMCPConnectorHealth
      parameters:
        - name: name
          in: path
          required: true
          description: Connector name
          schema:
            type: string
          example: "postgres_main"
      responses:
        '200':
          description: Connector health status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorHealthResponse'
              example:
                healthy: true
                latency_ms: 5
                last_check: "2025-01-15T10:30:00Z"
        '404':
          description: Connector not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /mcp/resources/query:
    post:
      tags:
        - MCP Connectors
      summary: Execute MCP query (read-only)
      description: |
        Execute a read-only query via an MCP connector.

        This follows the MCP Resource pattern for data retrieval.
        For write operations, use `/mcp/tools/execute`.

        ## Audit Logging

        All MCP queries are automatically logged to the `mcp_query_audits` table with:
        - **Request phase**: SQLi detection results, PII blocking decisions
        - **Response phase**: PII redaction details, redacted field paths
        - **Exfiltration checks**: Row counts, volume limit violations
        - **Result**: Success/failure, error messages, duration

        Each audit entry includes `audit_id` for correlation with SDK `PolicyInfo`.
        Statement content is stored as SHA256 hash for privacy.
      operationId: mcpQuery
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MCPQueryRequest'
            examples:
              sqlQuery:
                summary: SQL query
                value:
                  client_id: "analytics-app"
                  user_token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                  connector: "postgres_main"
                  statement: "SELECT * FROM orders WHERE status = $1"
                  parameters:
                    "1": "completed"
                  limit: 100
                  timeout: "10s"
              amadeusSearch:
                summary: Flight search
                value:
                  client_id: "travel-app"
                  user_token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                  connector: "amadeus"
                  operation: "search_flights"
                  parameters:
                    origin: "NYC"
                    destination: "LAX"
                    departure_date: "2025-01-20"
                  timeout: "15s"
      responses:
        '200':
          description: Query executed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MCPQueryResponse'
              example:
                success: true
                connector: "amadeus"
                data:
                  - flight_number: "UA123"
                    departure: "2025-01-20T08:00:00Z"
                    arrival: "2025-01-20T11:00:00Z"
                    price: 299.99
                row_count: 5
                duration_ms: 450
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Connector not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalError'

  /mcp/tools/execute:
    post:
      tags:
        - MCP Connectors
      summary: Execute MCP command (write)
      description: |
        Execute a write command via an MCP connector.

        This follows the MCP Tool pattern for data modification.
        For read operations, use `/mcp/resources/query`.

        ## Audit Logging

        All MCP execute operations are automatically logged to the `mcp_query_audits` table with:
        - **Request phase**: SQLi detection results, dangerous operation blocking
        - **Result**: Rows affected, success/failure, error messages, duration

        Each audit entry includes `audit_id` for correlation. Operation type (INSERT, UPDATE, DELETE)
        is stored in the `operation` field.
      operationId: mcpExecute
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MCPExecuteRequest'
            example:
              client_id: "order-service"
              user_token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
              connector: "postgres_main"
              action: "UPDATE"
              statement: "UPDATE orders SET status = $1 WHERE id = $2"
              parameters:
                "1": "shipped"
                "2": "ord-12345"
              timeout: "5s"
      responses:
        '200':
          description: Command executed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MCPExecuteResponse'
              example:
                success: true
                connector: "postgres_main"
                rows_affected: 1
                duration_ms: 15
                message: "Update successful"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'

  /mcp/check-input:
    post:
      tags:
        - MCP Connectors
      summary: Validate MCP input against policies
      description: |
        Validate an MCP request (query or command) against configured policies **without executing it**.

        This endpoint enables external orchestrators (LangGraph, CrewAI, custom pipelines) to use
        AxonFlow as a policy gate while managing MCP connector execution themselves.

        ## Policy Evaluation

        The following policies are evaluated in order:
        1. **Dynamic policies** (if enabled): Rate limits, budgets, time-access, role-access via Orchestrator
        2. **Static policies**: SQL injection detection, dangerous query blocking, PII detection

        If any policy blocks the request, the response returns `allowed: false` with a `block_reason`.

        ## When to Use

        Use `check-input` + `check-output` when your orchestrator manages MCP execution natively.
        Use `/mcp/resources/query` or `/mcp/tools/execute` when you want AxonFlow to handle both
        policy enforcement and connector execution.

        ## Audit Logging

        All check-input evaluations are logged to the `mcp_query_audits` table with
        `operation: "check-input"` for compliance tracking. Audit entries include
        `parameters_hash` (SHA-256) and `parameter_count` for forensic analysis.
      operationId: mcpCheckInput
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MCPCheckInputRequest'
            examples:
              cleanQuery:
                summary: Clean SQL query (passes all policies)
                value:
                  client_id: "analytics-app"
                  user_token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                  tenant_id: "tenant-123"
                  connector_type: "postgres"
                  statement: "SELECT name, email FROM users WHERE id = $1"
                  parameters:
                    "1": "usr-001"
                  operation: "query"
              sqliAttempt:
                summary: SQL injection attempt (blocked)
                value:
                  client_id: "analytics-app"
                  user_token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                  tenant_id: "tenant-123"
                  connector_type: "postgres"
                  statement: "SELECT * FROM users; DROP TABLE users--"
      responses:
        '200':
          description: Input passed all policy checks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MCPCheckInputResponse'
              example:
                allowed: true
                policies_evaluated: 12
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Input blocked by policy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MCPCheckInputResponse'
              example:
                allowed: false
                block_reason: "SQL injection detected in statement"
                policies_evaluated: 3
                policy_info:
                  policies_evaluated: 3
                  blocked: true
                  block_reason: "SQL injection detected in statement"
        '503':
          description: Dynamic policy evaluator unavailable (only when graceful degradation is disabled)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /mcp/check-output:
    post:
      tags:
        - MCP Connectors
      summary: Validate MCP output against policies
      description: |
        Validate MCP response data against configured policies **without having executed the query
        through AxonFlow**.

        This endpoint enables external orchestrators to apply AxonFlow's output-side policy
        enforcement (PII redaction, exfiltration limits, SQLi response scanning) to data they
        fetched from MCP connectors independently.

        ## Policy Evaluation

        The following checks are applied in order:
        1. **SQLi response scanning**: Detects SQL injection artifacts in response data
        2. **Static response policies**: PII detection and redaction (SSN, credit card, Aadhaar, etc.)
        3. **Exfiltration limits** (query-style only): Row count and byte size limits

        If PII is detected, the response includes `redacted_data` with masked values.
        If exfiltration limits are exceeded, the response returns `allowed: false`.

        ## Query vs Execute Responses

        - **Query responses** (`response_data`): Full policy evaluation including exfiltration checks
        - **Execute responses** (`message`): SQLi scanning and PII checks only (no exfiltration limits)

        ## Audit Logging

        All check-output evaluations are logged to the `mcp_query_audits` table with
        `operation: "check-output"` for compliance tracking.
      operationId: mcpCheckOutput
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MCPCheckOutputRequest'
            examples:
              cleanData:
                summary: Clean query response (passes all policies)
                value:
                  client_id: "analytics-app"
                  user_token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                  tenant_id: "tenant-123"
                  connector_type: "postgres"
                  response_data:
                    - id: 1
                      name: "Alice Johnson"
                      department: "Engineering"
                  row_count: 1
              piiData:
                summary: Response containing PII (redacted)
                value:
                  client_id: "analytics-app"
                  user_token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                  tenant_id: "tenant-123"
                  connector_type: "postgres"
                  response_data:
                    - id: 1
                      name: "Alice Johnson"
                      ssn: "123-45-6789"
                  row_count: 1
              executeResponse:
                summary: Execute-style response (message only)
                value:
                  client_id: "analytics-app"
                  user_token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                  tenant_id: "tenant-123"
                  connector_type: "postgres"
                  message: "3 rows updated"
                  metadata:
                    query: "UPDATE users SET status = 'active' WHERE region = 'us'"
      responses:
        '200':
          description: Output passed all policy checks (may include redacted data)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MCPCheckOutputResponse'
              examples:
                clean:
                  summary: No issues found
                  value:
                    allowed: true
                    policies_evaluated: 8
                redacted:
                  summary: PII detected and redacted
                  value:
                    allowed: true
                    redacted_data:
                      - id: 1
                        name: "Alice Johnson"
                        ssn: "XXX-XX-6789"
                    policies_evaluated: 8
                    policy_info:
                      policies_evaluated: 8
                      blocked: false
                      redactions_applied: 1
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Output blocked by policy (exfiltration limit exceeded or SQLi detected)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MCPCheckOutputResponse'
              example:
                allowed: false
                block_reason: "Exfiltration limit exceeded: row_count 15000 > limit 10000"
                policies_evaluated: 3
                exfiltration_info:
                  exceeded: true
                  limit_type: rows
                  rows_returned: 15000
                  row_limit: 10000
                  bytes_returned: 5242880
                  byte_limit: 10485760

  /mcp/health:
    get:
      tags:
        - MCP Connectors
      summary: Overall MCP health
      description: Returns aggregate health status for all MCP connectors
      operationId: getMCPHealth
      responses:
        '200':
          description: MCP system health
          content:
            application/json:
              schema:
                type: object
                properties:
                  healthy:
                    type: boolean
                    description: True if all connectors are healthy
                  total_connectors:
                    type: integer
                  healthy_count:
                    type: integer
                  unhealthy_count:
                    type: integer
                  timestamp:
                    type: string
                    format: date-time
              example:
                healthy: true
                total_connectors: 3
                healthy_count: 3
                unhealthy_count: 0
                timestamp: "2025-01-15T10:30:00Z"

  # ==========================================================================
  # Connector Cache Management (ADR-007)
  # ==========================================================================

  /api/v1/connectors/refresh:
    post:
      tags:
        - MCP Connectors
      summary: Refresh all connector caches
      description: |
        Invalidates and refreshes all cached connector instances across all tenants.
        Use this after bulk configuration changes or deployments.

        **Performance Impact:** This operation clears all cached connectors.
        The next request for each connector will incur factory creation overhead.
      operationId: refreshAllConnectors
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
      responses:
        '200':
          description: All connectors refreshed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorRefreshResponse'
              example:
                success: true
                message: "All connector caches refreshed"
                scope: "all"
                duration: "12.345ms"
                stats:
                  cached_connectors: 0
                  hits: 12345
                  misses: 234
                  evictions: 15
                  hit_rate_percent: 98.1
        '503':
          description: Registry not initialized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: "TenantConnectorRegistry not initialized"

  /api/v1/connectors/refresh/{tenant_id}:
    post:
      tags:
        - MCP Connectors
      summary: Refresh tenant connector caches
      description: |
        Invalidates and refreshes all cached connector instances for a specific tenant.
        Use this after updating a tenant's connector configuration.
      operationId: refreshTenantConnectors
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
        - name: tenant_id
          in: path
          required: true
          description: The tenant ID whose connectors should be refreshed
          schema:
            type: string
          example: "tenant-123"
      responses:
        '200':
          description: Tenant connectors refreshed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorRefreshResponse'
              example:
                success: true
                message: "Tenant connector caches refreshed"
                scope: "tenant"
                tenant_id: "tenant-123"
                duration: "2.456ms"
                stats:
                  cached_connectors: 12
                  evictions: 3
        '400':
          description: Missing tenant_id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Registry not initialized

  /api/v1/connectors/refresh/{tenant_id}/{connector_name}:
    post:
      tags:
        - MCP Connectors
      summary: Refresh specific connector cache
      description: |
        Invalidates and refreshes a specific connector instance for a tenant.
        Use this after updating a single connector's credentials or configuration.
      operationId: refreshConnector
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
        - name: tenant_id
          in: path
          required: true
          description: The tenant ID
          schema:
            type: string
          example: "tenant-123"
        - name: connector_name
          in: path
          required: true
          description: The connector name to refresh
          schema:
            type: string
          example: "customer-db"
      responses:
        '200':
          description: Connector refreshed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorRefreshResponse'
              example:
                success: true
                message: "Connector cache refreshed"
                scope: "connector"
                tenant_id: "tenant-123"
                connector: "customer-db"
                duration: "0.789ms"
        '400':
          description: Missing required parameters
        '503':
          description: Registry not initialized

  /api/v1/connectors/cache/stats:
    get:
      tags:
        - MCP Connectors
      summary: Get connector cache statistics
      description: |
        Returns cache performance statistics including hit rate, miss count,
        evictions, and factory operation counts. Useful for monitoring cache health.
      operationId: getConnectorCacheStats
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
      responses:
        '200':
          description: Cache statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorCacheStats'
              example:
                cached_connectors: 15
                hits: 12345
                misses: 234
                evictions: 12
                factory_creations: 246
                factory_failures: 0
                connection_errors: 2
                hit_rate_percent: 98.1
                last_eviction: "2025-12-09T10:30:00Z"
                last_factory_create: "2025-12-09T14:20:00Z"
                registry_enabled: true
                timestamp: "2025-12-09T14:25:00Z"
        '503':
          description: Registry not initialized

  # ==========================================================================
  # HITL - Human-in-the-Loop (EU AI Act Article 14)
  # ==========================================================================

  /api/v1/hitl/queue:
    post:
      tags:
        - HITL
      summary: Create HITL decision request
      description: |
        Route a high-risk AI decision for human review.
        EU AI Act Article 14 requires human oversight for high-risk AI systems.
      operationId: createHITLDecision
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HITLDecisionRequest'
      responses:
        '201':
          description: Decision request created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HITLDecision'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

    get:
      tags:
        - HITL
      summary: List pending HITL decisions
      description: Retrieve pending decisions awaiting human review
      operationId: listHITLDecisions
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
        - name: org_id
          in: query
          required: true
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, approved, rejected, expired]
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: List of decisions
          content:
            application/json:
              schema:
                type: object
                properties:
                  decisions:
                    type: array
                    items:
                      $ref: '#/components/schemas/HITLDecision'
                  count:
                    type: integer

  /api/v1/hitl/queue/{id}:
    get:
      tags:
        - HITL
      summary: Get HITL decision
      operationId: getHITLDecision
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Decision details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HITLDecision'
        '404':
          description: Decision not found

  /api/v1/hitl/queue/{id}/approve:
    post:
      tags:
        - HITL
      summary: Approve HITL decision
      description: Approve a pending decision to allow AI execution
      operationId: approveHITLDecision
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - reviewer_id
              properties:
                reviewer_id:
                  type: string
                comments:
                  type: string
      responses:
        '200':
          description: Decision approved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HITLDecision'
        '400':
          description: Invalid status transition
        '404':
          description: Decision not found

  /api/v1/hitl/queue/{id}/reject:
    post:
      tags:
        - HITL
      summary: Reject HITL decision
      description: Reject a pending decision to block AI execution
      operationId: rejectHITLDecision
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - reviewer_id
                - reason
              properties:
                reviewer_id:
                  type: string
                reason:
                  type: string
      responses:
        '200':
          description: Decision rejected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HITLDecision'
        '400':
          description: Invalid status transition
        '404':
          description: Decision not found

  # ==========================================================================
  # Circuit Breaker (EU AI Act Article 14)
  # ==========================================================================

  /api/v1/circuit-breaker/activate:
    post:
      tags:
        - Circuit Breaker
      summary: Activate circuit breaker
      description: |
        Immediately halt all AI operations for an organization.
        EU AI Act Article 14 requires ability to interrupt AI systems.
      operationId: activateCircuitBreaker
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CircuitBreakerActivateRequest'
      responses:
        '200':
          description: Circuit breaker activated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitBreaker'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/v1/circuit-breaker/deactivate:
    post:
      tags:
        - Circuit Breaker
      summary: Deactivate circuit breaker
      description: |
        Restore AI operations. Requires two-person authorization for high-risk systems.
      operationId: deactivateCircuitBreaker
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CircuitBreakerDeactivateRequest'
      responses:
        '200':
          description: Circuit breaker deactivated or pending second approval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitBreaker'
        '400':
          description: Invalid request or unauthorized

  /api/v1/circuit-breaker/status:
    get:
      tags:
        - Circuit Breaker
      summary: Get circuit breaker status
      description: |
        Returns all active (open) circuits for the organization.
        Uses X-Org-ID header for org identification.
      operationId: getCircuitBreakerStatus
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
      responses:
        '200':
          description: Active circuit breaker circuits
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      active_circuits:
                        type: array
                        items:
                          $ref: '#/components/schemas/CircuitBreaker'
                      count:
                        type: integer
                      emergency_stop_active:
                        type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/v1/circuit-breaker/history:
    get:
      tags:
        - Circuit Breaker
      summary: Get circuit breaker history
      description: |
        Returns circuit breaker trip/reset history for audit trail.
        Ordered by creation time descending.
      operationId: getCircuitBreakerHistory
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
      responses:
        '200':
          description: Circuit breaker history
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      history:
                        type: array
                        items:
                          $ref: '#/components/schemas/CircuitBreaker'
                      count:
                        type: integer
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/v1/circuit-breaker/config:
    get:
      tags:
        - Circuit Breaker
      summary: Get circuit breaker config
      description: |
        Returns effective circuit breaker configuration. If tenant_id is provided,
        returns tenant-specific overrides merged with global defaults. Otherwise
        returns global defaults.
      operationId: getCircuitBreakerConfig
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
        - name: tenant_id
          in: query
          schema:
            type: string
          description: Optional tenant ID for tenant-specific config
      responses:
        '200':
          description: Effective circuit breaker configuration
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/CircuitBreakerConfigResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
    put:
      tags:
        - Circuit Breaker
      summary: Update per-tenant circuit breaker config
      description: |
        Creates or updates per-tenant circuit breaker threshold overrides.
        Null fields fall back to global defaults.
      operationId: updateCircuitBreakerConfig
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CircuitBreakerConfigUpdate'
      responses:
        '200':
          description: Config updated
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/v1/circuit-breaker/notifications:
    get:
      tags:
        - Circuit Breaker
      summary: List notification configs
      description: Returns all circuit breaker notification configs for the organization.
      operationId: listCircuitBreakerNotifications
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
      responses:
        '200':
          description: Notification configs
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      notifications:
                        type: array
                        items:
                          $ref: '#/components/schemas/CircuitBreakerNotificationConfig'
                      count:
                        type: integer
    post:
      tags:
        - Circuit Breaker
      summary: Create notification config
      description: |
        Create a notification channel for circuit breaker auto-trip events.
        Supports webhook (HMAC-signed), Slack (Block Kit), and PagerDuty (Events API v2).
      operationId: createCircuitBreakerNotification
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CircuitBreakerNotificationCreate'
      responses:
        '201':
          description: Notification config created
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/v1/circuit-breaker/notifications/{id}:
    put:
      tags:
        - Circuit Breaker
      summary: Update notification config
      operationId: updateCircuitBreakerNotification
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CircuitBreakerNotificationUpdate'
      responses:
        '200':
          description: Notification config updated
        '404':
          description: Notification config not found
    delete:
      tags:
        - Circuit Breaker
      summary: Delete notification config
      operationId: deleteCircuitBreakerNotification
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Notification config deleted
        '404':
          description: Notification config not found

  # ==========================================================================
  # Accuracy & Bias Detection (EU AI Act Article 15)
  # ==========================================================================

  /api/v1/accuracy/metrics:
    post:
      tags:
        - Accuracy
      summary: Record accuracy metric
      description: Record an accuracy metric for a model
      operationId: recordAccuracyMetric
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccuracyMetricInput'
      responses:
        '201':
          description: Metric recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccuracyMetric'

    get:
      tags:
        - Accuracy
      summary: Get accuracy metrics
      operationId: getAccuracyMetrics
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
        - name: org_id
          in: query
          required: true
          schema:
            type: string
        - name: model_id
          in: query
          required: true
          schema:
            type: string
        - name: metric_type
          in: query
          schema:
            type: string
            enum: [accuracy, precision, recall, f1_score, confidence, latency]
        - name: from
          in: query
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Accuracy metrics
          content:
            application/json:
              schema:
                type: object
                properties:
                  metrics:
                    type: array
                    items:
                      $ref: '#/components/schemas/AccuracyMetric'

  /api/v1/accuracy/bias:
    post:
      tags:
        - Accuracy
      summary: Record bias detection
      description: Record bias detection results for demographic groups
      operationId: recordBiasDetection
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BiasRecordInput'
      responses:
        '201':
          description: Bias record created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BiasRecord'

    get:
      tags:
        - Accuracy
      summary: Get bias records
      operationId: getBiasRecords
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
        - name: org_id
          in: query
          required: true
          schema:
            type: string
        - name: model_id
          in: query
          schema:
            type: string
        - name: category
          in: query
          schema:
            type: string
            enum: [gender, age, ethnicity, geography, language, socioeconomic, disability]
      responses:
        '200':
          description: Bias records
          content:
            application/json:
              schema:
                type: object
                properties:
                  records:
                    type: array
                    items:
                      $ref: '#/components/schemas/BiasRecord'

  /api/v1/accuracy/alerts:
    get:
      tags:
        - Accuracy
      summary: Get accuracy/bias alerts
      operationId: getAccuracyAlerts
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
        - name: org_id
          in: query
          required: true
          schema:
            type: string
        - name: active_only
          in: query
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: Alerts
          content:
            application/json:
              schema:
                type: object
                properties:
                  alerts:
                    type: array
                    items:
                      $ref: '#/components/schemas/AccuracyAlert'

  /api/v1/accuracy/alerts/{id}/acknowledge:
    post:
      tags:
        - Accuracy
      summary: Acknowledge alert
      operationId: acknowledgeAccuracyAlert
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - user_id
              properties:
                user_id:
                  type: string
      responses:
        '200':
          description: Alert acknowledged

  /api/v1/accuracy/alerts/{id}/resolve:
    post:
      tags:
        - Accuracy
      summary: Resolve alert
      operationId: resolveAccuracyAlert
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - user_id
              properties:
                user_id:
                  type: string
                resolution_notes:
                  type: string
      responses:
        '200':
          description: Alert resolved

  /api/v1/accuracy/thresholds:
    post:
      tags:
        - Accuracy
      summary: Set accuracy threshold
      operationId: setAccuracyThreshold
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccuracyThreshold'
      responses:
        '201':
          description: Threshold set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccuracyThreshold'

    get:
      tags:
        - Accuracy
      summary: Get accuracy thresholds
      operationId: getAccuracyThresholds
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
        - name: org_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Thresholds
          content:
            application/json:
              schema:
                type: object
                properties:
                  thresholds:
                    type: array
                    items:
                      $ref: '#/components/schemas/AccuracyThreshold'

  # ==========================================================================
  # Conformity Assessment (EU AI Act Article 43)
  # ==========================================================================

  /api/v1/conformity/assessments:
    post:
      tags:
        - Conformity
      summary: Create conformity assessment
      description: Create a new EU AI Act conformity assessment
      operationId: createConformityAssessment
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConformityAssessmentInput'
      responses:
        '201':
          description: Assessment created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConformityAssessment'

    get:
      tags:
        - Conformity
      summary: List conformity assessments
      operationId: listConformityAssessments
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
        - name: org_id
          in: query
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: Assessments
          content:
            application/json:
              schema:
                type: object
                properties:
                  assessments:
                    type: array
                    items:
                      $ref: '#/components/schemas/ConformityAssessment'
                  count:
                    type: integer

  /api/v1/conformity/assessments/{id}:
    get:
      tags:
        - Conformity
      summary: Get conformity assessment
      operationId: getConformityAssessment
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Assessment details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConformityAssessment'
        '404':
          description: Assessment not found

  /api/v1/conformity/assessments/{id}/start:
    post:
      tags:
        - Conformity
      summary: Start conformity assessment
      description: Transition assessment from draft to in_progress
      operationId: startConformityAssessment
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Assessment started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConformityAssessment'
        '400':
          description: Invalid status transition

  /api/v1/conformity/assessments/{id}/submit:
    post:
      tags:
        - Conformity
      summary: Submit assessment for review
      description: Submit completed assessment for approval
      operationId: submitConformityAssessment
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Assessment submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConformityAssessment'
        '400':
          description: Invalid status transition or incomplete checks

  /api/v1/conformity/assessments/{id}/approve:
    post:
      tags:
        - Conformity
      summary: Approve conformity assessment
      operationId: approveConformityAssessment
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - approved_by
              properties:
                approved_by:
                  type: string
                comments:
                  type: string
      responses:
        '200':
          description: Assessment approved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConformityAssessment'

  /api/v1/conformity/assessments/{id}/reject:
    post:
      tags:
        - Conformity
      summary: Reject conformity assessment
      operationId: rejectConformityAssessment
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - rejected_by
                - reason
              properties:
                rejected_by:
                  type: string
                reason:
                  type: string
      responses:
        '200':
          description: Assessment rejected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConformityAssessment'

  /api/v1/conformity/assessments/{id}/checks/{checkId}:
    put:
      tags:
        - Conformity
      summary: Update compliance check
      operationId: updateConformityCheck
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: checkId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComplianceCheckUpdate'
      responses:
        '200':
          description: Check updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplianceCheck'

  /api/v1/conformity/assessments/{id}/findings:
    post:
      tags:
        - Conformity
      summary: Add finding to assessment
      operationId: addConformityFinding
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConformityFindingInput'
      responses:
        '201':
          description: Finding added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConformityFinding'

  /api/v1/conformity/summary:
    get:
      tags:
        - Conformity
      summary: Get compliance summary
      operationId: getConformitySummary
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
        - name: org_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Compliance summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConformitySummary'

  # ==========================================================================
  # EU AI Act Export
  # ==========================================================================

  /api/v1/euaiact/export:
    post:
      tags:
        - EU AI Act
      summary: Export EU AI Act compliance data
      description: |
        Generate compliance export in EU regulatory format.
        Includes decision chains, HITL records, accuracy metrics, and assessments.
      operationId: exportEUAIActData
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EUAIActExportRequest'
      responses:
        '200':
          description: Export generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EUAIActExportResponse'

  /api/v1/euaiact/summary:
    get:
      tags:
        - EU AI Act
      summary: Get EU AI Act compliance summary
      operationId: getEUAIActSummary
      parameters:
        - $ref: '#/components/parameters/LicenseKey'
        - name: org_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Compliance summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EUAIActSummary'

  # =============================================================================
  # Static Policies API (ADR-018)
  # =============================================================================

  /api/v1/static-policies:
    get:
      tags:
        - Static Policies
      summary: List static policies
      description: |
        Returns static policies with three-tier hierarchy resolution:
        1. **System policies** - Managed by AxonFlow, immutable base
        2. **Organization policies** - Enterprise tier, organization-wide (Enterprise only)
        3. **Tenant policies** - Per-tenant customizations

        **v2.0.0 Categories** (semantic naming):
        - `security-sqli` - SQL injection detection (was: sql_injection)
        - `security-admin` - Admin access protection (was: admin_access)
        - `pii-global` - Global PII patterns (was: pii_detection)
        - `pii-us` - US-specific PII (SSN, etc.)
        - `pii-eu` - EU-specific PII (GDPR)
        - `pii-india` - India-specific PII (Aadhaar, PAN)
        - `custom` - Tenant-created policies

        Legacy category names are still accepted and automatically mapped.

        Part of ADR-018: Unified Policy Management System.
      operationId: listStaticPolicies
      parameters:
        - name: Authorization
          in: header
          required: false
          description: "Basic auth credentials: Basic base64(clientId:clientSecret). Required in evaluation/enterprise mode. Optional in community mode (defaults to community tenant)."
          schema:
            type: string
        - name: page
          in: query
          description: Page number (1-indexed)
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: page_size
          in: query
          description: Number of policies per page
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
        - name: category
          in: query
          description: |
            Filter by policy category. New categories use semantic naming.
            Legacy names (sql_injection, pii_detection, etc.) are still accepted.
          schema:
            type: string
            enum: [security-sqli, security-admin, pii-global, pii-us, pii-eu, pii-india, custom, sql_injection, pii_detection, dangerous_queries, admin_access]
        - name: tier
          in: query
          description: Filter by policy tier
          schema:
            type: string
            enum: [system, organization, tenant]
        - name: severity
          in: query
          description: Filter by severity level
          schema:
            type: string
            enum: [critical, high, medium, low]
        - name: enabled
          in: query
          description: Filter by enabled status
          schema:
            type: boolean
      responses:
        '200':
          description: List of static policies
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StaticPoliciesListResponse'
        '400':
          description: Invalid request body or parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - Static Policies
      summary: Create static policy
      description: |
        Creates a new static policy for the tenant.

        **Tier restrictions:**
        - `system` tier: Cannot be created via API (managed by AxonFlow)
        - `organization` tier: Requires Enterprise license
        - `tenant` tier: Default, limited to 30 policies in Community mode

        Part of ADR-018: Unified Policy Management System.
      operationId: createStaticPolicy
      parameters:
        - name: Authorization
          in: header
          required: false
          description: "Basic auth credentials: Basic base64(clientId:clientSecret). Required in evaluation/enterprise mode. Optional in community mode (defaults to community tenant)."
          schema:
            type: string
        - name: X-User-ID
          in: header
          required: false
          description: User ID for audit trail
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStaticPolicyRequest'
            examples:
              customPII:
                summary: Create custom PII detection policy
                value:
                  name: "Custom Employee ID Detection"
                  description: "Detects internal employee ID format"
                  category: "custom"
                  tier: "tenant"
                  pattern: "EMP-[0-9]{6}"
                  action: "warn"
                  severity: "medium"
                  enabled: true
                  tags: ["custom", "pii", "employee"]
      responses:
        '201':
          description: Policy created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StaticPolicy'
        '400':
          description: Invalid request body or missing required fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Operation forbidden (e.g., system tier creation, license required)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/static-policies/effective:
    get:
      tags:
        - Static Policies
      summary: Get effective policies
      description: |
        Returns all effective policies for a tenant with overrides applied.

        This endpoint resolves the three-tier hierarchy:
        1. System policies (base)
        2. Organization overrides (if any)
        3. Tenant overrides (if any)

        Used by the Customer Portal for the unified policy view.
      operationId: getEffectivePolicies
      parameters:
        - name: Authorization
          in: header
          required: false
          description: "Basic auth credentials: Basic base64(clientId:clientSecret). Required in evaluation/enterprise mode. Optional in community mode (defaults to community tenant)."
          schema:
            type: string
      responses:
        '200':
          description: Effective policies with overrides applied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EffectivePoliciesResponse'
        '400':
          description: Invalid request body or parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/static-policies/test:
    post:
      tags:
        - Static Policies
      summary: Test regex pattern
      description: |
        Tests a regex pattern against input strings without creating a policy.

        Useful for validating patterns before creating policies.
        Has a 5-second timeout to prevent ReDoS attacks.
      operationId: testStaticPolicyPattern
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestPatternRequest'
            examples:
              singleInput:
                summary: Test against single input
                value:
                  pattern: "\\b[0-9]{3}-[0-9]{2}-[0-9]{4}\\b"
                  input: "My SSN is 123-45-6789"
              multipleInputs:
                summary: Test against multiple inputs
                value:
                  pattern: "\\b[0-9]{3}-[0-9]{2}-[0-9]{4}\\b"
                  inputs:
                    - "My SSN is 123-45-6789"
                    - "No SSN here"
                    - "Another SSN: 987-65-4321"
      responses:
        '200':
          description: Pattern test results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestPatternResponse'
        '400':
          description: Invalid request body or pattern
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/static-policies/overrides:
    get:
      tags:
        - Static Policies
      summary: List policy overrides
      description: |
        Lists all policy overrides for a tenant.

        Overrides allow Enterprise customers to modify system policy behavior
        (action, enabled status) without changing the underlying pattern.
      operationId: listStaticPolicyOverrides
      parameters:
        - name: Authorization
          in: header
          required: false
          description: "Basic auth credentials: Basic base64(clientId:clientSecret). Required in evaluation/enterprise mode. Optional in community mode (defaults to community tenant)."
          schema:
            type: string
        - name: include_expired
          in: query
          required: false
          description: Include expired overrides in results
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: List of policy overrides
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyOverridesListResponse'
        '400':
          description: Invalid request body or parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/static-policies/{id}:
    get:
      tags:
        - Static Policies
      summary: Get static policy by ID
      description: |
        Returns a single static policy by its UUID.

        The policy ID is the `id` field from the static_policies table,
        not the `policy_id` (human-readable identifier like 'sql_injection_union').
      operationId: getStaticPolicy
      parameters:
        - name: Authorization
          in: header
          required: false
          description: "Basic auth credentials: Basic base64(clientId:clientSecret). Required in evaluation/enterprise mode. Optional in community mode (defaults to community tenant)."
          schema:
            type: string
        - name: id
          in: path
          required: true
          description: Static policy UUID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Static policy details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StaticPolicy'
        '400':
          description: Invalid request body or parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Policy not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
        - Static Policies
      summary: Update static policy
      description: |
        Updates an existing static policy.

        **Restrictions:**
        - System-tier policies cannot be modified (use overrides instead)
        - Pattern changes trigger version increment
      operationId: updateStaticPolicy
      parameters:
        - name: id
          in: path
          required: true
          description: Static policy UUID
          schema:
            type: string
            format: uuid
        - name: X-User-ID
          in: header
          required: false
          description: User ID for audit trail
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateStaticPolicyRequest'
      responses:
        '200':
          description: Policy updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StaticPolicy'
        '400':
          description: Invalid request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: System policies cannot be modified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Policy not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - Static Policies
      summary: Delete static policy
      description: |
        Soft-deletes a static policy (sets deleted_at timestamp).

        **Restrictions:**
        - System-tier policies cannot be deleted
      operationId: deleteStaticPolicy
      parameters:
        - name: id
          in: path
          required: true
          description: Static policy UUID
          schema:
            type: string
            format: uuid
        - name: X-User-ID
          in: header
          required: false
          description: User ID for audit trail
          schema:
            type: string
      responses:
        '204':
          description: Policy deleted successfully
        '403':
          description: System policies cannot be deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Policy not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags:
        - Static Policies
      summary: Toggle policy enabled status
      description: |
        Toggles the enabled status of a policy.

        **Restrictions:**
        - System-tier policies cannot be disabled via this endpoint (use overrides)
      operationId: toggleStaticPolicy
      parameters:
        - name: id
          in: path
          required: true
          description: Static policy UUID
          schema:
            type: string
            format: uuid
        - name: X-User-ID
          in: header
          required: false
          description: User ID for audit trail
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - enabled
              properties:
                enabled:
                  type: boolean
                  description: New enabled status
      responses:
        '200':
          description: Policy updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StaticPolicy'
        '403':
          description: System policies cannot be disabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Policy not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/static-policies/{id}/versions:
    get:
      tags:
        - Static Policies
      summary: Get policy version history
[...]
