openapi: 3.0.3
info:
  title: AxonFlow Orchestrator API
  description: |
    REST API for the AxonFlow Orchestrator service - Dynamic Policy Enforcement, LLM Routing, and Multi-Agent Planning.

    The Orchestrator handles:
    - **Dynamic Policy Evaluation**: Database-backed policy rules with risk scoring
    - **LLM Routing**: Intelligent routing across OpenAI, Anthropic, Bedrock, Ollama
    - **Multi-Agent Planning (MAP)**: LLM-powered task decomposition and parallel execution
    - **Response Processing**: PII detection and redaction
    - **Workflow Execution**: Step-based workflow orchestration
    - **Audit Logging**: Comprehensive request/response logging

    ## Architecture

    ```
    Client → Agent → Orchestrator → LLM Providers
                  ↘ MCP Connectors
    ```

    The Orchestrator receives pre-authenticated requests from the Agent and handles
    complex processing including LLM calls and dynamic policy evaluation.

    ## Internal API

    These endpoints are typically called by the Agent service, not directly by clients.
    For client-facing APIs, see the Agent API specification.

  version: 1.1.0
  contact:
    name: AxonFlow Support
    url: https://getaxonflow.com/support
  license:
    name: Business Source License 1.1
    url: https://github.com/getaxonflow/axonflow/blob/main/LICENSE

servers:
  - url: https://orchestrator.getaxonflow.com
    description: Production (SaaS)
  - url: http://localhost:8081
    description: Local Development

tags:
  - name: Health
    description: Service health and readiness
  - name: Processing
    description: Main request processing pipeline
  - name: Multi-Agent Planning
    description: LLM-powered task decomposition and execution
  - name: Agents
    description: |
      Agent configuration management (MAP 0.8). **Enterprise only** — the
      `/api/v1/agents` route family is registered only in Enterprise builds
      with a database connection; Community returns 404.
  - name: LLM Providers
    description: LLM provider management
  - name: Dynamic Policies
    description: Runtime policy management
  - name: Workflows
    description: Workflow execution engine
  - name: Workflow Control Plane
    description: |
      Governance gates for external orchestrators (LangChain, LangGraph, CrewAI).
      "LangChain runs the workflow. AxonFlow decides when it's allowed to move forward."

      Features:
      - Register workflows from external orchestrators
      - Check step gates before each workflow step
      - Apply policies at step transitions (allow/block/require_approval)
      - Track workflow lifecycle (in_progress/completed/aborted/failed)
  - name: Connectors
    description: Connector marketplace
  - name: Audit
    description: Audit log search and retrieval
  - name: SEBI Compliance
    description: |
      SEBI AI/ML Guidelines compliance and DPDP Act 2023 audit exports.
      Enterprise feature for Indian financial services compliance.
  - name: RBI Compliance
    description: |
      RBI FREE-AI Framework compliance for Indian banking institutions.
      Enterprise feature providing AI System Registry, Model Validation,
      Incident Management, Kill Switch, Board Reporting, and Audit Export.
  - name: EU AI Act
    description: |
      EU AI Act compliance endpoints for technical documentation export,
      conformity assessments (Article 43), and accuracy/bias tracking (Article 15).
      Enterprise feature for EU regulatory compliance.
  - name: OJK Compliance
    description: |
      OJK AI Governance + UU PDP compliance for Indonesian financial services.
      Audit export, retention/readiness checks, UU PDP Art. 46 breach-notification
      lifecycle, and a compliance dashboard. **Enterprise** feature.
  - name: Decisions & Overrides
    description: |
      Decision explainability (ADR-043) and session-scoped policy overrides
      (ADR-044). List recent governance decisions, explain a specific decision,
      and create/list/revoke time-boxed policy overrides.
  - name: Metrics
    description: Performance monitoring
  - name: Decision & Execution Replay
    description: |
      Decision & Execution Replay API for debugging, auditing, and compliance.
      Captures every step of workflow execution with full input/output snapshots and policy decisions.
  - name: Webhooks
    description: |
      Webhook subscription management for real-time event notifications.
      Subscribe to events like policy violations, workflow completions, budget alerts, etc.
  - name: Cost Controls
    description: |
      Budget management and LLM usage tracking for cost optimization.
      Supports budgets at organization, team, agent, workflow, and user scopes.
      Provides usage summaries, breakdowns, and pre-request budget checks.
  - name: Unified Executions
    description: |
      Unified execution tracking and real-time streaming for MAP plans and WCP workflows.
      SSE streaming provides real-time status updates. Community: 5 concurrent connections
      per tenant. Enterprise: Unlimited.
  - name: Media Governance
    description: |
      Multimodal image governance for LLM requests.
      Analyzes images for PII (via OCR), content safety, face/biometric detection, and document classification.
      Community tier provides fail-open governance with audit trail.
      Enterprise tier adds configurable enforcement and cloud analyzers.

paths:
  /health:
    get:
      tags:
        - Health
      summary: Health check
      description: |
        Returns service health status including component health:
        - Policy Engine
        - LLM Router
        - Response Processor
        - Audit Logger
        - Workflow Engine
        - Planning Engine (MAP)
        - Result Aggregator (MAP)
      operationId: healthCheck
      responses:
        '200':
          description: Service health status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
              example:
                status: healthy
                service: axonflow-orchestrator
                version: "9.8.0"
                timestamp: "2025-01-15T10:30:00Z"
                components:
                  policy_engine: true
                  llm_router: true
                  response_processor: true
                  audit_logger: true
                  workflow_engine: true
                  planning_engine: true
                  result_aggregator: true
                features:
                  multi_agent_planning: true

  /metrics:
    get:
      tags:
        - Metrics
      summary: Get performance metrics (JSON)
      description: |
        Returns comprehensive JSON metrics including:
        - Request counts and rates
        - Latency percentiles (P50, P95, P99)
        - Per-stage timing (dynamic policy, LLM)
        - Per-provider metrics (tokens, cost)
        - Health status
      operationId: getMetrics
      responses:
        '200':
          description: Performance metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricsResponse'
              example:
                orchestrator_metrics:
                  uptime_seconds: 3600
                  total_requests: 5000
                  success_requests: 4800
                  failed_requests: 100
                  blocked_requests: 100
                  success_rate: 96.0
                  rps: 1.38
                  error_rate_per_sec: 0.027
                  dynamic_policy_eval_p50_ms: 2.5
                  dynamic_policy_eval_p95_ms: 8.0
                  dynamic_policy_eval_p99_ms: 15.0
                  llm_routing_p50_ms: 500
                  llm_routing_p95_ms: 1500
                  llm_routing_p99_ms: 3000
                health:
                  up: 1
                  consecutive_errors: 0
                providers:
                  openai:
                    total_calls: 3000
                    success_calls: 2950
                    failed_calls: 50
                    total_tokens: 1500000
                    total_cost: 45.50
                    p99_ms: 2500
                  bedrock:
                    total_calls: 2000
                    success_calls: 1990
                    failed_calls: 10
                    total_tokens: 800000
                    total_cost: 12.00
                    p99_ms: 1800
                timestamp: "2025-01-15T10:30:00Z"

  /prometheus:
    get:
      tags:
        - Metrics
      summary: Prometheus metrics endpoint
      description: Returns metrics in Prometheus exposition format
      operationId: getPrometheusMetrics
      responses:
        '200':
          description: Prometheus metrics
          content:
            text/plain:
              schema:
                type: string

  /api/v1/process:
    post:
      tags:
        - Processing
      summary: Process orchestrator request
      description: |
        Main processing endpoint. Handles:
        1. Dynamic policy evaluation
        2. LLM provider routing
        3. Response processing (PII detection)
        4. Audit logging
        5. Metrics collection

        **Note**: This endpoint is typically called by the Agent, not directly by clients.
        For MCP queries (`request_type: mcp-query`), routes to the Agent MCP handler.
      operationId: processRequest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrchestratorRequest'
            examples:
              llmChat:
                summary: LLM chat request
                value:
                  request_id: "req_12345"
                  query: "Summarize the quarterly report"
                  request_type: "llm_chat"
                  user:
                    id: 123
                    email: "analyst@company.com"
                    role: "analyst"
                    permissions: ["query", "llm_chat"]
                    tenant_id: "tenant-abc"
                  client:
                    id: "analytics-app"
                    name: "Analytics Dashboard"
                    org_id: "org-123"
                    tenant_id: "tenant-abc"
                  context:
                    provider: "openai"
                    strict_provider: false
                    model_preference: "gpt-4"
                  timestamp: "2025-01-15T10:30:00Z"
              skipLLM:
                summary: Skip LLM (testing)
                value:
                  request_id: "test_001"
                  query: "Test query"
                  request_type: "llm_chat"
                  skip_llm: true
                  user:
                    id: 1
                    email: "test@test.com"
                    role: "tester"
                    tenant_id: "test-tenant"
                  client:
                    id: "test-client"
                    name: "Test"
                    tenant_id: "test-tenant"
                  timestamp: "2025-01-15T10:30:00Z"
      responses:
        '200':
          description: Request processed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrchestratorResponse'
              example:
                request_id: "req_12345"
                success: true
                data: "Here is the quarterly report summary..."
                redacted: false
                policy_info:
                  allowed: true
                  applied_policies:
                    - "rate-limit"
                    - "content-filter"
                  risk_score: 0.15
                  processing_time_ms: 5
                provider_info:
                  provider: "openai"
                  model: "gpt-4"
                  response_time_ms: 1250
                  tokens_used: 350
                  cost: 0.021
                processing_time: "1.3s"
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          description: Blocked by dynamic policy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrchestratorResponse'
              example:
                request_id: "req_12345"
                success: false
                error: "Request blocked by dynamic policy"
                policy_info:
                  allowed: false
                  applied_policies:
                    - "high-risk-content"
                  risk_score: 0.85
                  required_actions:
                    - "approval_required"
                processing_time: "8ms"
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v1/plan:
    post:
      tags:
        - Multi-Agent Planning
      summary: Execute multi-agent plan
      description: |
        Multi-Agent Planning (MAP) endpoint for complex, multi-step tasks.

        ## How MAP Works
        1. **Decomposition**: LLM analyzes query and breaks into sub-tasks
        2. **Planning**: Creates workflow with dependencies
        3. **Execution**: Runs tasks (parallel when possible)
        4. **Aggregation**: Synthesizes results into final response

        ## Execution Modes
        - `auto`: Automatically determines parallel/sequential (recommended)
        - `parallel`: Force parallel execution of all independent steps
        - `sequential`: Force sequential step-by-step execution
        - `balanced`: I/O-bound connector steps parallel, LLM steps sequential
        - `confirm`: Every step requires explicit approval (Enterprise only)
        - `step`: First step auto-executes, subsequent require approval (Enterprise only)

        ## Domains
        - `travel`: Flights, hotels, itineraries
        - `healthcare`: Medical queries
        - `finance`: Financial analysis
        - `generic`: General-purpose tasks

        Plan steps are automatically routed to matching connectors based on capabilities.
        Community: Subject to connector limits (2 connectors).
        Enterprise: Unlimited connectors with multi-connector fallback support.

        **Requires authentication**: Requests must come through the Agent.
      operationId: executePlan
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlanRequest'
            examples:
              travelPlan:
                summary: Travel planning
                value:
                  query: "Find flights from NYC to LAX next week and suggest hotels"
                  domain: "travel"
                  execution_mode: "auto"
                  user:
                    id: 123
                    email: "traveler@company.com"
                    role: "employee"
                    permissions: ["query", "mcp_query"]
                    tenant_id: "tenant-abc"
                  client:
                    id: "travel-planner"
                    name: "Travel Planning App"
                  context:
                    departure_date: "2025-01-20"
                    return_date: "2025-01-25"
                    budget: 1500
              genericPlan:
                summary: Generic task
                value:
                  query: "Research competitor pricing and create a summary report"
                  domain: "generic"
                  execution_mode: "sequential"
                  user:
                    id: 456
                    email: "analyst@company.com"
                    role: "analyst"
                    permissions: ["query", "llm_chat"]
                    tenant_id: "tenant-xyz"
      responses:
        '200':
          description: Plan executed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanResponse'
              example:
                success: true
                plan_id: "plan_1705312200_abc123"
                workflow_execution_id: "exec_xyz789"
                result:
                  flights:
                    - flight_number: "UA123"
                      price: 299
                      departure: "2025-01-20T08:00:00Z"
                  hotels:
                    - name: "Hilton LAX"
                      price_per_night: 189
                      rating: 4.5
                  summary: "Found 5 flights and 3 hotels within budget"
                metadata:
                  tasks_executed: 3
                  execution_mode: "parallel"
                  execution_time_ms: 3500
                  tasks:
                    - name: "search_flights"
                      status: "completed"
                      time_ms: 1200
                    - name: "search_hotels"
                      status: "completed"
                      time_ms: 1100
                    - name: "synthesize_results"
                      status: "completed"
                      time_ms: 800
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: "Authentication required: requests must be routed through AxonFlow Agent"
        '503':
          description: Planning engine unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/plan/execute:
    post:
      tags:
        - Multi-Agent Planning
      summary: Execute a stored plan
      description: |
        Executes a plan previously generated and stored via `POST /api/v1/plan`.
        The plan to execute is identified by `context.plan_id` in the request body.
        The execution mode is taken from the **stored plan** (not this request):
        `auto`, `parallel`, `sequential`, `balanced`, or the Enterprise-only
        HITL modes `confirm` / `step`.

        **Requires authentication**: requests must be routed through the AxonFlow
        Agent (`user.id` must be set). The `X-Tenant-ID` / `X-Org-ID` headers set
        by the Agent auth chain override any identity fields in the body.

        A plan can be executed once: re-executing returns 409, a cancelled plan
        returns 409, and an expired plan returns 410.
      operationId: executeStoredPlan
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlanRequest'
            example:
              query: "Find flights from NYC to LAX next week"
              domain: "travel"
              user:
                id: 123
                email: "traveler@company.com"
                role: "employee"
                permissions: ["query", "mcp_query"]
                tenant_id: "tenant-abc"
              context:
                plan_id: "plan_1705312200_abc123"
      responses:
        '200':
          description: |
            Plan executed successfully. Body is a PlanResponse for normal
            execution. HITL `confirm`/`step` dispatch returns an inline object
            (`plan_id`, `workflow_id`, `status`, `current_step`, `total_steps`,
            `step_name`, `approval_info`) instead.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanResponse'
        '202':
          description: Execution paused awaiting HITL approval
          content:
            application/json:
              schema:
                type: object
                properties:
                  plan_id:
                    type: string
                  execution_id:
                    type: string
                  status:
                    type: string
                    example: "paused"
                  paused_at_step:
                    type: string
                  paused_reason:
                    type: string
                  approval_id:
                    type: string
        '400':
          description: Invalid request body or missing context.plan_id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Not routed through AxonFlow Agent (user.id missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Policy blocked execution, or HITL confirm/step mode requested in Community edition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanResponse'
        '404':
          description: Plan not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Plan already executed or cancelled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '410':
          description: Plan expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Concurrent plan-execution limit reached
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        example: "CONCURRENT_EXECUTION_LIMIT"
                      message:
                        type: string
        '503':
          description: Workflow engine or plan storage unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/plan/{id}:
    get:
      tags:
        - Multi-Agent Planning
      summary: Get plan execution status
      description: |
        Retrieve the status of a plan by ID.

        Returns detailed execution status including:
        - Overall plan status (pending, executing, completed, failed, expired)
        - Step-level progress with completion percentage
        - Duration and cost tracking
        - Error details if execution failed

        **New in #1075:** Response now includes unified execution tracking with:
        - `steps` array with individual step status
        - `progress_percent` for real-time progress
        - `duration` for elapsed time
        - `estimated_cost_usd` and `actual_cost_usd` for cost tracking
      operationId: getPlanStatus
      parameters:
        - name: id
          in: path
          required: true
          description: Plan ID (e.g., plan_1705312200_abc123)
          schema:
            type: string
      responses:
        '200':
          description: Plan status retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanStatusResponse'
              examples:
                pending:
                  summary: Pending plan
                  value:
                    plan_id: "plan_1705312200_abc123"
                    execution_id: "plan_xyz789"
                    status: "pending"
                    query: "Find flights from NYC to LAX"
                    domain: "travel"
                    total_steps: 3
                    completed_steps: 0
                    progress_percent: 0
                    created_at: "2025-01-15T10:00:00Z"
                    expires_at: "2025-01-15T12:00:00Z"
                executing:
                  summary: Executing plan with step progress
                  value:
                    plan_id: "plan_1705312200_abc123"
                    execution_id: "plan_xyz789"
                    status: "executing"
                    query: "Research competitor pricing"
                    domain: "generic"
                    total_steps: 3
                    completed_steps: 1
                    progress_percent: 33.33
                    duration: "15s"
                    started_at: "2025-01-15T10:00:00Z"
                    steps:
                      - step_id: "step_0_analyze"
                        step_index: 0
                        step_name: "analyze"
                        step_type: "llm_call"
                        status: "completed"
                        duration: "8s"
                        model: "gpt-4"
                        provider: "openai"
                      - step_id: "step_1_research"
                        step_index: 1
                        step_name: "research"
                        step_type: "llm_call"
                        status: "running"
                        started_at: "2025-01-15T10:00:08Z"
                      - step_id: "step_2_synthesize"
                        step_index: 2
                        step_name: "synthesize"
                        step_type: "llm_call"
                        status: "pending"
                completed:
                  summary: Completed plan with costs
                  value:
                    plan_id: "plan_1705312200_abc123"
                    execution_id: "plan_xyz789"
                    status: "completed"
                    query: "Analyze sales data"
                    domain: "finance"
                    total_steps: 2
                    completed_steps: 2
                    progress_percent: 100
                    duration: "25s"
                    estimated_cost_usd: 0.05
                    actual_cost_usd: 0.042
                    created_at: "2025-01-15T10:00:00Z"
                    started_at: "2025-01-15T10:00:00Z"
                    completed_at: "2025-01-15T10:00:25Z"
                    steps:
                      - step_id: "step_0_query"
                        step_index: 0
                        step_name: "query_data"
                        step_type: "connector_call"
                        status: "completed"
                        duration: "5s"
                        cost_usd: 0.002
                      - step_id: "step_1_analyze"
                        step_index: 1
                        step_name: "analyze"
                        step_type: "llm_call"
                        status: "completed"
                        duration: "20s"
                        cost_usd: 0.04
                        model: "claude-sonnet-4"
                        provider: "anthropic"
        '404':
          description: Plan not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: "Plan not found: plan_nonexistent"
        '410':
          description: Plan expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: "Plan has expired: plan_1705312200_abc123"
        '503':
          description: Plan service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
        - Multi-Agent Planning
      summary: Update a pending plan
      description: |
        Update a plan that has not yet been executed.
        Uses optimistic locking via the `version` field — the request must include
        the expected current version. If the version doesn't match, returns 409.

        Only plans with status `pending` can be updated.
      operationId: updatePlan
      parameters:
        - name: id
          in: path
          required: true
          description: Plan ID to update
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePlanRequest'
            example:
              version: 1
              execution_mode: "parallel"
      responses:
        '200':
          description: Plan updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePlanResponse'
              example:
                success: true
                plan_id: "plan_1705312200_abc123"
                version: 2
                status: "pending"
        '404':
          description: Plan not found
        '409':
          description: Version conflict (plan was modified by another request)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: "Version conflict: expected version 1, current version is 2"

  /api/v1/plan/{id}/cancel:
    post:
      tags:
        - Multi-Agent Planning
      summary: Cancel a pending plan
      description: |
        Cancel a plan that has not yet completed execution.
        Only plans with status `pending` or `executing` can be cancelled.
        Returns 409 if the plan is already completed or cancelled.
      operationId: cancelPlan
      parameters:
        - name: id
          in: path
          required: true
          description: Plan ID to cancel
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: Optional cancellation reason
                  example: "User requested cancellation"
      responses:
        '200':
          description: Plan cancelled successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelPlanResponse'
              example:
                success: true
                plan_id: "plan_1705312200_abc123"
                status: "cancelled"
        '404':
          description: Plan not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Plan cannot be cancelled (already completed or cancelled)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: "Plan is already completed and cannot be cancelled"

  /api/v1/plan/{id}/versions:
    get:
      tags:
        - Multi-Agent Planning
      summary: Get plan version history
      description: |
        Retrieve the version history for a plan, showing all changes made.
        Each version entry includes the change type, who made it, and when.

        Community: Max 10 versions per plan, max 25 plans with versioning.
        Enterprise: Unlimited.
      operationId: getPlanVersions
      parameters:
        - name: id
          in: path
          required: true
          description: Plan ID
          schema:
            type: string
      responses:
        '200':
          description: Version history retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanVersionsResponse'
              example:
                plan_id: "plan_1705312200_abc123"
                versions:
                  - version: 1
                    changed_at: "2026-01-15T10:00:00Z"
                    change_type: "created"
                    change_summary: "Plan created"
                  - version: 2
                    changed_at: "2026-01-15T10:05:00Z"
                    changed_by: "user-123"
                    change_type: "updated"
                    change_summary: "Changed execution_mode to parallel"
        '404':
          description: Plan not found

  /api/v1/plan/{id}/resume:
    post:
      tags:
        - Multi-Agent Planning
      summary: Resume a paused plan (Enterprise only)
      description: |
        Resume execution of a plan that is paused at an approval gate.
        Used with `confirm` and `step` execution modes.

        - `confirm` mode: Every step requires explicit approval
        - `step` mode: First step auto-executes, subsequent steps require approval

        Set `approved: true` to approve and execute the next step,
        or `approved: false` to reject and abort the plan.

        **Requires:** Enterprise license.
      operationId: resumePlan
      parameters:
        - name: id
          in: path
          required: true
          description: Plan ID to resume
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                approved:
                  type: boolean
                  description: Whether to approve the pending step
                  default: true
            example:
              approved: true
      responses:
        '200':
          description: Plan resumed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResumePlanResponse'
              examples:
                awaitingNext:
                  summary: Step approved, waiting at next step
                  value:
                    plan_id: "plan_1705312200_abc123"
                    status: "awaiting_approval"
                    result: null
                completed:
                  summary: All steps complete
                  value:
                    plan_id: "plan_1705312200_abc123"
                    status: "completed"
                    result:
                      summary: "Trip booked successfully"
        '403':
          description: Enterprise license required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: "Confirm/step execution modes require an Enterprise license"
        '404':
          description: Plan not found or not awaiting approval

  /api/v1/plan/{id}/rollback/{version}:
    post:
      tags:
        - Multi-Agent Planning
      summary: Rollback plan to a previous version (Enterprise only)
      description: |
        Rollback a plan to a previously saved version. This creates a new version
        that restores the plan state from the specified historical version.

        Uses the plan's version history to retrieve the target version and applies
        it as the current state. Returns 409 if a concurrent modification occurred.

        **Requires:** Enterprise license.
      operationId: rollbackPlan
      parameters:
        - name: id
          in: path
          required: true
          description: Plan ID to rollback
          schema:
            type: string
          example: "plan_1705312200_abc123"
        - name: version
          in: path
          required: true
          description: Target version number to rollback to
          schema:
            type: integer
          example: 2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Plan rolled back successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RollbackPlanResponse'
              example:
                plan_id: "plan_1705312200_abc123"
                version: 4
                previous_version: 2
                status: "pending"
        '403':
          description: Enterprise license required (community mode)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: "Plan rollback requires an Enterprise license"
        '404':
          description: Plan or version not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: "Plan not found: plan_nonexistent"
        '409':
          description: Version conflict (concurrent modification)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: "Version conflict: plan was modified during rollback"

  # ============================================================================
  # Agent Management API (MAP 0.8)
  # ============================================================================

  /api/v1/agents:
    get:
      tags:
        - Agents
      summary: List all agents (Enterprise)
      description: |
        Returns a paginated list of all agents from the registry.
        In hybrid mode, includes both file-based and database-backed agents.
        Database agents take priority over file agents with the same name.

        **Enterprise only.** The entire `/api/v1/agents` route family is
        registered only in Enterprise builds with a database connection;
        Community deployments return 404 for every `/api/v1/agents` path.
      operationId: listAgents
      parameters:
        - name: page
          in: query
          description: Page number (1-based)
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: page_size
          in: query
          description: Number of agents per page
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
        - name: domain
          in: query
          description: Filter by domain
          schema:
            type: string
      responses:
        '200':
          description: List of agents
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentListResponse'
              example:
                agents:
                  - id: "travel/flight-booking"
                    name: "flight-booking"
                    domain: "travel"
                    description: "Flight search and booking agent"
                    version: 1
                    is_active: true
                  - id: "healthcare/patient-assistant"
                    name: "patient-assistant"
                    domain: "healthcare"
                    description: "Patient query assistant"
                    version: 2
                    is_active: true
                pagination:
                  page: 1
                  page_size: 20
                  total: 2
                  total_pages: 1
    post:
      tags:
        - Agents
      summary: Create new agent (Enterprise)
      description: |
        Create a new agent configuration in the database.
        **Enterprise only** - requires database-backed storage.

        The agent is created with version 1 and marked as active by default.
        A version history entry is automatically created.
      operationId: createAgent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAgentRequest'
            example:
              name: "travel-planner"
              domain: "travel"
              description: "Travel planning and booking assistant"
              is_active: true
              config:
                execution:
                  default_mode: "auto"
                  max_parallel_tasks: 5
                  timeout_seconds: 300
                agents:
                  - name: "flight-search"
                    type: "llm-call"
                    llm:
                      provider: "anthropic"
                      model: "claude-sonnet-4"
                routing:
                  - pattern: "flight|fly"
                    agent: "flight-search"
                    priority: 10
      responses:
        '201':
          description: Agent created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentResponse'
        '400':
          description: Invalid request or validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Agent with same name already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/agents/{id}:
    get:
      tags:
        - Agents
      summary: Get agent by ID (Enterprise)
      description: |
        Returns detailed information about a specific agent.
        The ID format is `domain/name` (e.g., `travel/flight-booking`).

        **Enterprise only** - the `/api/v1/agents` family is not registered in Community.
      operationId: getAgent
      parameters:
        - name: id
          in: path
          required: true
          description: Agent ID in format domain/name
          schema:
            type: string
          example: "travel/flight-booking"
      responses:
        '200':
          description: Agent details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentResource'
        '404':
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
        - Agents
      summary: Update agent (Enterprise)
      description: |
        Update an existing agent configuration.
        **Enterprise only** - requires database-backed storage.

        Updates increment the version number automatically.
        A version history entry is created for the change.
      operationId: updateAgent
      parameters:
        - name: id
          in: path
          required: true
          description: Agent ID (UUID)
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAgentRequest'
      responses:
        '200':
          description: Agent updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - Agents
      summary: Delete agent (Enterprise)
      description: |
        Delete an agent configuration.
        **Enterprise only** - requires database-backed storage.

        The deletion is recorded in the version history before removal.
      operationId: deleteAgent
      parameters:
        - name: id
          in: path
          required: true
          description: Agent ID (UUID)
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Agent deleted
        '404':
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # NOTE: GET /api/v1/agents/domain/{domain} was removed from this spec (#2884).
  # The Enterprise agent CRUD handler exposes no such subroute; use
  # GET /api/v1/agents?domain={domain} instead.

  /api/v1/agents/validate:
    post:
      tags:
        - Agents
      summary: Validate agent configuration (Enterprise)
      description: |
        Validates an agent configuration without creating it.
        Useful for dry-run validation before deployment.

        **Enterprise only** - the `/api/v1/agents` family is not registered in Community.

        Checks:
        - Required fields present
        - Name/domain format valid
        - Agent types valid (llm-call, connector-call)
        - LLM config complete for llm-call agents
        - Routing rules reference defined agents
      operationId: validateAgent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateAgentRequest'
      responses:
        '200':
          description: Validation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationResponse'
              example:
                valid: true
                errors: []
        '400':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationResponse'
              example:
                valid: false
                errors:
                  - "field 'name' is required"
                  - "routing rule references undefined agent 'unknown-agent'"

  /api/v1/agents/{id}/activate:
    post:
      tags:
        - Agents
      summary: Activate agent (Enterprise)
      description: |
        Activate a deactivated agent.
        **Enterprise only** - requires database-backed storage.
      operationId: activateAgent
      parameters:
        - name: id
          in: path
          required: true
          description: Agent ID (UUID)
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Agent activated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentResponse'
        '404':
          description: Agent not found

  /api/v1/agents/{id}/deactivate:
    post:
      tags:
        - Agents
      summary: Deactivate agent (Enterprise)
      description: |
        Deactivate an agent without deleting it.
        **Enterprise only** - requires database-backed storage.
      operationId: deactivateAgent
      parameters:
        - name: id
          in: path
          required: true
          description: Agent ID (UUID)
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Agent deactivated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentResponse'
        '404':
          description: Agent not found

  /api/v1/agents/{id}/test:
    post:
      tags:
        - Agents
      summary: Test agent in sandbox (Enterprise)
      description: |
        Test an agent configuration in a sandbox environment.
        **Enterprise only** - requires database-backed storage.

        Executes a test query against the agent without affecting production.
      operationId: testAgent
      parameters:
        - name: id
          in: path
          required: true
          description: Agent ID (UUID)
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestAgentRequest'
            example:
              query: "Search for flights from NYC to LAX"
              context:
                departure_date: "2025-01-15"
      responses:
        '200':
          description: Test result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestAgentResponse'
        '404':
          description: Agent not found

  /api/v1/agents/{id}/versions:
    get:
      tags:
        - Agents
      summary: Get agent version history (Enterprise)
      description: |
        Returns the version history for an agent.
        **Enterprise only** - requires database-backed storage.

        Includes all changes: create, update, delete, activate, deactivate.
      operationId: getAgentVersions
      parameters:
        - name: id
          in: path
          required: true
          description: Agent ID (UUID)
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          description: Maximum number of versions to return
          schema:
            type: integer
            default: 50
            maximum: 100
      responses:
        '200':
          description: Version history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentVersionsResponse'
              example:
                versions:
                  - version: 2
                    change_type: "update"
                    changed_at: "2025-12-07T12:00:00Z"
                    change_summary: "Updated routing rules"
                  - version: 1
                    change_type: "create"
                    changed_at: "2025-12-06T10:00:00Z"
                    change_summary: "Initial creation"
        '404':
          description: Agent not found

  /api/v1/providers/status:
    get:
      tags:
        - LLM Providers
      summary: Get LLM provider status
      description: Returns status and availability of all configured LLM providers
      operationId: getProviderStatus
      responses:
        '200':
          description: Provider status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderStatusResponse'
              example:
                providers:
                  - name: "openai"
                    available: true
                    models:
                      - "gpt-4"
                      - "gpt-4o"
                      - "gpt-4o-mini"
                    weight: 0.4
                    avg_latency_ms: 1200
                  - name: "bedrock"
                    available: true
                    models:
                      - "anthropic.claude-v2"
                      - "amazon.titan-text"
                    weight: 0.4
                    avg_latency_ms: 900
                  - name: "ollama"
                    available: true
                    models:
                      - "llama3.2"
                      - "mistral"
                    weight: 0.2
                    avg_latency_ms: 500

  /api/v1/providers/weights:
    put:
      tags:
        - LLM Providers
      summary: Update provider routing weights
      description: |
        Update the routing weights for LLM providers.
        Weights determine the probability of routing to each provider.
        Weights must sum to 1.0.
      operationId: updateProviderWeights
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: number
                minimum: 0
                maximum: 1
            example:
              openai: 0.5
              bedrock: 0.3
              ollama: 0.2
      responses:
        '200':
          description: Weights updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
              example:
                status: success
                message: "Provider weights updated"
        '400':
          $ref: '#/components/responses/BadRequest'

  # New Pluggable LLM Provider Management API (Issue #388)
  /api/v1/llm-provider-types:
    get:
      tags:
        - LLM Providers
      summary: List available provider types
      description: |
        Returns a list of available LLM provider types (factory info).
        This endpoint helps clients discover what provider types can be configured.
      operationId: listLLMProviderTypes
      responses:
        '200':
          description: List of available provider types
          content:
            application/json:
              schema:
                type: object
                properties:
                  provider_types:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          enum: [openai, azure-openai, anthropic, bedrock, ollama, gemini, custom]
                        name:
                          type: string
                          description: Human-readable name
                        description:
                          type: string
                        supports_streaming:
                          type: boolean
                        requires_api_key:
                          type: boolean
                        configuration_schema:
                          type: object
                          description: JSON Schema for provider configuration
              example:
                provider_types:
                  - type: openai
                    name: OpenAI
                    description: "OpenAI GPT models (gpt-4, gpt-4o-mini)"
                    supports_streaming: true
                    requires_api_key: true
                  - type: anthropic
                    name: Anthropic
                    description: "Anthropic Claude models"
                    supports_streaming: true
                    requires_api_key: true
                  - type: bedrock
                    name: AWS Bedrock
                    description: "AWS Bedrock models (Claude, Titan, Llama)"
                    supports_streaming: true
                    requires_api_key: false
                  - type: ollama
                    name: Ollama
                    description: "Local Ollama models"
                    supports_streaming: true
                    requires_api_key: false
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/llm-providers:
    get:
      tags:
        - LLM Providers
      summary: List LLM providers
      description: |
        Returns a paginated list of configured LLM providers.
        Supports filtering by type and enabled status.
      operationId: listLLMProviders
      parameters:
        - name: type
          in: query
          description: Filter by provider type
          schema:
            type: string
            enum: [openai, azure-openai, anthropic, bedrock, ollama, gemini, custom]
        - name: enabled
          in: query
          description: Filter by enabled status
          schema:
            type: boolean
        - name: page
          in: query
          description: Page number (1-indexed)
          schema:
            type: integer
            default: 1
        - name: page_size
          in: query
          description: Items per page
          schema:
            type: integer
            default: 20
            maximum: 100
      responses:
        '200':
          description: List of LLM providers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LLMProviderListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags:
        - LLM Providers
      summary: Create LLM provider
      description: |
        Register a new LLM provider. API keys can be provided directly
        or via AWS Secrets Manager ARN for secure credential storage.
      operationId: createLLMProvider
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLLMProviderRequest'
      responses:
        '201':
          description: Provider created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LLMProviderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: Provider already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LLMProviderAPIError'

  /api/v1/llm-providers/{name}:
    get:
      tags:
        - LLM Providers
      summary: Get LLM provider
      description: Returns details for a specific LLM provider
      operationId: getLLMProvider
      parameters:
        - name: name
          in: path
          required: true
          description: Provider name
          schema:
            type: string
      responses:
        '200':
          description: Provider details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LLMProviderResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Provider not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LLMProviderAPIError'

    put:
      tags:
        - LLM Providers
      summary: Update LLM provider
      description: |
        Update an existing LLM provider configuration.
        Only provided fields are updated (partial update).
      operationId: updateLLMProvider
      parameters:
        - name: name
          in: path
          required: true
          description: Provider name
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLLMProviderRequest'
      responses:
        '200':
          description: Provider updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LLMProviderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Provider not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LLMProviderAPIError'

    delete:
      tags:
        - LLM Providers
      summary: Delete LLM provider
      description: Remove an LLM provider configuration
      operationId: deleteLLMProvider
      parameters:
        - name: name
          in: path
          required: true
          description: Provider name
          schema:
            type: string
      responses:
        '204':
          description: Provider deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Provider not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LLMProviderAPIError'

  /api/v1/llm-providers/{name}/health:
    get:
      tags:
        - LLM Providers
      summary: Get provider health
      description: Check health status of a specific LLM provider
      operationId: getLLMProviderHealth
      parameters:
        - name: name
          in: path
          required: true
          description: Provider name
          schema:
            type: string
      responses:
        '200':
          description: Provider health status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LLMProviderHealthResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Provider not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LLMProviderAPIError'

  /api/v1/llm-providers/{name}/test:
    post:
      tags:
        - LLM Providers
      summary: Test LLM provider connection
      description: |
        Tests a provider connection by making a simple API call.
        Returns success status and latency information.
      operationId: testLLMProvider
      parameters:
        - name: name
          in: path
          required: true
          description: Provider name
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
                  description: Optional test prompt (default is simple greeting)
                  example: "Say hello in one word."
                model:
                  type: string
                  description: Optional model to test with
      responses:
        '200':
          description: Provider test result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  provider:
                    type: string
                  latency_ms:
                    type: number
                  response:
                    type: string
                    description: Model response (if successful)
                  error:
                    type: string
                    description: Error message (if failed)
              example:
                success: true
                provider: "openai"
                latency_ms: 245
                response: "Hello!"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Provider not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LLMProviderAPIError'
        '503':
          description: Provider connection failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: "Connection timeout"

  /api/v1/llm-providers/status:
    get:
      tags:
        - LLM Providers
      summary: Get all providers status
      description: |
        Returns status information for all configured LLM providers.
        Includes enabled status, configuration summary, and last health check.
      operationId: getAllLLMProvidersStatus
      responses:
        '200':
          description: All providers status
          content:
            application/json:
              schema:
                type: object
                properties:
                  providers:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        type:
                          type: string
                        enabled:
                          type: boolean
                        healthy:
                          type: boolean
                        last_check:
                          type: string
                          format: date-time
                        models_count:
                          type: integer
              example:
                providers:
                  - name: "openai-primary"
                    type: "openai"
                    enabled: true
                    healthy: true
                    last_check: "2025-01-03T10:30:00Z"
                    models_count: 5
                  - name: "anthropic-backup"
                    type: "anthropic"
                    enabled: true
                    healthy: true
                    last_check: "2025-01-03T10:30:00Z"
                    models_count: 3
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/llm-providers/routing:
    get:
      tags:
        - LLM Providers
      summary: Get routing configuration
      description: Get current LLM provider routing weights
      operationId: getLLMRoutingConfig
      responses:
        '200':
          description: Routing configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LLMRoutingConfigResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

    put:
      tags:
        - LLM Providers
      summary: Update routing weights
      description: |
        Update LLM provider routing weights.
        Weights are integers representing relative priority.
      operationId: updateLLMRoutingWeights
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLLMRoutingRequest'
      responses:
        '200':
          description: Routing weights updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LLMRoutingConfigResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # =============================================================================
  # Policy CRUD API
  # =============================================================================
  /api/v1/policies:
    get:
      tags:
        - Dynamic Policies
      summary: List policies
      description: |
        Returns a paginated list of policies with filtering support.
        Use this for policy management in the Customer Portal.
      operationId: listPolicies
      parameters:
        - name: X-Tenant-ID
          in: header
          required: true
          schema:
            type: string
        - name: type
          in: query
          description: Filter by policy type
          schema:
            type: string
            enum: [static, dynamic]
        - name: enabled
          in: query
          description: Filter by enabled status
          schema:
            type: boolean
        - name: search
          in: query
          description: Search in name and description
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: page_size
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: sort_by
          in: query
          schema:
            type: string
            enum: [name, created_at, updated_at, priority]
        - name: sort_dir
          in: query
          schema:
            type: string
            enum: [asc, desc]
            default: asc
      responses:
        '200':
          description: List of policies
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PoliciesListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
        - Dynamic Policies
      summary: Create policy
      description: Create a new policy
      operationId: createPolicy
      parameters:
        - name: X-Tenant-ID
          in: header
          required: true
          schema:
            type: string
        - name: X-User-ID
          in: header
          required: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePolicyRequest'
      responses:
        '201':
          description: Policy created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/policies/import:
    post:
      tags:
        - Dynamic Policies
      summary: Import policies
      description: |
        Bulk import policies from JSON or YAML format.
        Supports create or update semantics based on policy_id.
      operationId: importPolicies
      parameters:
        - name: X-Tenant-ID
          in: header
          required: true
          schema:
            type: string
        - name: X-User-ID
          in: header
          required: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - policies
              properties:
                policies:
                  type: array
                  items:
                    $ref: '#/components/schemas/CreatePolicyRequest'
                mode:
                  type: string
                  enum: [create, upsert]
                  default: upsert
                  description: Import mode - create only or upsert (create or update)
      responses:
        '200':
          description: Import result
          content:
            application/json:
              schema:
                type: object
                properties:
                  created:
                    type: integer
                  updated:
                    type: integer
                  failed:
                    type: integer
                  errors:
                    type: array
                    items:
                      type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/policies/export:
    get:
      tags:
        - Dynamic Policies
      summary: Export policies
      description: Export all policies in JSON or YAML format for backup or migration
      operationId: exportPolicies
      parameters:
        - name: X-Tenant-ID
          in: header
          required: true
          schema:
            type: string
        - name: format
          in: query
          description: Export format
          schema:
            type: string
            enum: [json, yaml]
            default: json
        - name: type
          in: query
          description: Filter by policy type
          schema:
            type: string
            enum: [static, dynamic, all]
            default: all
      responses:
        '200':
          description: Exported policies
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: string
                    example: "1.0"
                  exported_at:
                    type: string
                    format: date-time
                  policies:
                    type: array
                    items:
                      $ref: '#/components/schemas/Policy'
            application/x-yaml:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/policies/{id}:
    get:
      tags:
        - Dynamic Policies
      summary: Get policy by ID
      operationId: getPolicy
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Tenant-ID
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Policy details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Policy not found
    put:
      tags:
        - Dynamic Policies
      summary: Update policy
      operationId: updatePolicy
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Tenant-ID
          in: header
          required: true
          schema:
            type: string
        - name: X-User-ID
          in: header
          required: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePolicyRequest'
      responses:
        '200':
          description: Policy updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Policy not found
    delete:
      tags:
        - Dynamic Policies
      summary: Delete policy
      operationId: deletePolicy
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Tenant-ID
          in: header
          required: true
          schema:
            type: string
        - name: X-User-ID
          in: header
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Policy deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Policy not found

  /api/v1/policies/{id}/test:
    post:
      tags:
        - Dynamic Policies
      summary: Test policy against input
      description: Test how a specific policy evaluates against sample input
      operationId: testPolicyById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Tenant-ID
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - query
              properties:
                query:
                  type: string
                  description: Input to evaluate
                context:
                  type: object
                  description: Additional context
      responses:
        '200':
          description: Test result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyEvaluationResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Policy not found

  /api/v1/policies/{id}/versions:
    get:
      tags:
        - Dynamic Policies
      summary: Get policy version history
      description: |
        Returns version history for a policy.
        Community edition limited to 5 versions.
      operationId: getPolicyVersions
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Tenant-ID
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Version history
          content:
            application/json:
              schema:
                type: object
                properties:
                  policy_id:
                    type: string
                  versions:
                    type: array
                    items:
                      type: object
                      properties:
                        version:
                          type: integer
                        snapshot:
                          type: object
                        change_type:
                          type: string
                        changed_by:
                          type: string
                        changed_at:
                          type: string
                          format: date-time
                  count:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Policy not found

  /api/v1/policies/dynamic:
    get:
      tags:
        - Dynamic Policies
      summary: List active dynamic policies
      description: Returns all active dynamic policies
      operationId: listDynamicPolicies
      responses:
        '200':
          description: List of dynamic policies
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DynamicPolicy'
              example:
                - id: "pol_001"
                  name: "High Risk Content Filter"
                  description: "Block requests with high risk scores"
                  enabled: true
                  conditions:
                    - field: "risk_score"
                      operator: ">"
                      value: 0.8
                  actions:
                    - type: "block"
                      reason: "High risk content detected"
                - id: "pol_002"
                  name: "Rate Limit Premium Users"
                  description: "Apply premium rate limits"
                  enabled: true
                  conditions:
                    - field: "user.role"
                      operator: "=="
                      value: "premium"
                  actions:
                    - type: "rate_limit"
                      limit: 10000

  /api/v1/policies/test:
    post:
      tags:
        - Dynamic Policies
      summary: Test policy evaluation
      description: Test how dynamic policies evaluate a sample request
      operationId: testPolicy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - query
              properties:
                query:
                  type: string
                user:
                  $ref: '#/components/schemas/UserContext'
                request_type:
                  type: string
            example:
              query: "SELECT * FROM customers WHERE credit_score < 500"
              user:
                id: 123
                email: "analyst@company.com"
                role: "analyst"
              request_type: "sql"
      responses:
        '200':
          description: Policy evaluation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyEvaluationResult'
              example:
                allowed: true
                applied_policies:
                  - "sql-injection-filter"
                  - "pii-protection"
                risk_score: 0.25
                required_actions: []
                processing_time_ms: 3

  /api/v1/metrics:
    get:
      tags:
        - Metrics
      summary: Get detailed metrics
      description: Returns detailed metrics from the metrics collector
      operationId: getDetailedMetrics
      responses:
        '200':
          description: Detailed metrics
          content:
            application/json:
              schema:
                type: object

  /api/v1/audit/search:
    post:
      tags:
        - Audit
      summary: Search audit logs
      description: |
        Search audit logs by various criteria. The tenant scope is always forced
        from the `X-Tenant-ID` header (the body cannot override it); requests
        without the header are rejected with 401. `user_email` and `client_id`
        are case-insensitive partial (ILIKE substring) matches. The search
        start time is clamped to the tenant's tier-based retention window.
      operationId: searchAuditLogs
      parameters:
        - $ref: '#/components/parameters/TenantIDHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuditSearchRequest'
            example:
              user_email: "analyst@company.com"
              client_id: "analytics-app"
              start_time: "2025-01-01T00:00:00Z"
              end_time: "2025-01-15T23:59:59Z"
              action: "blocked"
              session_id: "sess-4f6a2c"
              limit: 100
      responses:
        '200':
          description: |
            Audit search results. `total` is the true pre-LIMIT match count
            for the filters, so callers can paginate with `limit`/`offset`.
            `entries` is always a JSON array (`[]` when empty, never `null`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditSearchResponse'
              example:
                entries:
                  - id: "a1b2c3d4"
                    request_id: "req_9f8e7d"
                    timestamp: "2025-01-14T10:30:00Z"
                    user_email: "analyst@company.com"
                    tenant_id: "tenant-abc"
                    request_type: "llm_chat"
                    policy_decision: "blocked"
                    session_id: "sess-4f6a2c"
                total: 235
                limit: 100
                offset: 0
        '400':
          description: Invalid request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Missing X-Tenant-ID header (tenant scoping required)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Audit search failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/audit/summary:
    post:
      tags:
        - Audit
      summary: Get audit compliance summary
      description: |
        Returns aggregated compliance summary statistics for a given date range.
        Includes total event counts, breakdowns by severity and action type,
        top triggered policies, and an overall compliance score.
      operationId: getAuditSummary
      parameters:
        - name: X-Tenant-ID
          in: header
          required: true
          description: |
            Tenant identifier for scoping results. Required to prevent cross-tenant
            data aggregation. There is no fallback header: the X-Org-ID fallback was
            removed in v6.2.0, and a request without X-Tenant-ID is rejected with 400.
          schema:
            type: string
          example: "travel-us"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - start_time
                - end_time
              properties:
                start_time:
                  type: string
                  format: date-time
                  description: Start of date range (RFC3339)
                end_time:
                  type: string
                  format: date-time
                  description: End of date range (RFC3339, must be after start_time)
            example:
              start_time: "2026-01-01T00:00:00Z"
              end_time: "2026-04-01T00:00:00Z"
      responses:
        '200':
          description: Compliance summary
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_events:
                    type: integer
                    description: Total audit events in the date range
                  by_severity:
                    type: object
                    additionalProperties:
                      type: integer
                    description: Event counts by severity (info, warning, critical)
                  by_action:
                    type: object
                    additionalProperties:
                      type: integer
                    description: Event counts by action type (llm_call, tool_call, etc.)
                  top_policies:
                    type: array
                    items:
                      type: object
                      properties:
                        policy_name:
                          type: string
                        trigger_count:
                          type: integer
                        block_count:
                          type: integer
                    description: Top 10 policies by trigger count
                  compliance_score:
                    type: number
                    format: float
                    description: "Compliance score 0-100 (100 = no blocked events)"
              example:
                total_events: 1523
                by_severity:
                  info: 1400
                  warning: 100
                  critical: 23
                by_action:
                  llm_call: 1200
                  tool_call: 300
                  policy_check: 23
                top_policies:
                  - policy_name: "demo-block-bulk-email"
                    trigger_count: 15
                    block_count: 15
                  - policy_name: "pii-detection"
                    trigger_count: 8
                    block_count: 3
                compliance_score: 98.5
        '400':
          description: |
            Invalid request (bad/missing RFC3339 timestamps, end_time not after
            start_time, range over 1 year) or missing X-Tenant-ID header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error

  /api/v1/audit/tenant/{tenant_id}:
    get:
      tags:
        - Audit
      summary: Get tenant audit logs
      description: |
        Get recent audit logs for a specific tenant. The URL tenant must match
        the session tenant carried in the `X-Tenant-ID` header: a missing header
        is rejected with 401 (fail-closed), and a mismatch with 403. Results are
        clamped to the tenant's tier-based retention window.
      operationId: getTenantAuditLogs
      parameters:
        - name: tenant_id
          in: path
          required: true
          description: Tenant identifier (must equal the X-Tenant-ID header value)
          schema:
            type: string
          example: "tenant-abc"
        - $ref: '#/components/parameters/TenantIDHeader'
        - name: limit
          in: query
          required: false
          description: Maximum number of rows to return (1-1000)
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 50
        - name: page_size
          in: query
          required: false
          description: |
            Deprecated alias for `limit` (1-1000); ignored when `limit` is
            supplied. Kept for backward compatibility.
          deprecated: true
          schema:
            type: integer
            minimum: 1
            maximum: 1000
      responses:
        '200':
          description: Tenant audit logs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AuditLogEntry'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          description: Missing X-Tenant-ID header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: URL tenant does not match the session tenant (tenant scope mismatch)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/audit/tool-call:
    post:
      tags:
        - Audit
      summary: Record a tool call audit entry
      description: |
        Records a non-LLM tool call (API calls, webhooks, MCP tool executions by external
        orchestrators) in the AxonFlow audit trail. Only `tool_name` is required; all other
        fields are optional.
      operationId: auditToolCall
      security:
        - basicAuth: []
      parameters:
        - name: X-Tenant-ID
          in: header
          required: true
          description: Tenant identifier (must match the client ID from Basic auth credentials)
          schema:
            type: string
        - name: X-Axonflow-Proxy-Auth
          in: header
          required: true
          description: |
            Internal-service HMAC token proving the request was routed through the
            AxonFlow Agent gateway (derived from `AXONFLOW_INTERNAL_SERVICE_SECRET`).
            Enforced **fail-closed in every non-Community deployment**: a missing or
            invalid token — or an unconfigured secret — is rejected with 403, in
            addition to the Basic auth requirement below. Community deployments
            without the secret configured skip this check.
          schema:
            type: string
        - name: Idempotency-Key
          in: header
          required: false
          description: |
            Optional per-request dedup token. When supplied, the platform caches
            the response for 24h and returns it byte-for-byte on subsequent
            requests carrying the same key + same authenticated tenant. A cache
            hit adds an `Idempotent-Replayed: true` response header. Pattern:
            `^[A-Za-z0-9_.:\-/]+$`, max 256 chars. 5xx responses are not cached
            so the caller's retry can hit a fresh attempt.
          schema:
            type: string
            minLength: 1
            maxLength: 256
            pattern: '^[A-Za-z0-9_.:\-/]+$'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuditToolCallRequest'
            example:
              tool_name: "getUserInfo"
              tool_type: "mcp"
              input: {}
              output: {}
              workflow_id: "wf_abc123"
              step_id: "step-3"
              user_id: "user@example.com"
              duration_ms: 45
              policies_applied: ["pii_check", "data_access"]
              success: true
              error_message: ""
      responses:
        '201':
          description: Tool call audit recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditToolCallResponse'
              example:
                audit_id: "audit_1710432000_abcd1234"
                status: "recorded"
                timestamp: "2026-03-14T12:00:00Z"
        '400':
          description: Bad request (missing tool_name, invalid body, or missing X-Tenant-ID)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Missing or invalid Basic auth credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Client ID does not match tenant scope, or request not routed through Agent gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/audit/export:
    post:
      tags:
        - Audit
      summary: Export audit logs (CSV or JSON)
      description: |
        Exports audit logs as a downloadable file. Filters mirror
        `/api/v1/audit/search` (same ILIKE user/client matching, canonical
        action expansion, JSONB policy filters and date range), so an export
        always reconciles with the on-screen search for the same filters.
        Tenant scope is forced from the `X-Tenant-ID` header.

        The export is capped at **50,000 rows**; when the cap is hit the
        response carries the `X-Audit-Export-Truncated: true` and
        `X-Audit-Export-Row-Cap` headers so callers can warn that the file is
        partial. Free-text CSV cells are formula-escaped (leading `=`, `+`,
        `-`, `@`, tab or CR is prefixed with `'`) to neutralize spreadsheet
        formula injection.
      operationId: exportAuditLogs
      parameters:
        - $ref: '#/components/parameters/TenantIDHeader'
        - name: format
          in: query
          required: false
          description: Export format. Defaults to `json`.
          schema:
            type: string
            enum: [csv, json]
            default: json
      requestBody:
        required: false
        description: |
          Optional filters. An empty body exports the whole tenant window
          (within the tier retention floor). A present-but-malformed body is a
          400.
        content:
          application/json:
            schema:
              type: object
              properties:
                user_email:
                  type: string
                  description: Case-insensitive partial (ILIKE substring) match
                client_id:
                  type: string
                  description: Case-insensitive partial (ILIKE substring) match
                action:
                  type: string
                  description: |
                    Canonical verdict filter (allowed, blocked, redacted,
                    needs_approval, error); expanded to all historical DB
                    spellings of that verdict.
                session_id:
                  type: string
                  description: Exact match on the first-class session_id column
                decision_id:
                  type: string
                  description: Matches policy_details->>'decision_id'
                policy_name:
                  type: string
                  description: Same three-shape policy_details match as /api/v1/audit/search
                override_id:
                  type: string
                  description: Matches policy_details->>'override_id'
                start_time:
                  type: string
                  format: date-time
                end_time:
                  type: string
                  format: date-time
            example:
              action: "blocked"
              start_time: "2026-06-01T00:00:00Z"
              end_time: "2026-06-30T23:59:59Z"
      responses:
        '200':
          description: |
            Export file (Content-Disposition attachment). CSV columns, in
            order: id, timestamp, user_email, tenant_id, org_id,
            policy_decision, request_type, query, response_sample, provider,
            model, response_time_ms, correlation_id, session_id.
          headers:
            X-Audit-Export-Truncated:
              description: Present (value `true`) when the 50,000-row cap was hit
              schema:
                type: string
            X-Audit-Export-Row-Cap:
              description: The row cap in effect (50000). Present only when the cap was hit, alongside X-Audit-Export-Truncated
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: object
                properties:
                  entries:
                    type: array
                    items:
                      $ref: '#/components/schemas/AuditLogEntry'
                  count:
                    type: integer
                    description: Number of entries in this export
                  truncated:
                    type: boolean
                    description: True when the row cap was hit
                  row_cap:
                    type: integer
                    example: 50000
            text/csv:
              schema:
                type: string
        '400':
          description: Invalid format value or malformed request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Missing X-Tenant-ID header (tenant scoping required)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Audit export failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Audit subsystem unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/audit/report:
    post:
      tags:
        - Audit
      summary: Per-action audit report
      description: |
        Aggregates audit logs for a window into per-action counts, average
        latency, and top policies, tenant-scoped and optionally filtered by
        user and a single canonical action. Counts reconcile with
        `/api/v1/audit/search` for the same filters.
      operationId: getAuditActionReport
      parameters:
        - $ref: '#/components/parameters/TenantIDHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - start_time
                - end_time
              properties:
                start_time:
                  type: string
                  format: date-time
                  description: Window start (RFC3339)
                end_time:
                  type: string
                  format: date-time
                  description: Window end (RFC3339, must be after start_time; range at most 1 year)
                user_email:
                  type: string
                  description: Optional case-insensitive partial match
                action:
                  type: string
                  description: Optional single canonical action filter
            example:
              start_time: "2026-06-01T00:00:00Z"
              end_time: "2026-06-30T23:59:59Z"
      responses:
        '200':
          description: Per-action report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditActionReport'
              example:
                tenant_id: "tenant-abc"
                start_time: "2026-06-01T00:00:00Z"
[...]
