openapi: 3.0.3
info:
  title: AxonFlow Orchestrator API
  description: |
    REST API for the AxonFlow Orchestrator service - Dynamic Policy Enforcement, LLM Routing, and Multi-Agent Planning.

    The Orchestrator handles:
    - **Dynamic Policy Evaluation**: Database-backed policy rules with risk scoring
    - **LLM Routing**: Intelligent routing across OpenAI, Anthropic, Bedrock, Ollama
    - **Multi-Agent Planning (MAP)**: LLM-powered task decomposition and parallel execution
    - **Response Processing**: PII detection and redaction
    - **Workflow Execution**: Step-based workflow orchestration
    - **Audit Logging**: Comprehensive request/response logging

    ## Architecture

    ```
    Client → Agent → Orchestrator → LLM Providers
                  ↘ MCP Connectors
    ```

    The Orchestrator receives pre-authenticated requests from the Agent and handles
    complex processing including LLM calls and dynamic policy evaluation.

    ## Internal API

    These endpoints are typically called by the Agent service, not directly by clients.
    For client-facing APIs, see the Agent API specification.

  version: 1.0.0
  contact:
    name: AxonFlow Support
    url: https://getaxonflow.com/support
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0

servers:
  - url: https://orchestrator.getaxonflow.com
    description: Production (SaaS)
  - url: http://localhost:8081
    description: Local Development

tags:
  - name: Health
    description: Service health and readiness
  - name: Processing
    description: Main request processing pipeline
  - name: Multi-Agent Planning
    description: LLM-powered task decomposition and execution
  - name: Agents
    description: Agent configuration management (MAP 0.8)
  - name: LLM Providers
    description: LLM provider management
  - name: Dynamic Policies
    description: Runtime policy management
  - name: Workflows
    description: Workflow execution engine
  - name: Workflow Control Plane
    description: |
      Governance gates for external orchestrators (LangChain, LangGraph, CrewAI).
      "LangChain runs the workflow. AxonFlow decides when it's allowed to move forward."

      Features:
      - Register workflows from external orchestrators
      - Check step gates before each workflow step
      - Apply policies at step transitions (allow/block/require_approval)
      - Track workflow lifecycle (in_progress/completed/aborted/failed)
  - name: Connectors
    description: Connector marketplace
  - name: Audit
    description: Audit log search and retrieval
  - name: SEBI Compliance
    description: |
      SEBI AI/ML Guidelines compliance and DPDP Act 2023 audit exports.
      Enterprise feature for Indian financial services compliance.
  - name: RBI Compliance
    description: |
      RBI FREE-AI Framework compliance for Indian banking institutions.
      Enterprise feature providing AI System Registry, Model Validation,
      Incident Management, Kill Switch, Board Reporting, and Audit Export.
  - name: EU AI Act
    description: |
      EU AI Act compliance endpoints for technical documentation export,
      conformity assessments (Article 43), and accuracy/bias tracking (Article 15).
      Enterprise feature for EU regulatory compliance.
  - name: Metrics
    description: Performance monitoring
  - name: Decision & Execution Replay
    description: |
      Decision & Execution Replay API for debugging, auditing, and compliance.
      Captures every step of workflow execution with full input/output snapshots and policy decisions.
  - name: Webhooks
    description: |
      Webhook subscription management for real-time event notifications.
      Subscribe to events like policy violations, workflow completions, budget alerts, etc.
  - name: Cost Controls
    description: |
      Budget management and LLM usage tracking for cost optimization.
      Supports budgets at organization, team, agent, workflow, and user scopes.
      Provides usage summaries, breakdowns, and pre-request budget checks.
  - name: Unified Executions
    description: |
      Unified execution tracking and real-time streaming for MAP plans and WCP workflows.
      SSE streaming provides real-time status updates. Community: 5 concurrent connections
      per tenant. Enterprise: Unlimited.
  - name: Media Governance
    description: |
      Multimodal image governance for LLM requests.
      Analyzes images for PII (via OCR), content safety, face/biometric detection, and document classification.
      Community tier provides fail-open governance with audit trail.
      Enterprise tier adds configurable enforcement and cloud analyzers.

paths:
  /health:
    get:
      tags:
        - Health
      summary: Health check
      description: |
        Returns service health status including component health:
        - Policy Engine
        - LLM Router
        - Response Processor
        - Audit Logger
        - Workflow Engine
        - Planning Engine (MAP)
        - Result Aggregator (MAP)
      operationId: healthCheck
      responses:
        '200':
          description: Service health status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
              example:
                status: healthy
                service: axonflow-orchestrator
                version: "1.0.0"
                timestamp: "2025-01-15T10:30:00Z"
                components:
                  policy_engine: true
                  llm_router: true
                  response_processor: true
                  audit_logger: true
                  workflow_engine: true
                  planning_engine: true
                  result_aggregator: true
                features:
                  multi_agent_planning: true

  /metrics:
    get:
      tags:
        - Metrics
      summary: Get performance metrics (JSON)
      description: |
        Returns comprehensive JSON metrics including:
        - Request counts and rates
        - Latency percentiles (P50, P95, P99)
        - Per-stage timing (dynamic policy, LLM)
        - Per-provider metrics (tokens, cost)
        - Health status
      operationId: getMetrics
      responses:
        '200':
          description: Performance metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricsResponse'
              example:
                orchestrator_metrics:
                  uptime_seconds: 3600
                  total_requests: 5000
                  success_requests: 4800
                  failed_requests: 100
                  blocked_requests: 100
                  success_rate: 96.0
                  rps: 1.38
                  error_rate_per_sec: 0.027
                  dynamic_policy_eval_p50_ms: 2.5
                  dynamic_policy_eval_p95_ms: 8.0
                  dynamic_policy_eval_p99_ms: 15.0
                  llm_routing_p50_ms: 500
                  llm_routing_p95_ms: 1500
                  llm_routing_p99_ms: 3000
                health:
                  up: 1
                  consecutive_errors: 0
                providers:
                  openai:
                    total_calls: 3000
                    success_calls: 2950
                    failed_calls: 50
                    total_tokens: 1500000
                    total_cost: 45.50
                    p99_ms: 2500
                  bedrock:
                    total_calls: 2000
                    success_calls: 1990
                    failed_calls: 10
                    total_tokens: 800000
                    total_cost: 12.00
                    p99_ms: 1800
                timestamp: "2025-01-15T10:30:00Z"

  /prometheus:
    get:
      tags:
        - Metrics
      summary: Prometheus metrics endpoint
      description: Returns metrics in Prometheus exposition format
      operationId: getPrometheusMetrics
      responses:
        '200':
          description: Prometheus metrics
          content:
            text/plain:
              schema:
                type: string

  /api/v1/process:
    post:
      tags:
        - Processing
      summary: Process orchestrator request
      description: |
        Main processing endpoint. Handles:
        1. Dynamic policy evaluation
        2. LLM provider routing
        3. Response processing (PII detection)
        4. Audit logging
        5. Metrics collection

        **Note**: This endpoint is typically called by the Agent, not directly by clients.
        For MCP queries (`request_type: mcp-query`), routes to the Agent MCP handler.
      operationId: processRequest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrchestratorRequest'
            examples:
              llmChat:
                summary: LLM chat request
                value:
                  request_id: "req_12345"
                  query: "Summarize the quarterly report"
                  request_type: "llm_chat"
                  user:
                    id: 123
                    email: "analyst@company.com"
                    role: "analyst"
                    permissions: ["query", "llm_chat"]
                    tenant_id: "tenant-abc"
                  client:
                    id: "analytics-app"
                    name: "Analytics Dashboard"
                    org_id: "org-123"
                    tenant_id: "tenant-abc"
                  context:
                    provider: "openai"
                    strict_provider: false
                    model_preference: "gpt-4"
                  timestamp: "2025-01-15T10:30:00Z"
              skipLLM:
                summary: Skip LLM (testing)
                value:
                  request_id: "test_001"
                  query: "Test query"
                  request_type: "llm_chat"
                  skip_llm: true
                  user:
                    id: 1
                    email: "test@test.com"
                    role: "tester"
                    tenant_id: "test-tenant"
                  client:
                    id: "test-client"
                    name: "Test"
                    tenant_id: "test-tenant"
                  timestamp: "2025-01-15T10:30:00Z"
      responses:
        '200':
          description: Request processed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrchestratorResponse'
              example:
                request_id: "req_12345"
                success: true
                data: "Here is the quarterly report summary..."
                redacted: false
                policy_info:
                  allowed: true
                  applied_policies:
                    - "rate-limit"
                    - "content-filter"
                  risk_score: 0.15
                  processing_time_ms: 5
                provider_info:
                  provider: "openai"
                  model: "gpt-4"
                  response_time_ms: 1250
                  tokens_used: 350
                  cost: 0.021
                processing_time: "1.3s"
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          description: Blocked by dynamic policy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrchestratorResponse'
              example:
                request_id: "req_12345"
                success: false
                error: "Request blocked by dynamic policy"
                policy_info:
                  allowed: false
                  applied_policies:
                    - "high-risk-content"
                  risk_score: 0.85
                  required_actions:
                    - "approval_required"
                processing_time: "8ms"
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v1/plan:
    post:
      tags:
        - Multi-Agent Planning
      summary: Execute multi-agent plan
      description: |
        Multi-Agent Planning (MAP) endpoint for complex, multi-step tasks.

        ## How MAP Works
        1. **Decomposition**: LLM analyzes query and breaks into sub-tasks
        2. **Planning**: Creates workflow with dependencies
        3. **Execution**: Runs tasks (parallel when possible)
        4. **Aggregation**: Synthesizes results into final response

        ## Execution Modes
        - `auto`: Automatically determines parallel/sequential (recommended)
        - `parallel`: Force parallel execution of all independent steps
        - `sequential`: Force sequential step-by-step execution
        - `balanced`: I/O-bound connector steps parallel, LLM steps sequential
        - `confirm`: Every step requires explicit approval (Enterprise only)
        - `step`: First step auto-executes, subsequent require approval (Enterprise only)

        ## Domains
        - `travel`: Flights, hotels, itineraries
        - `healthcare`: Medical queries
        - `finance`: Financial analysis
        - `generic`: General-purpose tasks

        Plan steps are automatically routed to matching connectors based on capabilities.
        Community: Subject to connector limits (2 connectors).
        Enterprise: Unlimited connectors with multi-connector fallback support.

        **Requires authentication**: Requests must come through the Agent.
      operationId: executePlan
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlanRequest'
            examples:
              travelPlan:
                summary: Travel planning
                value:
                  query: "Find flights from NYC to LAX next week and suggest hotels"
                  domain: "travel"
                  execution_mode: "auto"
                  user:
                    id: 123
                    email: "traveler@company.com"
                    role: "employee"
                    permissions: ["query", "mcp_query"]
                    tenant_id: "tenant-abc"
                  client:
                    id: "travel-planner"
                    name: "Travel Planning App"
                  context:
                    departure_date: "2025-01-20"
                    return_date: "2025-01-25"
                    budget: 1500
              genericPlan:
                summary: Generic task
                value:
                  query: "Research competitor pricing and create a summary report"
                  domain: "generic"
                  execution_mode: "sequential"
                  user:
                    id: 456
                    email: "analyst@company.com"
                    role: "analyst"
                    permissions: ["query", "llm_chat"]
                    tenant_id: "tenant-xyz"
      responses:
        '200':
          description: Plan executed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanResponse'
              example:
                success: true
                plan_id: "plan_1705312200_abc123"
                workflow_execution_id: "exec_xyz789"
                result:
                  flights:
                    - flight_number: "UA123"
                      price: 299
                      departure: "2025-01-20T08:00:00Z"
                  hotels:
                    - name: "Hilton LAX"
                      price_per_night: 189
                      rating: 4.5
                  summary: "Found 5 flights and 3 hotels within budget"
                metadata:
                  tasks_executed: 3
                  execution_mode: "parallel"
                  execution_time_ms: 3500
                  tasks:
                    - name: "search_flights"
                      status: "completed"
                      time_ms: 1200
                    - name: "search_hotels"
                      status: "completed"
                      time_ms: 1100
                    - name: "synthesize_results"
                      status: "completed"
                      time_ms: 800
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: "Authentication required: requests must be routed through AxonFlow Agent"
        '503':
          description: Planning engine unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/plan/{id}:
    get:
      tags:
        - Multi-Agent Planning
      summary: Get plan execution status
      description: |
        Retrieve the status of a plan by ID.

        Returns detailed execution status including:
        - Overall plan status (pending, executing, completed, failed, expired)
        - Step-level progress with completion percentage
        - Duration and cost tracking
        - Error details if execution failed

        **New in #1075:** Response now includes unified execution tracking with:
        - `steps` array with individual step status
        - `progress_percent` for real-time progress
        - `duration` for elapsed time
        - `estimated_cost_usd` and `actual_cost_usd` for cost tracking
      operationId: getPlanStatus
      parameters:
        - name: id
          in: path
          required: true
          description: Plan ID (e.g., plan_1705312200_abc123)
          schema:
            type: string
      responses:
        '200':
          description: Plan status retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanStatusResponse'
              examples:
                pending:
                  summary: Pending plan
                  value:
                    plan_id: "plan_1705312200_abc123"
                    execution_id: "plan_xyz789"
                    status: "pending"
                    query: "Find flights from NYC to LAX"
                    domain: "travel"
                    total_steps: 3
                    completed_steps: 0
                    progress_percent: 0
                    created_at: "2025-01-15T10:00:00Z"
                    expires_at: "2025-01-15T12:00:00Z"
                executing:
                  summary: Executing plan with step progress
                  value:
                    plan_id: "plan_1705312200_abc123"
                    execution_id: "plan_xyz789"
                    status: "executing"
                    query: "Research competitor pricing"
                    domain: "generic"
                    total_steps: 3
                    completed_steps: 1
                    progress_percent: 33.33
                    duration: "15s"
                    started_at: "2025-01-15T10:00:00Z"
                    steps:
                      - step_id: "step_0_analyze"
                        step_index: 0
                        step_name: "analyze"
                        step_type: "llm_call"
                        status: "completed"
                        duration: "8s"
                        model: "gpt-4"
                        provider: "openai"
                      - step_id: "step_1_research"
                        step_index: 1
                        step_name: "research"
                        step_type: "llm_call"
                        status: "running"
                        started_at: "2025-01-15T10:00:08Z"
                      - step_id: "step_2_synthesize"
                        step_index: 2
                        step_name: "synthesize"
                        step_type: "llm_call"
                        status: "pending"
                completed:
                  summary: Completed plan with costs
                  value:
                    plan_id: "plan_1705312200_abc123"
                    execution_id: "plan_xyz789"
                    status: "completed"
                    query: "Analyze sales data"
                    domain: "finance"
                    total_steps: 2
                    completed_steps: 2
                    progress_percent: 100
                    duration: "25s"
                    estimated_cost_usd: 0.05
                    actual_cost_usd: 0.042
                    created_at: "2025-01-15T10:00:00Z"
                    started_at: "2025-01-15T10:00:00Z"
                    completed_at: "2025-01-15T10:00:25Z"
                    steps:
                      - step_id: "step_0_query"
                        step_index: 0
                        step_name: "query_data"
                        step_type: "connector_call"
                        status: "completed"
                        duration: "5s"
                        cost_usd: 0.002
                      - step_id: "step_1_analyze"
                        step_index: 1
                        step_name: "analyze"
                        step_type: "llm_call"
                        status: "completed"
                        duration: "20s"
                        cost_usd: 0.04
                        model: "claude-sonnet-4"
                        provider: "anthropic"
        '404':
          description: Plan not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: "Plan not found: plan_nonexistent"
        '410':
          description: Plan expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: "Plan has expired: plan_1705312200_abc123"
        '503':
          description: Plan service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
        - Multi-Agent Planning
      summary: Update a pending plan
      description: |
        Update a plan that has not yet been executed.
        Uses optimistic locking via the `version` field — the request must include
        the expected current version. If the version doesn't match, returns 409.

        Only plans with status `pending` can be updated.
      operationId: updatePlan
      parameters:
        - name: id
          in: path
          required: true
          description: Plan ID to update
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePlanRequest'
            example:
              version: 1
              execution_mode: "parallel"
      responses:
        '200':
          description: Plan updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePlanResponse'
              example:
                success: true
                plan_id: "plan_1705312200_abc123"
                version: 2
                status: "pending"
        '404':
          description: Plan not found
        '409':
          description: Version conflict (plan was modified by another request)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: "Version conflict: expected version 1, current version is 2"

  /api/v1/plan/{id}/cancel:
    post:
      tags:
        - Multi-Agent Planning
      summary: Cancel a pending plan
      description: |
        Cancel a plan that has not yet completed execution.
        Only plans with status `pending` or `executing` can be cancelled.
        Returns 409 if the plan is already completed or cancelled.
      operationId: cancelPlan
      parameters:
        - name: id
          in: path
          required: true
          description: Plan ID to cancel
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: Optional cancellation reason
                  example: "User requested cancellation"
      responses:
        '200':
          description: Plan cancelled successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelPlanResponse'
              example:
                success: true
                plan_id: "plan_1705312200_abc123"
                status: "cancelled"
        '404':
          description: Plan not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Plan cannot be cancelled (already completed or cancelled)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: "Plan is already completed and cannot be cancelled"

  /api/v1/plan/{id}/versions:
    get:
      tags:
        - Multi-Agent Planning
      summary: Get plan version history
      description: |
        Retrieve the version history for a plan, showing all changes made.
        Each version entry includes the change type, who made it, and when.

        Community: Max 10 versions per plan, max 25 plans with versioning.
        Enterprise: Unlimited.
      operationId: getPlanVersions
      parameters:
        - name: id
          in: path
          required: true
          description: Plan ID
          schema:
            type: string
      responses:
        '200':
          description: Version history retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanVersionsResponse'
              example:
                plan_id: "plan_1705312200_abc123"
                versions:
                  - version: 1
                    changed_at: "2026-01-15T10:00:00Z"
                    change_type: "created"
                    change_summary: "Plan created"
                  - version: 2
                    changed_at: "2026-01-15T10:05:00Z"
                    changed_by: "user-123"
                    change_type: "updated"
                    change_summary: "Changed execution_mode to parallel"
        '404':
          description: Plan not found

  /api/v1/plan/{id}/resume:
    post:
      tags:
        - Multi-Agent Planning
      summary: Resume a paused plan (Enterprise only)
      description: |
        Resume execution of a plan that is paused at an approval gate.
        Used with `confirm` and `step` execution modes.

        - `confirm` mode: Every step requires explicit approval
        - `step` mode: First step auto-executes, subsequent steps require approval

        Set `approved: true` to approve and execute the next step,
        or `approved: false` to reject and abort the plan.

        **Requires:** Enterprise license.
      operationId: resumePlan
      parameters:
        - name: id
          in: path
          required: true
          description: Plan ID to resume
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                approved:
                  type: boolean
                  description: Whether to approve the pending step
                  default: true
            example:
              approved: true
      responses:
        '200':
          description: Plan resumed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResumePlanResponse'
              examples:
                awaitingNext:
                  summary: Step approved, waiting at next step
                  value:
                    plan_id: "plan_1705312200_abc123"
                    status: "awaiting_approval"
                    result: null
                completed:
                  summary: All steps complete
                  value:
                    plan_id: "plan_1705312200_abc123"
                    status: "completed"
                    result:
                      summary: "Trip booked successfully"
        '403':
          description: Enterprise license required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: "Confirm/step execution modes require an Enterprise license"
        '404':
          description: Plan not found or not awaiting approval

  /api/v1/plan/{id}/rollback/{version}:
    post:
      tags:
        - Multi-Agent Planning
      summary: Rollback plan to a previous version (Enterprise only)
      description: |
        Rollback a plan to a previously saved version. This creates a new version
        that restores the plan state from the specified historical version.

        Uses the plan's version history to retrieve the target version and applies
        it as the current state. Returns 409 if a concurrent modification occurred.

        **Requires:** Enterprise license.
      operationId: rollbackPlan
      parameters:
        - name: id
          in: path
          required: true
          description: Plan ID to rollback
          schema:
            type: string
          example: "plan_1705312200_abc123"
        - name: version
          in: path
          required: true
          description: Target version number to rollback to
          schema:
            type: integer
          example: 2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Plan rolled back successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RollbackPlanResponse'
              example:
                plan_id: "plan_1705312200_abc123"
                version: 4
                previous_version: 2
                status: "pending"
        '403':
          description: Enterprise license required (community mode)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: "Plan rollback requires an Enterprise license"
        '404':
          description: Plan or version not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: "Plan not found: plan_nonexistent"
        '409':
          description: Version conflict (concurrent modification)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: "Version conflict: plan was modified during rollback"

  # ============================================================================
  # Agent Management API (MAP 0.8)
  # ============================================================================

  /api/v1/agents:
    get:
      tags:
        - Agents
      summary: List all agents
      description: |
        Returns a paginated list of all agents from the registry.
        In hybrid mode, includes both file-based and database-backed agents.
        Database agents take priority over file agents with the same name.

        **Community:** Returns agents loaded from YAML files.
        **Enterprise:** Returns agents from both files and database.
      operationId: listAgents
      parameters:
        - name: page
          in: query
          description: Page number (1-based)
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: page_size
          in: query
          description: Number of agents per page
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
        - name: domain
          in: query
          description: Filter by domain
          schema:
            type: string
      responses:
        '200':
          description: List of agents
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentListResponse'
              example:
                agents:
                  - id: "travel/flight-booking"
                    name: "flight-booking"
                    domain: "travel"
                    description: "Flight search and booking agent"
                    version: 1
                    is_active: true
                  - id: "healthcare/patient-assistant"
                    name: "patient-assistant"
                    domain: "healthcare"
                    description: "Patient query assistant"
                    version: 2
                    is_active: true
                pagination:
                  page: 1
                  page_size: 20
                  total: 2
                  total_pages: 1
    post:
      tags:
        - Agents
      summary: Create new agent (Enterprise)
      description: |
        Create a new agent configuration in the database.
        **Enterprise only** - requires database-backed storage.

        The agent is created with version 1 and marked as active by default.
        A version history entry is automatically created.
      operationId: createAgent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAgentRequest'
            example:
              name: "travel-planner"
              domain: "travel"
              description: "Travel planning and booking assistant"
              is_active: true
              config:
                execution:
                  default_mode: "auto"
                  max_parallel_tasks: 5
                  timeout_seconds: 300
                agents:
                  - name: "flight-search"
                    type: "llm-call"
                    llm:
                      provider: "anthropic"
                      model: "claude-sonnet-4"
                routing:
                  - pattern: "flight|fly"
                    agent: "flight-search"
                    priority: 10
      responses:
        '201':
          description: Agent created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentResponse'
        '400':
          description: Invalid request or validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Agent with same name already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/agents/{id}:
    get:
      tags:
        - Agents
      summary: Get agent by ID
      description: |
        Returns detailed information about a specific agent.
        The ID format is `domain/name` (e.g., `travel/flight-booking`).
      operationId: getAgent
      parameters:
        - name: id
          in: path
          required: true
          description: Agent ID in format domain/name
          schema:
            type: string
          example: "travel/flight-booking"
      responses:
        '200':
          description: Agent details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentResource'
        '404':
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
        - Agents
      summary: Update agent (Enterprise)
      description: |
        Update an existing agent configuration.
        **Enterprise only** - requires database-backed storage.

        Updates increment the version number automatically.
        A version history entry is created for the change.
      operationId: updateAgent
      parameters:
        - name: id
          in: path
          required: true
          description: Agent ID (UUID)
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAgentRequest'
      responses:
        '200':
          description: Agent updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - Agents
      summary: Delete agent (Enterprise)
      description: |
        Delete an agent configuration.
        **Enterprise only** - requires database-backed storage.

        The deletion is recorded in the version history before removal.
      operationId: deleteAgent
      parameters:
        - name: id
          in: path
          required: true
          description: Agent ID (UUID)
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Agent deleted
        '404':
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/agents/domain/{domain}:
    get:
      tags:
        - Agents
      summary: List agents by domain
      description: Returns all agents for a specific domain (e.g., travel, healthcare)
      operationId: listAgentsByDomain
      parameters:
        - name: domain
          in: path
          required: true
          description: Domain name
          schema:
            type: string
          example: "travel"
      responses:
        '200':
          description: List of agents in domain
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentListResponse'

  /api/v1/agents/validate:
    post:
      tags:
        - Agents
      summary: Validate agent configuration
      description: |
        Validates an agent configuration without creating it.
        Useful for dry-run validation before deployment.

        Checks:
        - Required fields present
        - Name/domain format valid
        - Agent types valid (llm-call, connector-call)
        - LLM config complete for llm-call agents
        - Routing rules reference defined agents
      operationId: validateAgent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateAgentRequest'
      responses:
        '200':
          description: Validation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationResponse'
              example:
                valid: true
                errors: []
        '400':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationResponse'
              example:
                valid: false
                errors:
                  - "field 'name' is required"
                  - "routing rule references undefined agent 'unknown-agent'"

  /api/v1/agents/{id}/activate:
    post:
      tags:
        - Agents
      summary: Activate agent (Enterprise)
      description: |
        Activate a deactivated agent.
        **Enterprise only** - requires database-backed storage.
      operationId: activateAgent
      parameters:
        - name: id
          in: path
          required: true
          description: Agent ID (UUID)
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Agent activated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentResponse'
        '404':
          description: Agent not found

  /api/v1/agents/{id}/deactivate:
    post:
      tags:
        - Agents
      summary: Deactivate agent (Enterprise)
      description: |
        Deactivate an agent without deleting it.
        **Enterprise only** - requires database-backed storage.
      operationId: deactivateAgent
      parameters:
        - name: id
          in: path
          required: true
          description: Agent ID (UUID)
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Agent deactivated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentResponse'
        '404':
          description: Agent not found

  /api/v1/agents/{id}/test:
    post:
      tags:
        - Agents
      summary: Test agent in sandbox (Enterprise)
      description: |
        Test an agent configuration in a sandbox environment.
        **Enterprise only** - requires database-backed storage.

        Executes a test query against the agent without affecting production.
      operationId: testAgent
      parameters:
        - name: id
          in: path
          required: true
          description: Agent ID (UUID)
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestAgentRequest'
            example:
              query: "Search for flights from NYC to LAX"
              context:
                departure_date: "2025-01-15"
      responses:
        '200':
          description: Test result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestAgentResponse'
        '404':
          description: Agent not found

  /api/v1/agents/{id}/versions:
    get:
      tags:
        - Agents
      summary: Get agent version history (Enterprise)
      description: |
        Returns the version history for an agent.
        **Enterprise only** - requires database-backed storage.

        Includes all changes: create, update, delete, activate, deactivate.
      operationId: getAgentVersions
      parameters:
        - name: id
          in: path
          required: true
          description: Agent ID (UUID)
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          description: Maximum number of versions to return
          schema:
            type: integer
            default: 50
            maximum: 100
      responses:
        '200':
          description: Version history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentVersionsResponse'
              example:
                versions:
                  - version: 2
                    change_type: "update"
                    changed_at: "2025-12-07T12:00:00Z"
                    change_summary: "Updated routing rules"
                  - version: 1
                    change_type: "create"
                    changed_at: "2025-12-06T10:00:00Z"
                    change_summary: "Initial creation"
        '404':
          description: Agent not found

  /api/v1/providers/status:
    get:
      tags:
        - LLM Providers
      summary: Get LLM provider status
      description: Returns status and availability of all configured LLM providers
      operationId: getProviderStatus
      responses:
        '200':
          description: Provider status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderStatusResponse'
              example:
                providers:
                  - name: "openai"
                    available: true
                    models:
                      - "gpt-4"
                      - "gpt-4o"
                      - "gpt-4o-mini"
                    weight: 0.4
                    avg_latency_ms: 1200
                  - name: "bedrock"
                    available: true
                    models:
                      - "anthropic.claude-v2"
                      - "amazon.titan-text"
                    weight: 0.4
                    avg_latency_ms: 900
                  - name: "ollama"
                    available: true
                    models:
                      - "llama3.2"
                      - "mistral"
                    weight: 0.2
                    avg_latency_ms: 500

  /api/v1/providers/weights:
    put:
      tags:
        - LLM Providers
      summary: Update provider routing weights
      description: |
        Update the routing weights for LLM providers.
        Weights determine the probability of routing to each provider.
        Weights must sum to 1.0.
      operationId: updateProviderWeights
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: number
                minimum: 0
                maximum: 1
            example:
              openai: 0.5
              bedrock: 0.3
              ollama: 0.2
      responses:
        '200':
          description: Weights updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
              example:
                status: success
                message: "Provider weights updated"
        '400':
          $ref: '#/components/responses/BadRequest'

  # New Pluggable LLM Provider Management API (Issue #388)
  /api/v1/llm-provider-types:
    get:
      tags:
        - LLM Providers
      summary: List available provider types
      description: |
        Returns a list of available LLM provider types (factory info).
        This endpoint helps clients discover what provider types can be configured.
      operationId: listLLMProviderTypes
      responses:
        '200':
          description: List of available provider types
          content:
            application/json:
              schema:
                type: object
                properties:
                  provider_types:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          enum: [openai, azure-openai, anthropic, bedrock, ollama, gemini, custom]
                        name:
                          type: string
                          description: Human-readable name
                        description:
                          type: string
                        supports_streaming:
                          type: boolean
                        requires_api_key:
                          type: boolean
                        configuration_schema:
                          type: object
                          description: JSON Schema for provider configuration
              example:
                provider_types:
                  - type: openai
                    name: OpenAI
                    description: "OpenAI GPT models (gpt-4, gpt-4o-mini)"
                    supports_streaming: true
                    requires_api_key: true
                  - type: anthropic
                    name: Anthropic
                    description: "Anthropic Claude models"
                    supports_streaming: true
                    requires_api_key: true
                  - type: bedrock
                    name: AWS Bedrock
                    description: "AWS Bedrock models (Claude, Titan, Llama)"
                    supports_streaming: true
                    requires_api_key: false
                  - type: ollama
                    name: Ollama
                    description: "Local Ollama models"
                    supports_streaming: true
                    requires_api_key: false
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/llm-providers:
    get:
      tags:
        - LLM Providers
      summary: List LLM providers
      description: |
        Returns a paginated list of configured LLM providers.
        Supports filtering by type and enabled status.
      operationId: listLLMProviders
      parameters:
        - name: type
          in: query
          description: Filter by provider type
          schema:
            type: string
            enum: [openai, azure-openai, anthropic, bedrock, ollama, gemini, custom]
        - name: enabled
          in: query
          description: Filter by enabled status
          schema:
            type: boolean
        - name: page
          in: query
          description: Page number (1-indexed)
          schema:
            type: integer
            default: 1
        - name: page_size
          in: query
          description: Items per page
          schema:
            type: integer
            default: 20
            maximum: 100
      responses:
        '200':
          description: List of LLM providers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LLMProviderListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags:
        - LLM Providers
      summary: Create LLM provider
      description: |
        Register a new LLM provider. API keys can be provided directly
        or via AWS Secrets Manager ARN for secure credential storage.
      operationId: createLLMProvider
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLLMProviderRequest'
      responses:
        '201':
          description: Provider created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LLMProviderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: Provider already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LLMProviderAPIError'

  /api/v1/llm-providers/{name}:
    get:
      tags:
        - LLM Providers
      summary: Get LLM provider
      description: Returns details for a specific LLM provider
      operationId: getLLMProvider
      parameters:
        - name: name
          in: path
          required: true
          description: Provider name
          schema:
            type: string
      responses:
        '200':
          description: Provider details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LLMProviderResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Provider not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LLMProviderAPIError'

    put:
      tags:
        - LLM Providers
      summary: Update LLM provider
      description: |
        Update an existing LLM provider configuration.
        Only provided fields are updated (partial update).
      operationId: updateLLMProvider
      parameters:
        - name: name
          in: path
          required: true
          description: Provider name
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLLMProviderRequest'
      responses:
        '200':
          description: Provider updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LLMProviderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Provider not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LLMProviderAPIError'

    delete:
      tags:
        - LLM Providers
      summary: Delete LLM provider
      description: Remove an LLM provider configuration
      operationId: deleteLLMProvider
      parameters:
        - name: name
          in: path
          required: true
          description: Provider name
          schema:
            type: string
      responses:
        '204':
          description: Provider deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Provider not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LLMProviderAPIError'

  /api/v1/llm-providers/{name}/health:
    get:
      tags:
        - LLM Providers
      summary: Get provider health
      description: Check health status of a specific LLM provider
      operationId: getLLMProviderHealth
      parameters:
        - name: name
          in: path
          required: true
          description: Provider name
          schema:
            type: string
      responses:
        '200':
          description: Provider health status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LLMProviderHealthResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Provider not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LLMProviderAPIError'

  /api/v1/llm-providers/{name}/test:
    post:
      tags:
        - LLM Providers
      summary: Test LLM provider connection
      description: |
        Tests a provider connection by making a simple API call.
        Returns success status and latency information.
      operationId: testLLMProvider
      parameters:
        - name: name
          in: path
          required: true
          description: Provider name
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
                  description: Optional test prompt (default is simple greeting)
                  example: "Say hello in one word."
                model:
                  type: string
                  description: Optional model to test with
      responses:
        '200':
          description: Provider test result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  provider:
                    type: string
                  latency_ms:
                    type: number
                  response:
                    type: string
                    description: Model response (if successful)
                  error:
                    type: string
                    description: Error message (if failed)
              example:
                success: true
                provider: "openai"
                latency_ms: 245
                response: "Hello!"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Provider not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LLMProviderAPIError'
        '503':
          description: Provider connection failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: "Connection timeout"

  /api/v1/llm-providers/status:
    get:
      tags:
        - LLM Providers
      summary: Get all providers status
      description: |
        Returns status information for all configured LLM providers.
        Includes enabled status, configuration summary, and last health check.
      operationId: getAllLLMProvidersStatus
      responses:
        '200':
          description: All providers status
          content:
            application/json:
              schema:
                type: object
                properties:
                  providers:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        type:
                          type: string
                        enabled:
                          type: boolean
                        healthy:
                          type: boolean
                        last_check:
                          type: string
                          format: date-time
                        models_count:
                          type: integer
              example:
                providers:
                  - name: "openai-primary"
                    type: "openai"
                    enabled: true
                    healthy: true
                    last_check: "2025-01-03T10:30:00Z"
                    models_count: 5
                  - name: "anthropic-backup"
                    type: "anthropic"
                    enabled: true
                    healthy: true
                    last_check: "2025-01-03T10:30:00Z"
                    models_count: 3
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/llm-providers/health:
    get:
      tags:
        - LLM Providers
      summary: Get all providers health
      description: Check health status of all configured LLM providers
      operationId: getAllLLMProvidersHealth
      responses:
        '200':
          description: All providers health status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LLMProviderHealthAllResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/llm-providers/routing:
    get:
      tags:
        - LLM Providers
      summary: Get routing configuration
      description: Get current LLM provider routing weights
      operationId: getLLMRoutingConfig
      responses:
        '200':
          description: Routing configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LLMRoutingConfigResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

    put:
      tags:
        - LLM Providers
      summary: Update routing weights
      description: |
        Update LLM provider routing weights.
        Weights are integers representing relative priority.
      operationId: updateLLMRoutingWeights
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLLMRoutingRequest'
      responses:
        '200':
          description: Routing weights updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LLMRoutingConfigResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # =============================================================================
  # Policy CRUD API
  # =============================================================================
  /api/v1/policies:
    get:
      tags:
        - Dynamic Policies
      summary: List policies
      description: |
        Returns a paginated list of policies with filtering support.
        Use this for policy management in the Customer Portal.
      operationId: listPolicies
      parameters:
        - name: X-Tenant-ID
          in: header
          required: true
          schema:
            type: string
        - name: type
          in: query
          description: Filter by policy type
          schema:
            type: string
            enum: [static, dynamic]
        - name: enabled
          in: query
          description: Filter by enabled status
          schema:
            type: boolean
        - name: search
          in: query
          description: Search in name and description
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: page_size
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: sort_by
          in: query
          schema:
            type: string
            enum: [name, created_at, updated_at, priority]
        - name: sort_dir
          in: query
          schema:
            type: string
            enum: [asc, desc]
            default: asc
      responses:
        '200':
          description: List of policies
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PoliciesListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
        - Dynamic Policies
      summary: Create policy
      description: Create a new policy
      operationId: createPolicy
      parameters:
        - name: X-Tenant-ID
          in: header
          required: true
          schema:
            type: string
        - name: X-User-ID
          in: header
          required: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePolicyRequest'
      responses:
        '201':
          description: Policy created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/policies/import:
    post:
      tags:
        - Dynamic Policies
      summary: Import policies
      description: |
        Bulk import policies from JSON or YAML format.
        Supports create or update semantics based on policy_id.
      operationId: importPolicies
      parameters:
        - name: X-Tenant-ID
          in: header
          required: true
          schema:
            type: string
        - name: X-User-ID
          in: header
          required: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - policies
              properties:
                policies:
                  type: array
                  items:
                    $ref: '#/components/schemas/CreatePolicyRequest'
                mode:
                  type: string
                  enum: [create, upsert]
                  default: upsert
                  description: Import mode - create only or upsert (create or update)
      responses:
        '200':
          description: Import result
          content:
            application/json:
              schema:
                type: object
                properties:
                  created:
                    type: integer
                  updated:
                    type: integer
                  failed:
                    type: integer
                  errors:
                    type: array
                    items:
                      type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/policies/export:
    get:
      tags:
        - Dynamic Policies
      summary: Export policies
      description: Export all policies in JSON or YAML format for backup or migration
      operationId: exportPolicies
      parameters:
        - name: X-Tenant-ID
          in: header
          required: true
          schema:
            type: string
        - name: format
          in: query
          description: Export format
          schema:
            type: string
            enum: [json, yaml]
            default: json
        - name: type
          in: query
          description: Filter by policy type
          schema:
            type: string
            enum: [static, dynamic, all]
            default: all
      responses:
        '200':
          description: Exported policies
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: string
                    example: "1.0"
                  exported_at:
                    type: string
                    format: date-time
                  policies:
                    type: array
                    items:
                      $ref: '#/components/schemas/Policy'
            application/x-yaml:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/policies/{id}:
    get:
      tags:
        - Dynamic Policies
      summary: Get policy by ID
      operationId: getPolicy
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Tenant-ID
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Policy details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Policy not found
    put:
      tags:
        - Dynamic Policies
      summary: Update policy
      operationId: updatePolicy
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Tenant-ID
          in: header
          required: true
          schema:
            type: string
        - name: X-User-ID
          in: header
          required: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePolicyRequest'
      responses:
        '200':
          description: Policy updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Policy not found
    delete:
      tags:
        - Dynamic Policies
      summary: Delete policy
      operationId: deletePolicy
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Tenant-ID
          in: header
          required: true
          schema:
            type: string
        - name: X-User-ID
          in: header
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Policy deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Policy not found

  /api/v1/policies/{id}/test:
    post:
      tags:
        - Dynamic Policies
      summary: Test policy against input
      description: Test how a specific policy evaluates against sample input
      operationId: testPolicyById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Tenant-ID
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - query
              properties:
                query:
                  type: string
                  description: Input to evaluate
                context:
                  type: object
                  description: Additional context
      responses:
        '200':
          description: Test result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyEvaluationResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Policy not found

  /api/v1/policies/{id}/versions:
    get:
      tags:
        - Dynamic Policies
      summary: Get policy version history
      description: |
        Returns version history for a policy.
        Community edition limited to 5 versions.
      operationId: getPolicyVersions
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Tenant-ID
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Version history
          content:
            application/json:
              schema:
                type: object
                properties:
                  policy_id:
                    type: string
                  versions:
                    type: array
                    items:
                      type: object
                      properties:
                        version:
                          type: integer
                        snapshot:
                          type: object
                        change_type:
                          type: string
                        changed_by:
                          type: string
                        changed_at:
                          type: string
                          format: date-time
                  count:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Policy not found

  /api/v1/policies/dynamic:
    get:
      tags:
        - Dynamic Policies
      summary: List active dynamic policies
      description: Returns all active dynamic policies
      operationId: listDynamicPolicies
      responses:
        '200':
          description: List of dynamic policies
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DynamicPolicy'
              example:
                - id: "pol_001"
                  name: "High Risk Content Filter"
                  description: "Block requests with high risk scores"
                  enabled: true
                  conditions:
                    - field: "risk_score"
                      operator: ">"
                      value: 0.8
                  actions:
                    - type: "block"
                      reason: "High risk content detected"
                - id: "pol_002"
                  name: "Rate Limit Premium Users"
                  description: "Apply premium rate limits"
                  enabled: true
                  conditions:
                    - field: "user.role"
                      operator: "=="
                      value: "premium"
                  actions:
                    - type: "rate_limit"
                      limit: 10000

  /api/v1/policies/test:
    post:
      tags:
        - Dynamic Policies
      summary: Test policy evaluation
      description: Test how dynamic policies evaluate a sample request
      operationId: testPolicy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - query
              properties:
                query:
                  type: string
                user:
                  $ref: '#/components/schemas/UserContext'
                request_type:
                  type: string
            example:
              query: "SELECT * FROM customers WHERE credit_score < 500"
              user:
                id: 123
                email: "analyst@company.com"
                role: "analyst"
              request_type: "sql"
      responses:
        '200':
          description: Policy evaluation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyEvaluationResult'
              example:
                allowed: true
                applied_policies:
                  - "sql-injection-filter"
                  - "pii-protection"
                risk_score: 0.25
                required_actions: []
                processing_time_ms: 3

  /api/v1/metrics:
    get:
      tags:
        - Metrics
      summary: Get detailed metrics
      description: Returns detailed metrics from the metrics collector
      operationId: getDetailedMetrics
      responses:
        '200':
          description: Detailed metrics
          content:
            application/json:
              schema:
                type: object

  /api/v1/audit/search:
    post:
      tags:
        - Audit
      summary: Search audit logs
      description: Search audit logs by various criteria
      operationId: searchAuditLogs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuditSearchRequest'
            example:
              user_email: "analyst@company.com"
              client_id: "analytics-app"
              start_time: "2025-01-01T00:00:00Z"
              end_time: "2025-01-15T23:59:59Z"
              request_type: "llm_chat"
              limit: 100
      responses:
        '200':
          description: Audit search results
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AuditLogEntry'

  /api/v1/audit/tenant/{tenant_id}:
    get:
      tags:
        - Audit
      summary: Get tenant audit logs
      description: Get recent audit logs for a specific tenant
      operationId: getTenantAuditLogs
      parameters:
        - name: tenant_id
          in: path
          required: true
          description: Tenant identifier
          schema:
            type: string
          example: "tenant-abc"
      responses:
        '200':
          description: Tenant audit logs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AuditLogEntry'
        '400':
          $ref: '#/components/responses/BadRequest'

  # =============================================================================
  # SEBI Compliance APIs (Enterprise)
  # Indian Financial Services - SEBI AI/ML Guidelines & DPDP Act 2023
  # =============================================================================

  /api/v1/sebi/dashboard:
    get:
      tags:
        - SEBI Compliance
      summary: Get SEBI compliance dashboard
      description: |
        Returns a comprehensive SEBI compliance dashboard including:
        - Overall compliance score and status
        - 5-year retention status
        - PII detection/redaction metrics (PAN, Aadhaar)
        - Policy violation summary with trend
        - HITL review queue

        **Enterprise Feature**: Available only for Indian financial services deployments.
      operationId: getSEBIDashboard
      responses:
        '200':
          description: SEBI compliance dashboard data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SEBIDashboard'
              example:
                framework: "SEBI_DPDP_COMBINED"
                overall_score: 85
                overall_status: "COMPLIANT"
                last_audit_export: "2024-12-01T10:00:00Z"
                retention_status:
                  org_id: 123
                  framework: "SEBI_AI_ML"
                  compliance_status: "COMPLIANT"
                violations_summary:
                  total: 142
                  by_severity:
                    critical: 2
                    high: 15
                    medium: 45
                    low: 80
                  trend: "improving"
                pii_summary:
                  total_detections: 5420
                  total_redactions: 5350
                  redaction_rate_percent: 98.7
                hitl_reviews_pending: 3
        '403':
          description: Not authorized for SEBI compliance features
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/sebi/audit/export:
    post:
      tags:
        - SEBI Compliance
      summary: Export SEBI audit data
      description: |
        Export audit data for SEBI regulatory submission. Supports:
        - Multiple compliance frameworks (SEBI AI/ML, DPDP, Combined)
        - Various data types (policy violations, LLM calls, decision chain, HITL, PII redactions)
        - Multiple export formats (JSON, CSV, XML)
        - Optional PII redaction for external auditors

        Large exports are processed asynchronously. Poll the export status endpoint
        to check completion and get the download URL.

        **5-Year Retention**: Per SEBI AI/ML Guidelines, all audit data is retained
        for minimum 5 years (1825 days).
      operationId: exportSEBIAuditData
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SEBIAuditExportRequest'
            example:
              start_date: "2024-01-01T00:00:00Z"
              end_date: "2024-12-31T23:59:59Z"
              data_types:
                - policy_violations
                - llm_calls
                - pii_redactions
              format: json
              framework: SEBI_DPDP_COMBINED
              redact_pii: false
      responses:
        '200':
          description: Export started (sync) or queued (async)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SEBIAuditExportResponse'
              example:
                export_id: "exp_abc123"
                status: "processing"
                framework: "SEBI_DPDP_COMBINED"
                metadata:
                  export_version: "1.0"
                  generated_by: "axonflow-orchestrator"
                  org_id: 123
                  retention_days: 1825
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/v1/sebi/audit/export/{export_id}:
    get:
      tags:
        - SEBI Compliance
      summary: Get export status
      description: |
        Get the status of an asynchronous SEBI audit export.
        When status is "completed", the download_url will be provided.
      operationId: getSEBIExportStatus
      parameters:
        - name: export_id
          in: path
          required: true
          description: Export ID from the export request
          schema:
            type: string
          example: "exp_abc123"
      responses:
        '200':
          description: Export status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SEBIAuditExportResponse'
              example:
                export_id: "exp_abc123"
                status: "completed"
                framework: "SEBI_DPDP_COMBINED"
                download_url: "/api/v1/sebi/audit/export/exp_abc123/download"
                expires_at: "2024-12-08T14:00:00Z"
                summary:
                  total_records: 15420
                  compliance_score: 85.5
        '404':
          description: Export not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/sebi/audit/retention:
    get:
      tags:
        - SEBI Compliance
      summary: Get retention status
      description: |
        Get the 5-year retention compliance status for all audit data types.

        SEBI AI/ML Guidelines require:
        - All AI/ML decisions retained for 5 years
        - Audit trail for human oversight
        - Decision chain tracing

        This endpoint reports compliance status for each data type.
      operationId: getSEBIRetentionStatus
      responses:
        '200':
          description: Retention status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SEBIRetentionResponse'
              example:
                org_id: 123
                framework: "SEBI_AI_ML"
                compliance_status: "COMPLIANT"
                status:
                  - data_type: "policy_violations"
                    retention_days: 1825
                    total_records: 15420
                    oldest_record: "2020-01-15T10:30:00Z"
                    compliance_status: "COMPLIANT"
                  - data_type: "llm_calls"
                    retention_days: 1825
                    total_records: 250000
                    oldest_record: "2020-06-01T08:00:00Z"
                    compliance_status: "COMPLIANT"

  /api/v1/sebi/audit/readiness:
    get:
      tags:
        - SEBI Compliance
      summary: Check compliance readiness
      description: |
        Validate organization readiness for SEBI regulatory audit.

        Checks include:
        - Retention configuration (5-year minimum)
        - PII detection policies
        - Human oversight mechanisms
        - Audit logging completeness
        - Decision chain tracing

        Returns a score (0-100) and actionable recommendations.
      operationId: getSEBIComplianceReadiness
      responses:
        '200':
          description: Compliance readiness assessment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SEBIComplianceReadiness'
              example:
                ready: true
                score: 85
                checks:
                  - name: "Retention Configuration"
                    status: "pass"
                    message: null
                  - name: "PII Detection Policies"
                    status: "pass"
                    message: null
                  - name: "Human Oversight"
                    status: "pass"
                    message: null
                  - name: "Decision Chain Tracing"
                    status: "warning"
                    message: "Consider enabling for full audit trail"
                recommendations:
                  - "Enable decision chain tracing to maintain full audit trail of AI decisions"

  # ============================================================================
  # EU AI Act Compliance Endpoints
  # ============================================================================

  /api/v1/euaiact/export:
    post:
      tags:
        - EU AI Act
      summary: Create compliance export
      description: |
        Creates a new EU AI Act compliance export job for technical documentation (Article 11).

        Export types:
        - `full_audit`: Complete audit trail for regulatory review
        - `conformity_evidence`: Evidence for conformity assessments
        - `hitl_summary`: Human-in-the-loop decision summary
        - `decision_chain`: Full decision chain tracing
        - `policy_violations`: Policy violation records
        - `accuracy_metrics`: Model accuracy and bias metrics
      operationId: createEUAIActExport
      parameters:
        - $ref: '#/components/parameters/OrgIDHeader'
        - $ref: '#/components/parameters/UserIDHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EUAIActExportRequest'
            example:
              export_type: "full_audit"
              format: "json"
              date_from: "2025-01-01T00:00:00Z"
              date_to: "2025-12-31T23:59:59Z"
      responses:
        '202':
          description: Export job created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EUAIActExport'
        '400':
          $ref: '#/components/responses/BadRequest'
    get:
      tags:
        - EU AI Act
      summary: List exports
      description: List EU AI Act compliance exports for the organization.
      operationId: listEUAIActExports
      parameters:
        - $ref: '#/components/parameters/OrgIDHeader'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200':
          description: List of exports
          content:
            application/json:
              schema:
                type: object
                properties:
                  exports:
                    type: array
                    items:
                      $ref: '#/components/schemas/EUAIActExport'
                  total:
                    type: integer
                  limit:
                    type: integer
                  offset:
                    type: integer
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/v1/euaiact/export/{export_id}:
    get:
      tags:
        - EU AI Act
      summary: Get export status
      description: Get the status of a specific export job.
      operationId: getEUAIActExport
      parameters:
        - name: export_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Export details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EUAIActExport'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/euaiact/export/{export_id}/download:
    get:
      tags:
        - EU AI Act
      summary: Download export
      description: Download a completed export file.
      operationId: downloadEUAIActExport
      parameters:
        - name: export_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Export file metadata
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  file_path:
                    type: string
                  file_size:
                    type: integer
                  format:
                    type: string
        '400':
          description: Export not yet completed
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/euaiact/conformity:
    post:
      tags:
        - EU AI Act
      summary: Create conformity assessment
      description: |
        Create a new EU AI Act conformity assessment (Article 43).
        Used to document compliance for high-risk AI systems.
      operationId: createConformityAssessment
      parameters:
        - $ref: '#/components/parameters/OrgIDHeader'
        - $ref: '#/components/parameters/UserIDHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConformityRequest'
            example:
              system_id: "ai-system-001"
              system_name: "Customer Risk Scoring Model"
              risk_category: "high-risk"
              assessors:
                - "compliance@company.com"
      responses:
        '201':
          description: Assessment created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConformityAssessment'
        '400':
          $ref: '#/components/responses/BadRequest'
    get:
      tags:
        - EU AI Act
      summary: List conformity assessments
      description: List conformity assessments for the organization.
      operationId: listConformityAssessments
      parameters:
        - $ref: '#/components/parameters/OrgIDHeader'
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, in_progress, submitted, approved, rejected]
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200':
          description: List of assessments
          content:
            application/json:
              schema:
                type: object
                properties:
                  assessments:
                    type: array
                    items:
                      $ref: '#/components/schemas/ConformityAssessment'
                  total:
                    type: integer
                  limit:
                    type: integer
                  offset:
                    type: integer

  /api/v1/euaiact/conformity/{assessment_id}:
    get:
      tags:
        - EU AI Act
      summary: Get conformity assessment
      description: Get details of a specific conformity assessment.
      operationId: getConformityAssessment
      parameters:
        - name: assessment_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Assessment details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConformityAssessment'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
        - EU AI Act
      summary: Update conformity assessment
      description: Update a conformity assessment (only allowed for draft/in_progress status).
      operationId: updateConformityAssessment
      parameters:
        - name: assessment_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateConformityRequest'
      responses:
        '200':
          description: Assessment updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConformityAssessment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/euaiact/conformity/{assessment_id}/submit:
    post:
      tags:
        - EU AI Act
      summary: Submit assessment for review
      description: Submit a conformity assessment for approval review.
      operationId: submitConformityAssessment
      parameters:
        - name: assessment_id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/UserIDHeader'
      responses:
        '200':
          description: Assessment submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConformityAssessment'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/v1/euaiact/conformity/{assessment_id}/approve:
    post:
      tags:
        - EU AI Act
      summary: Approve assessment
      description: Approve a submitted conformity assessment.
      operationId: approveConformityAssessment
      parameters:
        - name: assessment_id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/UserIDHeader'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                validity_years:
                  type: integer
                  default: 1
                  description: Number of years the approval is valid
      responses:
        '200':
          description: Assessment approved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConformityAssessment'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/v1/euaiact/conformity/{assessment_id}/reject:
    post:
      tags:
        - EU AI Act
      summary: Reject assessment
      description: Reject a submitted conformity assessment.
      operationId: rejectConformityAssessment
      parameters:
        - name: assessment_id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/UserIDHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - reason
              properties:
                reason:
                  type: string
                  description: Reason for rejection
      responses:
        '200':
          description: Assessment rejected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConformityAssessment'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/v1/euaiact/accuracy:
    get:
      tags:
        - EU AI Act
      summary: Get accuracy summary
      description: |
        Get accuracy and bias tracking summary for the organization (Article 15).
        Provides overview of model performance and compliance status.
      operationId: getAccuracySummary
      parameters:
        - $ref: '#/components/parameters/OrgIDHeader'
      responses:
        '200':
          description: Accuracy summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccuracySummary'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/v1/euaiact/accuracy/record:
    post:
      tags:
        - EU AI Act
      summary: Record accuracy metric
      description: Record an accuracy metric for a model.
      operationId: recordAccuracyMetric
      parameters:
        - $ref: '#/components/parameters/OrgIDHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordAccuracyRequest'
            example:
              model_id: "model-001"
              metric_type: "accuracy"
              value: 0.95
              sample_size: 10000
      responses:
        '201':
          description: Metric recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccuracyMetric'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/v1/euaiact/accuracy/bias:
    post:
      tags:
        - EU AI Act
      summary: Record bias measurement
      description: Record a bias detection measurement for a model.
      operationId: recordBiasMeasurement
      parameters:
        - $ref: '#/components/parameters/OrgIDHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordBiasRequest'
            example:
              model_id: "model-001"
              category: "gender"
              group_a: "male"
              group_b: "female"
              group_a_rate: 0.82
              group_b_rate: 0.79
              sample_size: 5000
      responses:
        '201':
          description: Bias record created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BiasRecord'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/v1/euaiact/accuracy/history:
    get:
      tags:
        - EU AI Act
      summary: Get accuracy history
      description: Get historical accuracy metrics for filtering and analysis.
      operationId: getAccuracyHistory
      parameters:
        - $ref: '#/components/parameters/OrgIDHeader'
        - name: model_id
          in: query
          schema:
            type: string
        - name: metric_type
          in: query
          schema:
            type: string
            enum: [accuracy, precision, recall, f1_score, auc_roc, auc_pr, mse, mae, custom]
        - name: from
          in: query
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          schema:
            type: string
            format: date-time
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200':
          description: Accuracy metrics history
          content:
            application/json:
              schema:
                type: object
                properties:
                  metrics:
[...]
